{% include 'customer-account-common-code' with 'theme-layout-code' %}
{% include 'customer-account-common-code' with 'access-rights-fs' %}

<div class="section-header1 section-header--large1 printModeExclude">
  <h1 class="section-header__title"><b class="placeholdLoader">{{ 'customer.account.title' | t }}</b></h1>
  <hr style="margin: 15px 0;">
</div>

<div class="grid">

  <div class="grid__item medium-down-- one-whole print-one-whole1">
    <h2 style="display:inline-block;" class="h3 w3-margin-0"><b class="placeholdLoader">{{ 'customer.orders.title' | t }}</b></h2>

    <div class="w3-right printModeExclude text-right per_page_wrapper" style="display:none; width:238px;">
      <label for="per_page" style="display:inline-block;" class="placeholdLoader">Per Page: &nbsp;</label>
      <select id="per_page" class="per_page placeholdLoader" style="max-width:60px; display:inline-block;" onchange="updateState({page: '1',per_page: this.value});updatePerPage(this.value);">
        <option selected value='10'>10</option>
        <option {% if customer_per_page == '20' %}selected{% endif %} value='20'>20</option>
        <option {% if customer_per_page == '30' %}selected{% endif %} value='30'>30</option>
        <option {% if customer_per_page == '40' %}selected{% endif %} value='40'>40</option>
        <option {% if customer_per_page == '50' %}selected{% endif %} value='50'>50</option>
      </select>
    </div>

    <br><br>

    {% comment %}
      If we have past orders, loop through each one
    {% endcomment %}
    {% if customer.tags |join:',' contains 'PerPage:' %}
    {% for tag in customer.tags %}
        {% if tag contains 'PerPage' %}
      {% assign customer_per_page = tag |split:':' |last %}{% break %}
        {% endif %}
    {% endfor %}
    {% else %}
    {% assign customer_per_page = '' %}
    {% endif %}

    {% if customer_role_tag == Role_NSM %}
      {% include 'fs-order-history-NSM' with customer_region_tag %}
    {% elsif customer_role_tag == Role_FSManager %}
      {% include 'fs-order-history-Manager' with customer_region_tag %}
    {% elsif customer_role_tag == Role_FSAdmin %}
      {% include 'fs-order-history-Admin'  with customer_region_tag %}
    {% elsif customer_role_tag == Role_FSUser %}
      {% include 'fs-order-history-User' with customer_region_tag %}
    {% elsif customer_role_tag == Role_Designer %}
      {% include 'fs-order-history-Designer' with customer_region_tag %}
    {% endif %}

    <p id="order-none" style="display:none; width: 150px;" class="placeholdLoader">{{ 'customer.orders.none' | t }}</p>
    <hr class="w3-margin-top printModeExclude">
  </div>

  <div class="grid__item medium-down--one-whole one-half printModeExclude">
    {% if customer_role_tag == Role_FSAdmin %}
    <a href="/account?view=prod-upload-form-mod" target="_blank">
      <button id="printOrder" type="button" disabled1 class="btn btn-primary printModeExclude placeholdLoader" title="Open Product Upload Form"><i class="fa fa-upload"></i>&nbsp; Upload Products</button>
    </a>
    <br><br>
    {% endif %}

    {% if customer_role_tag == Role_FSManager %}
    <div id="select_team" class="placeholdLoader" style="position: relative;">
      <label>View Regional Staff List</label>
      <small>
        <div style="width: 15px; height: 15px; background: #cccccc; border: 2px #000 solid; display: inline-block;"></div> user already selected by a budget approver&nbsp;&nbsp;&nbsp;
      </small>
      <style>
        #select_team option[channel_manager][disabled]{ background-color: #ccc !important; color: #fff !important; }
      </style>
      <select id="select_{% raw %}{{id}}{% endraw %}" onmousedown="if(!Boolean(all_customer)){ $('.fau-refresh').show(); fetch_AllUsers(); $(this).prop('disabled', true); }" onchange="editTeam(this, true); this.title = this.options[this.selectedIndex].innerHTML;" title="" class="assign-printer" order_id="{% raw %}{{id}}{% endraw %}" status="{% raw %}{{fulfillment_status}}{% endraw %}">
        <option value="" selected disabled>Click to Select your team members</option>
        <option w3-repeat="customers" value="{% raw %}{{id}}{% endraw %}" title="{% raw %}{{first_name}} {{last_name}}{% endraw %}" select="{% raw %}{{selected}}{% endraw %}" channel_manager="{% raw %}{{ channel_manager }}{% endraw %}" style="color: transparent !important;">{% raw %}{{email}}{% endraw %}</option>
      </select>
      <span class="fau-refresh" style="display: none; position: absolute; right: 11px; bottom: 8px; background: white;"><i class="fa fa-refresh fa-spin fa-lg"></i></span>
    </div>

    <div id="selected_team" class="placeholdLoader" style="border:1px solid #aaa; border-radius:2px; display:none;">
      <span class="btn--secondary btn-custom w3-small" style="margin:5px; background-color: black;" w3-repeat="customers" title="{% raw %}{{first_name}} {{last_name}}{% endraw %}">{% raw %}{{email}}{% endraw %}&nbsp;&nbsp;<a style="color:white;" href="javascript:void(0);" value="{% raw %}{{id}}{% endraw %}" onclick="editTeam(this,false);"><i class="fa fa-times" title="Remove {% raw %}{{first_name}} {{last_name}}{% endraw %}"></i></a></span>
    </div>
    <br>
    {% endif %}
    
    {% if can_order %}
    <h2 class="h3"><b class="placeholdLoader">{{ 'customer.account.details' | t }}</b></h2>

    <span class="h5 placeholdLoader" title="{{ customer.email }}">{{ customer.name }}</span>

    <span class="placeholdLoader">{{ customer.default_address | format_address }}</span>

    <p>
      <a href="/account/addresses" class="w3-text-blue placeholdLoader"><b>{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</b></a>
    </p>
    
    <p>
      <a href="/account/addresses?view=shipping" class="w3-text-blue placeholdLoader"><b>Shipping Addresses</b></a>
    </p>
    {% endif %}
    
    <a id="exportPsudoLink" href="" target="stealthFrame" class="hide"></a>
    <iframe name="stealthFrame" style="display:none;"></iframe>

    {% comment %}              
    <button class="btn" style="min-width:350px;" type="button" onclick="toggleDash();">Export Order History</button>
    <br>
    <div id="printDash" class="border w3-padding animated  w3-white" style="max-width:350px; display:none;">
     <label><input type="radio" checked name="exportType" value="current"> Current Page Orders</label>
     <label class="w3-text-grey"><input id="radio2" disabled type="radio" name="exportType" value="filtered"> All Filtered Orders</label>
     <label><input type="radio" name="exportType" value="all"> All Orders</label>
     <button id="print-btn" type="button" class="btn one-whole" onclick="initExport();">Export</button>
    </div>
    <br>

    {% if customer_role_tag == Role_NSM or customer_role_tag == Role_FSAdmin %}
    <button class="btn hide" style="min-width:350px;" type="button" onclick="toggleRDash();">My Reports</button>
    <br>
    <div id="reportDash" class="border w3-padding animated  w3-white" style="max-width:350px; display:none;">
      - <a href="javascript:agedExport();" class="aged" hrefs="/apps/pepsi-print/fs_collection_response/aged_reports.json?cemail={{ customer.email }}&ctoken={{ customer.id  | hmac_sha1: shop.domain }}">{{ customer_region_tag |remove:'Region:' |replace:'0','o' }} Open Order Report</a><br>
      {% unless customer_role_tag == Role_FSAdmin %}
      {% if customer_region_tag contains region_NorthEast %}
       - <a href="https://print-reports.s3.amazonaws.com/PPS_{{ customer_region_tag |replace:'Region:', 'Standard_' }}_2017.xlsm">{{ customer_region_tag |remove:'Region:' |replace:'0','o' }} Standard Report (2017)</a><br>
       - <a href="https://print-reports.s3.amazonaws.com/PPS_{{ customer_region_tag |replace:'Region:', 'Dashboard_' }}_2017.xlsm">{{ customer_region_tag |remove:'Region:' |replace:'0','o' }} Dynamic Report (2017)</a><br>
      {% endif %}
       - <a href="https://print-reports.s3.amazonaws.com/PPS_{{ customer_region_tag |replace:'Region:', 'Standard_' |replace:'0','o' }}.xlsm">{{ customer_region_tag |remove:'Region:' |replace:'0','o' }} Standard Report (2018)</a><br>
       - <a href="https://print-reports.s3.amazonaws.com/PPS_{{ customer_region_tag |replace:'Region:', 'Dashboard_' |replace:'0','o' }}.xlsm">{{ customer_region_tag |remove:'Region:' |replace:'0','o' }} Dynamic Report (2018)</a><br>
      {% endunless %}
      {% if customer_role_tag == Role_FSAdmin %}
       - <a href="https://print-reports.s3.amazonaws.com/PPS_Standard_All_2017.xlsm">Standard Report (2017)</a><br>
       - <a href="https://print-reports.s3.amazonaws.com/PPS_Dashboard_All_2017.xlsm">Dynamic Report (2017)</a><br>
       - <a href="https://print-reports.s3.amazonaws.com/ASM_KPI_Summary_v5_2017.xlsm">ASM KPI Summary Report (2017)</a><br>
       - <a href="https://print-reports.s3.amazonaws.com/PPS_Standard_All.xlsm">Standard Report (2018)</a><br>
       - <a href="https://print-reports.s3.amazonaws.com/PPS_Dashboard_All.xlsm">Dynamic Report (2018)</a><br>
       - <a href="https://print-reports.s3.amazonaws.com/ASM_KPI_Summary_v5.xlsm">ASM KPI Summary Report (2018)</a><br>
      {% endif %}
    </div>
    <br>
    {% if customer_role_tag == Role_NSM or customer_role_tag == Role_FSAdmin %}
    <a target="_blank" href="/pages/product-upload-form" onclicks="window.open('');" onc="('https://s3.amazonaws.com/printreports/PepsiPrintProductUploadForm_v7.xlsm');" ><button class="btn" style="min-width:350px;" type="button">Upload Products</button></a><br><br>
    {% endif %}
    <!--     <a href="/pages/locations"><button class="btn" style="min-width:350px;" type="button">Add Location for Regional List</button></a> -->
    elsif
    {% endif %}
    {% endcomment %}

    {% comment %}Manager code was here{% endcomment %}

    {% comment %}
    <!--     <br> -->

    <h3 class="h3 hide"><b>Payment Codes</b></h3>
    <div id="pcDash" class="border1 w3-padding1 animated text-center1 w3-white hide" style="max-width:350px; display:none1;">
      - <a id="pc1" target="_blank" href=""> Sales</a><br>
      - <a id="pc2" target="_blank" href=""> Food Services</a><br>
      - <a id="pc3" target="_blank" href=""> Trade Expense</a><br>
    </div>
    <br>
    
    <!--     <button class="btn" style="min-width:350px;" type="button" onclick="toggleBDash();">Update Your Browser</button> -->
    <h3 class="h3"><b>Update Your Browser</b></h3>
    <!--     <br> -->
    <div id="browserDash" class="border1 w3-padding1 animated text-center1 w3-white" style="max-width:350px; display:none1;">
      - <a target="_blank" href="https://www.google.com/chrome/"><i class="fa fa-chrome"></i> Google Chrome</a><br>
      - <a target="_blank" href="https://support.apple.com/en-us/HT204416"><i class="fa fa-safari"></i> Safari</a><br>
    <!--       <a target="_blank" href="https://www.mozilla.org/en-US/firefox/new/"><i class="fa fa-firefox"></i> Mozilla Firefoxi</a><br>
      <a target="_blank" href="http://www.opera.com/"><i class="fa fa-opera"></i> Opera</a><br>
      <a target="_blank" href="https://www.microsoft.com/en-in/windows/microsoft-edge"><i class="fa fa-edge"></i> MS Edge</a><br>
      <a target="_blank" href="https://www.microsoft.com/en-in/download/internet-explorer.aspx"><i class="fa fa-internet-explorer"></i> Internet Explorer</a> -->
    </div>{% endcomment %}
   
    {% if customer.tags contains 'SuperUser' and false %}
      <br>
      <label>Role / Region Switch</label>
      <select onchange="updateCustomer(this.value);">
        <option value="{{ Role_NSM }}" {% if customer_role_tag == Role_NSM %}selected{% endif %}>{{ Role_NSM }}</option>
        <option value="{{ Role_FSAdmin }}" {% if customer_role_tag == Role_FSAdmin %}selected{% endif %}>{{ Role_FSAdmin }}</option>
        <option value="{{ Role_Designer }}" {% if customer_role_tag == Role_Designer %}selected{% endif %}>{{ Role_Designer }}</option>
        <option value="{{ Role_FSUser }}" {% if customer_role_tag == Role_FSUser %}selected{% endif %}>{{ Role_FSUser }}</option>
        <option value="{{ Role_FSManager }}" {% if customer_role_tag == Role_FSManager %}selected{% endif %}>{{ Role_FSManager }}</option>
      </select>
      <select onchange="updateCustomer(this.value);">
        <option value="{{ region_California }}" {% if customer_region_tag == region_California' %}selected{% endif %}>{{ region_California }}</option>
        <option value="{{ region_GreatLakes }}" {% if customer_region_tag == region_GreatLakes' %}selected{% endif %}>{{ region_GreatLakes }}</option>
        <option value="{{ region_MidAtlantic }}" {% if customer_region_tag == region_MidAtlantic' %}selected{% endif %}>{{ region_MidAtlantic }}</option>
        <option value="{{ region_MidWest }}" {% if customer_region_tag == region_MidWest' %}selected{% endif %}>{{ region_MidWest }}</option>
        <option value="{{ region_Mountain }}" {% if customer_region_tag == region_Mountain' %}selected{% endif %}>{{ region_Mountain }}</option>
        <option value="{{ region_NorthEast }}" {% if customer_region_tag == region_NorthEast' %}selected{% endif %}>{{ region_NorthEast }}</option>
        <option value="{{ region_South }}" {% if customer_region_tag == region_South' %}selected{% endif %}>{{ region_South }}</option>
        <option value="{{ region_SouthEast }}" {% if customer_region_tag == region_SouthEast' %}selected{% endif %}>{{ region_SouthEast }}</option>
        <option value="{{ region_External }}" {% unless customer_role_tag == Role_Printer %}disabled{% endunless %} {% if customer_role_tag == region_External' %}selected{% endif %}>{{ region_External }}</option>
      </select>
    
      <script>
        function updateCustomer(tag_val){
          freez();
            $.ajax({
                  url: 'apps/pepsi-print/customer/change_tag.json?customer_id={{ customer.id }}&new_tag='+tag_val,
                  type: 'POST',
                  dataType: 'json',
                  success: function(data){
                        console.log(JSON.stringify(data));
                        // $.unblockUI();
                      location.reload();

                  },
                  error: function(){
                    $.unblockUI; show_message2('Error',false);
                  }

            });
        }
      </script>
    {% endif %}

  </div>

  <div class="grid__item medium-down--one-whole one-half printModeExclude medium-down--text-center text-right">
    <button id="printOrder" type="button" class="btn1 btn--secondary printModeExclude placeholdLoader" onclick="window.print(); /*windowPrint();*/" title="Print this order"><i class="fa fa-print"></i>&nbsp; Print Order History</button>&nbsp;&nbsp;

    <button id="exportOrder" type="button" class="btn1 btn--secondary printModeExclude placeholdLoader" onclick="toggleDash();" title="Toggle Export Order History Section"><i class="fa fa-download"></i>&nbsp; Export Order History</button><!-- &nbsp;&nbsp; -->

    <button id="myReports" type="button" class="btn1 btn--secondary printModeExclude placeholdLoader hide" onclick="toggleRDash();" title="Toggle My Reports Section"><i class="fa fa-line-chart"></i>&nbsp; My Reports</button>
    <br><br>
    <div id="reportDash" class="border w3-padding animated w3-white w3-right text-left placeholdLoader" style="width: 100%; max-width:350px; display:none;">
      - <a href="javascript:agedExport();" class="aged" hrefs="/apps/pepsi-print/fs_collection_response/aged_reports.json?cemail={{ customer.email }}&ctoken={{ customer.id  | hmac_sha1: shop.domain }}">{{ customer_region_tag |remove:'Region:' |replace:'0','o' }} Open Order Report</a><br>
      
       - <a href="#">Report Link 1</a><br>
       - <a href="#">Report Link 2</a><br>
       - <a href="#">Report Link 3</a><br>
       - <a href="#">Report Link 4</a><br>
       - <a href="#">Report Link 5</a><br>
       - <a href="#">Report Link 6</a><br>
      
    </div>

    <div id="printDash" class="border w3-padding animated w3-white w3-right text-left placeholdLoader" style="width: 100%; max-width:350px; display:none;">
      <button type="button" class="no-btn w3-right" onclick="toggleDash();"><i class="fa fa-times"></i></button>
      <p></p>
      <label><input type="radio" checked name="exportType" value="current" class="w3-radio w3-check">&nbsp;&nbsp; Current Page Orders</label>
      <label class="w3-text-grey"><input id="radio2" disabled type="radio" name="exportType" value="filtered" class="w3-radio w3-check">&nbsp;&nbsp; All Filtered Orders</label>
      <label><input type="radio" name="exportType" value="all" class="w3-radio w3-check">&nbsp;&nbsp; All Orders</label>
      <p></p>
      <button id="print-btn" type="button" class="btn one-whole" onclick="initExport();">Export</button>
    </div>
  </div>

</div>


<script type="text/javascript">
  console.log("{{ customer.id  | hmac_sha1: shop.domain }}");
  console.log("{{shop.domain}}");
  var orderExport = [];
  var printerExport = [];

  // $(window).load(function(){
  //   setInterval(function(){ $('.per_page_wrapper').css('width', $('#td_select').width()+'px');}, 2000);
  // });

  $(document).ready(function(){
    $('#start_date').val('');
    $('#pc1').attr('href', $('#link-sales').attr('href'));
    $('#pc2').attr('href', $('#link-food-service').attr('href'));
    $('#pc3').attr('href', $('#link-all-other').attr('href'));

    $("#reportDash a:not(a.aged)").on('click', function(e){
      e.preventDefault();
        exportPsudoLink($(this).attr("href"));
        return false;
    });

  });

  function exportPsudoLink(data){
    $.ajax({
    type: 'HEAD',
    url: data,
        crossDomain: true,
        dataType: (data.indexOf('.xlsx') > -1) ? 'xlsx' : 'jsonp',
    error: function(xhr) {
          console.log(xhr);
          if(xhr.status == 404)
            show_message2('Error in exporting or no report available.',false);
    },
        timeout: 5000
  });
    $('#exportPsudoLink').attr('href', data)[0].click();
  }

  // media query event handler
  if (matchMedia) {
    var mq = window.matchMedia("(min-width: 600px)");
    mq.addListener(WidthChange);
    WidthChange(mq);
  }

  // media query change
  function WidthChange(mq) {
    if (mq.matches) {
      // window width is at least 600px
      $('#order-list .w3-col:eq(1)').addClass('w3-row-padding');
      $('.nbsp-hide').show();
      $('.br-hide').hide();
    } else {
      // window width is less than 600px
      $('#order-list .w3-col:eq(1)').removeClass('w3-row-padding');
      $('.nbsp-hide').hide();
      $('.br-hide').show();
    }

  }

  function toggleBDash(){
    if($('#browserDash.slideInRight').length != 0){
      $('#browserDash').removeClass('slideInRight').addClass('slideOutRight').delay(1000).hide(0);
    }else{
      $('#browserDash').removeClass('slideOutRight').addClass('slideInRight').show(0);
    }
  }

  function toggleRDash(){
    if($('#reportDash.slideInRight').length != 0){
      $('#reportDash').removeClass('slideInRight').addClass('slideOutRight').delay(1000).hide(0);
    }else{
      $('#printDash').removeClass('slideInRight').addClass('slideOutRight').hide(0);
      $('#reportDash').removeClass('slideOutRight').addClass('slideInRight').show(0);
    }
  }

  function toggleDash(){
    if($('#printDash.slideInRight').length != 0){
      $('#printDash').removeClass('slideInRight').addClass('slideOutRight').delay(1000).hide(0);
    }else{
      $('#reportDash').removeClass('slideInRight').addClass('slideOutRight').hide(0);
      $('#printDash').removeClass('slideOutRight').addClass('slideInRight').show(0);
    }
  }

  function initExport(){
    var selected = $('[name = "exportType"]').filter(':checked').val();
    var data = '/apps/pepsi-print/fs_collection_response/print_orders.json?cemail={{ customer.email }}&ctoken={{ customer.id  | hmac_sha1: shop.domain }}';
    var params = jQuery.extend({}, query); if(params.per_page != undefined) delete params.per_page; if(params.page != undefined) delete params.page;

    if( ( (selected == 'filtered' || ( selected == 'all' && Object.keys(params).length == 0 ) ) &&  order_data.total_entries > 100 ) || ( selected == 'all' && Object.keys(params).length > 0 ) ){
      var data = { cemail: "{{ customer.email }}", ctoken: "{{ customer.id  | hmac_sha1: shop.domain }}" };
      

      if(selected == 'filtered'){
        if(params.page != undefined) delete params.page;
        data = jQuery.extend({}, data, params);
      }

      // console.log(JSON.stringify(data));
    
      exportLarge(data);
      return;
    }


    if(selected == 'filtered' || selected == 'all')
      params.per_page = order_data.total_entries;
    else
      params.per_page = var_per_page, params.page = var_page;
  
  
    data += ($.param(params).length != 0) ? '&'+$.param(params) : '';
    console.log('export url = '+data);

    exportPsudoLink(data.replace('.json', '.xlsx'));

    // window.location.assign(data);
    // var data = prepareData(orderExport, printerExport);

  }

  function prepareData(data1,data2){
    var i;
    var x;
    var myArray1 = data1["orders"];
    var myArray2 = data2["results"];
    for (i = 0; i < myArray1.length; i++) {
      for (x = 0; x < myArray2.length; x++) {
        data1["orders"][i]["printer_company"] = '';
        if( myArray1[i]["printer_id"] == myArray2[x]["id"]){
          data1["orders"][i]["printer_company"] = myArray2[x]["company"];
        }
      }
      data1["orders"][i]["payment_code"] = '';
      data1["orders"][i]["cancelled_status"] = '';
    }
    console.log(JSON.stringify(data1));
    return(data1);
  }

  function agedExport(){
    freez();
    $.ajax({
      url: '/apps/pepsi-print/fs_collection_response/job_aged_reports.json?cemail={{ customer.email }}&ctoken={{ customer.id  | hmac_sha1: shop.domain }}',
      type: 'GET',
      // data: data,
      // dataType: 'json',
      success: function(data){
        console.log(JSON.stringify(data));
        $.unblockUI(); show_message4('Report file will be mailed to {{ customer.email }}.',true);

      },
      error: function(){
        $.unblockUI; show_message2('Error in Exporting.',false);
      }

    });
  }

  function exportLarge(data){console.log(JSON.stringify(data));
    freez();
    $.ajax({
      url: '/apps/pepsi-print/fs_collection_response/job_print_orders.json',
      type: 'GET',
      data: data,
      dataType: 'json',
      success: function(data){
        console.log(JSON.stringify(data));
        $.unblockUI(); show_message4('Export file will be mailed to {{ customer.email }}.',true);

      },
      error: function(){
        $.unblockUI; show_message2('Error in Exporting.',false);
      }

    });
  }

  function windowPrint(){
    $.when(
      {% capture beforePrint %}
      $('{% unless customer_role_tag == Role_Printer %}header .grid--full:not(:nth-of-type(1)),{% endunless %} .header-bar, .printModeExclude:visible, footer').hide().toggleClass('visible'),
      $('.site-header__logo img').css('margin','0 0'),

      $('#address-hidden, #id01').css({ 'position':'relative', 'bottom':'80px'}),
      $('.printModeInclude').toggleClass('hide'),
        $('.print-one-whole').toggleClass('one-whole {% if customer_role_tag == Role_NSM %}three-quarters{% else %}two-thirds{% endif %}'),
      $('.th-span').toggleClass('th-span th-spaned')
      {% endcapture %}
    ).done(function(){
      setTimeout(window.print(), 10);
    });

    {% comment %}{% endcomment %}
    {% capture afterPrint %}
    $('{% unless customer_role_tag == Role_Printer %}header .grid--full:not(:nth-of-type(1)),{% endunless %} .header-bar, .printModeExclude.visible, footer').show().toggleClass('visible');
    $('.site-header__logo img').css('margin','0');
    $('.site-header__logo').toggleClass('w3-col s3');

    $('.printModeInclude').toggleClass('hide');
      $('.print-one-whole').toggleClass('one-whole {% if customer_role_tag == Role_NSM %}three-quarters{% else %}two-thirds{% endif %}');
    $('.th-spaned').toggleClass('th-span th-spaned');
    {% endcapture %}

  }

  bprint = aprint = false;

  (function() {
    var beforePrint = function() {
      if(!bprint){ bprint = true; aprint = false;
        console.log('Functionality to run before printing.');
        {{ beforePrint }}
      }
    };
    var afterPrint = function() {
      if(!aprint){ aprint = true; bprint = false;
        console.log('Functionality to run after printing');
        {{ afterPrint }}
      }
    };

    if (window.matchMedia) {
        var mediaQueryList = window.matchMedia('print');
        mediaQueryList.addListener(function(mql) {
            if (mql.matches) {
                beforePrint();
            } else {
                afterPrint();
            }
        });
    }

    window.onbeforeprint = beforePrint;
    window.onafterprint = afterPrint;
  }());
</script>

<style>

@media print{
   /* applied to our table */
  .w3-table1, tr, td{ position: relative !important; }
   .w3-table tr td {
     -webkit-region-break-inside: avoid !important;
     page-break-inside:avoid !important;
     page-break-after: always;
  }
}

{% comment %}
@media  print {
    thead, tbody, tfooter {
        display: table-row-group;
    }
}
{% endcomment %}

@media print {
    table tbody tr td:before,
    table tbody tr td:after {
        content : "" ;
        height : 4px ;
        display : block ;
    }

    .assign-printer{
      border: unset;
      background-image: none;
      background-color: transparent !important;
      text-align: center;
      text-align-last: center;
    }
}

a.cancelled{
  text-decoration: line-through !important;
  color: gray !important;
}


</style>
