{% include 'customer-account-common-code' with 'theme-layout-code' %}

<div class="section-header section-header--large printModeExclude">
  <h1 class="section-header__title">{{ 'customer.account.title' | t }}</h1>
</div>

<div class="grid">

  <div class="grid__item {% if customer.tags contains Role_ASM %}three-quarters{% else %}two-thirds{% endif %} medium-down--one-whole print-one-whole">
    <h2 style="display:inline-block;" class="h3"><b>{{ 'customer.orders.title' | t }}:{% if customer.tags contains Role_ASM or customer.tags contains Role_Printer %}&nbsp;&nbsp;<div style="display:inline; border-bottom:2px solid black; font-size:16px;" class1="w3-border-bottom">Individual View</div>&nbsp;&nbsp;{% endif %}

      {% if customer.tags contains Role_ASM or customer.tags contains Role_Printer %}
      <a style="display:inline-block;font-size:16px;" class="printModeExclude w3-text-black" href="/account?view=summary-list">Group View</a>
      {% endif %}

    </b></h2>

    <div class="w3-right printModeExclude text-right per_page_wrapper" style="display:inline-block; width:{% if customer.tags contains Role_ASM %}238px{% else %}212px{% endif %};">
      <label for="per_page" style="display:inline-block;" class="">Per Page: &nbsp;</label>
      <select id="per_page" class="per_page" style="max-width:60px; display:inline-block;" onchange="updateState({page: '1',per_page: this.value});updatePerPage(this.value);">
        <option selected value='10'>10</option>
        <option {% if customer_per_page == '20' %}selected{% endif %} value='20'>20</option>
        <option {% if customer_per_page == '30' %}selected{% endif %} value='30'>30</option>
        <option {% if customer_per_page == '40' %}selected{% endif %} value='40'>40</option>
        <option {% if customer_per_page == '50' %}selected{% endif %} value='50'>50</option>
      </select>
    </div>

    <button id="printOrder" styles="margin: 0 20px;" type="button" class="btn btn--secondary btn--primary1 printModeExclude w3-right" onclick="window.print(); /*windowPrint();*/" title="Print this order"><i class="fa fa-print"></i> Print Order History</button>

  <br><br>

    {% comment %}
      If we have past orders, loop through each one
    {% endcomment %}
      {% if customer.tags |join:',' contains 'PerPage:' %}
      {% for tag in customer.tags %}
          {% if tag contains 'PerPage' %}
        {% assign customer_per_page = tag |split:':' |last %}{% break %}
          {% endif %}
      {% endfor %}
      {% else %}
      {% assign customer_per_page = '' %}
      {% endif %}

      {% if customer.tags contains Role_ASM %}
        {% include 'order-history-ASM' with customer_region_tag %}
      {% elsif customer.tags contains Role_Manager %}
        {% include 'order-history-Manager' with customer_region_tag %}
      {% elsif customer.tags contains Role_Admin %}
        {% include 'order-history-Admin'  with customer_region_tag %}
      {% elsif customer.tags contains Role_User %}
        {% include 'order-history-User' with customer_region_tag %}
      {% elsif customer.tags contains Role_Printer %}
        {% include 'order-history-Printer' with customer_region_tag %}
      {% endif %}

      <div class="table-wrap">
        {% comment %}
        <table class="full w3-hide">
          <thead>
            <tr>
              <th>{{ 'customer.orders.order_number' | t }}</th>
              <th>{{ 'customer.orders.date' | t }}</th>
              <th>{{ 'customer.orders.payment_status' | t }}</th>
              <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
              <th>{{ 'customer.orders.total' | t }}</th>
            </tr>
          </thead>
          <tbody>
            {% for order in customer.orders %}
              <tr>
                <td>{{ order.name | link_to: order.customer_url }}</td>
                <td>{{ order.created_at | date: "%b %d, %Y" }}</td>
                <td>{{ order.financial_status_label }}</td>
                <td>{{ order.fulfillment_status_label }}</td>
                <td>{{ order.total_price | money }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endcomment %}
      </div>


  <p id="order-none" style="display:none;">{{ 'customer.orders.none' | t }}</p>



  </div>

  <div class="grid__item {% if customer.tags contains Role_ASM %}asm-col one-quarter{% else %}one-third{% endif %} medium-down--one-whole printModeExclude">
    <h2 class="h3"><b>{{ 'customer.account.details' | t }}</b></h2>

    <span class="h5" title="{{ customer.email }}">{{ customer.name }}</span>

    {{ customer.default_address | format_address }}

    <p><a href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>

    <button class="btn" style="min-width:350px;" type="button" onclick="toggleDash();">Export Order History</button>
    <br>
    <div id="printDash" class="border w3-padding animated  w3-white" style="max-width:350px; display:none;">
     <label><input type="radio" checked name="exportType" value="current"> Current Page Orders</label>
     <label class="w3-text-grey"><input id="radio2" disabled type="radio" name="exportType" value="filtered"> All Filtered Orders</label>
     <label><input type="radio" name="exportType" value="all"> All Orders</label>
     <button id="print-btn" type="button" class="btn one-whole" onclick="initExport();">Export</button>
    </div>
    <br>
    <a id="exportPsudoLink" href="" target="stealthFrame" class="hide"></a>
    <iframe name="stealthFrame" style="display:none;"></iframe>

    {% if customer.tags contains Role_ASM or customer.tags contains Role_Admin or customer.tags contains Role_Printer %}
    <button class="btn" style="min-width:350px;" type="button" onclick="toggleRDash();">Current Year Reports</button>
    <br>
    <div id="reportDash" class="border w3-padding animated  w3-white" style="max-width:350px; display:none;">
      {% if customer.tags contains Role_ASM %}
        {% assign region_name = customer_region_tag |remove:'Region:' |replace:'0','o' %}
        {% assign region_name_standard = customer_region_tag |replace:'Region:', 'Standard_' |replace:'0','o' %}
        {% assign region_name_dashboard = customer_region_tag |replace:'Region:', 'Dashboard_' |replace:'0','o' %}
      
       - <a hrefs="javascript:agedExportNew();" class1="aged" href="https://print--export-reports.s3.amazonaws.com/Open_Order_Report_{{ region_name }}_{{ 'now' | date: '%m-%d-%Y' }}.csv">{{ region_name }} Open Order Report</a><br>
       - <a href="https://print-reports.s3.amazonaws.com/PPS_{{ region_name_standard }}.xlsb">{{ region_name }} Standard Report (2019)</a><br>
       - <a href="https://print-reports.s3.amazonaws.com/PPS_{{ region_name_dashboard }}.xlsm">{{ region_name }} Dynamic Report (2019)</a><br>
      {% elsif customer.tags contains Role_Printer %}
        - <a hrefs="javascript:agedExportNew();" class1="aged" href="https://print--export-reports.s3.amazonaws.com/Printer_Open_order_report_{{ 'now' | date: '%m-%d-%Y' }}_{{ customer.id }}.xlsx">Open Order Report</a><br>
      {% elsif customer.tags contains Role_Admin %}
       - <a hrefs="javascript:agedExportNew();" class1="aged" href="https://print--export-reports.s3.amazonaws.com/Open_Order_Report_All_Region_{{ 'now' | date: '%m-%d-%Y' }}.csv">Open Order Report</a><br>
       - <a href="https://print-reports.s3.amazonaws.com/PPS_Standard_All.xlsb">Standard Report (2019)</a><br>
       - <a href="https://print-reports.s3.amazonaws.com/PPS_Dashboard_All.xlsm">Dynamic Report (2019)</a><br>
       <!--        - <a {% comment %}style="pointer-events: none;" class="w3-text-grey"{% endcomment %} href="https://print-reports.s3.amazonaws.com/ASM_KPI_Summary_v5.xlsm">ASM KPI Summary Report (2019)</a><br> -->
       - <a href="https://print-reports.s3.amazonaws.com/Quarterly Division Reports_V2.xlsx">Quarterly Division Reports</a><br>
       - <a class="aged" target="_blank" href="/apps/pepsi-print/collection_response/quarter_product_dashboard?cid={{customer.id}}&cregion={{customer_region_tag}}&cemail={{customer.email}}&ctoken={{ customer.id  | hmac_sha1: shop.domain }}" hrefs="/account?view=product-report">Quarterly Product Reports (Web View)</a><br>
      {% endif %}
    </div>
    <br>
    {% comment %}{% endcomment %}
    {% if customer.tags contains Role_ASM or customer.tags contains Role_Admin %}
    <button class="btn" style="min-width:350px;" type="button" onclick="toggleRHDash();">Historical Reports</button>
    <br>
    <div id="reportDashH" class="border w3-padding animated  w3-white" style="max-width:350px; display:none;">    
      {% unless customer.tags contains Role_Admin %}
      {% if customer_region_tag contains region_NorthEast %}
       - <a href="https://print-reports.s3.amazonaws.com/PPS_{{ region_name_standard }}_2017.xlsm">{{ region_name }} Standard Report (2017)</a><br>
       - <a href="https://print-reports.s3.amazonaws.com/PPS_{{ region_name_dashboard }}_2017.xlsm">{{ region_name }} Dynamic Report (2017)</a><br>
      {% endif %}
       - <a href="https://print-reports.s3.amazonaws.com/PPS_{{ region_name_standard }}_2018.xlsm">{{ region_name }} Standard Report (2018)</a><br>
       - <a href="https://print-reports.s3.amazonaws.com/PPS_{{ region_name_dashboard }}_2018.xlsm">{{ region_name }} Dynamic Report (2018)</a><br>
      {% endunless %}
      {% if customer.tags contains Role_Admin %}
       - <a href="https://print-reports.s3.amazonaws.com/PPS_Standard_All_2017.xlsm">Standard Report (2017)</a><br>
       - <a href="https://print-reports.s3.amazonaws.com/PPS_Dashboard_All_2017.xlsm">Dynamic Report (2017)</a><br>
       <!--        - <a href="https://print-reports.s3.amazonaws.com/ASM_KPI_Summary_v5_2017.xlsm">ASM KPI Summary Report (2017)</a><br> -->
       - <a href="https://print-reports.s3.amazonaws.com/PPS_Standard_All_2018.xlsm">Standard Report (2018)</a><br>
       - <a href="https://print-reports.s3.amazonaws.com/PPS_Dashboard_All_2018.xlsm">Dynamic Report (2018)</a><br>
       <!--        - <a href="https://print-reports.s3.amazonaws.com/ASM_KPI_Summary_v5_2018.xlsm">ASM KPI Summary Report (2018)</a><br> -->
      {% endif %}
    </div>
    <br>
    {% endif %}
    {% comment %}{% endcomment %}
    {% if customer.tags contains Role_ASM or customer.tags contains Role_Admin %}
      <a target="_blank" href="/pages/product-upload-form" onclicks="window.open('');" onc="('https://s3.amazonaws.com/printreports/PepsiPrintProductUploadForm_v7.xlsm');" ><button class="btn" style="min-width:350px;" type="button">Upload Products</button></a><br><br>
      {% if customer.tags contains Role_Admin %}
        <button class="btn" style="min-width:350px;" type="button" onclick="toggleADash();">Audit Logs</button>
        <br>
        <div id="auditDash" class="border w3-padding animated  w3-white" style="max-width:350px; display:none;"> 
          - <a target="_blank" href="/apps/pepsi-print/collection_response/audit_log">Audit Logs PC</a><br>
          - <a target="_blank" href="/apps/place_bulk_order/audit_log">Audit Logs BO</a><br>
        </div>
        <br>
        {% if customer.tags contains 'SuperUser' %}
          <form action="/apps/pepsi-print/customer/multipass" method="post" target="_blank" autocomplete="false" class="header-bar__search-form clearfix printModeExclude header-search-fs placeholdLoader1" onsubmit="" role="" style="margin: 0 10px 0 0; position: relative; z-index: 9; max-width: 350px;">
            <input type="hidden" name="cemail" value="{{ customer.email }}">
            <input type="hidden" name="cid" value="{{ customer.id }}">
            <input type="hidden" name="ctoken" value="{{ customer.id  | hmac_sha1: shop.domain }}">
            <button type="submit" class="btn icon-fallback-text header-bar__search-submit1" style="position: absolute; right: 0; background: transparent; color: black !important; height: 37.5px">
              <i class="fa fa-arrow-right" aria-hidden="true" style="font-size: 19px; padding-top: 0px;"></i>
            </button>
            <input type="email" id="email" name="email" required="" aria-label="Login" class="header-bar__search-input" autocomplete="false" placeholder="Login as another customer" onchange="" style="margin: 0; padding: 0 30px 0 15px; border: 1px solid #aaa; height: 37.5px">
            <br>
          </form>
        {% endif %}
      {% endif %}
    {% endif %}
    <!-- <a href="/pages/locations"><button class="btn" style="min-width:350px;" type="button">Add Location for Regional List</button></a> -->
    {% elsif customer.tags contains Role_Manager %}
    <div id="select_team" class="" style="position: relative;">
      <label>View Regional Staff List</label>
      <select id="select_{% raw %}{{id}}{% endraw %}" onmousedown="if(!Boolean(all_customer)){ $('.fau-refresh').show(); fetch_AllUsers(); }" onchange="editTeam(this, true); this.title = this.options[this.selectedIndex].innerHTML;" title="" class="assign-printer" order_id="{% raw %}{{id}}{% endraw %}" status="{% raw %}{{fulfillment_status}}{% endraw %}">
        <option value="" selected disabled>Click to Select your team members</option>
        <option w3-repeat="customers" value="{% raw %}{{id}}{% endraw %}" title="{% raw %}{{first_name}} {{last_name}}{% endraw %}" select="{% raw %}{{selected}}{% endraw %}" style="color: transparent !important;">{% raw %}{{email}}{% endraw %}</option>
      </select>
      <span class="fau-refresh" style="display: none; position: absolute; right: 11px; bottom: 8px; background: white;"><i class="fa fa-refresh fa-spin fa-lg"></i></span>
    </div>

    <div id="selected_team" class="" style="border:1px solid #aaa; border-radius:5px; display:none;">
      <span class="btn--secondary btn-custom" style="margin:5px;" w3-repeat="customers" title="{% raw %}{{first_name}} {{last_name}}{% endraw %}">{% raw %}{{email}}{% endraw %}&nbsp;&nbsp;<a style="color:white;" href="javascript:void(0);" value="{% raw %}{{id}}{% endraw %}" onclick="editTeam(this,false);"><i class="fa fa-times" title="Remove {% raw %}{{first_name}} {{last_name}}{% endraw %}"></i></a></span>
    </div>
    {% endif %}

<!--     <br> -->

    <h3 class="h3 hide"><b>Payment Codes</b></h3>
    <div id="pcDash" class="border1 w3-padding1 animated text-center1 w3-white hide" style="max-width:350px; display:none1;">
      - <a id="pc1" target="_blank" href=""> Sales</a><br>
      - <a id="pc2" target="_blank" href=""> Food Services</a><br>
      - <a id="pc3" target="_blank" href=""> Trade Expense</a><br>
    </div>
    <br>
<!--     <button class="btn" style="min-width:350px;" type="button" onclick="toggleBDash();">Update Your Browser</button> -->
    <h3 class="h3"><b>Update Your Browser</b></h3>
<!--     <br> -->
    <div id="browserDash" class="border1 w3-padding1 animated text-center1 w3-white" style="max-width:350px; display:none1;">
      - <a target="_blank" href="https://www.google.com/chrome/"><i class="fa fa-chrome"></i> Google Chrome</a><br>
      - <a target="_blank" href="https://support.apple.com/en-us/HT204416"><i class="fa fa-safari"></i> Safari</a><br>
<!--       <a target="_blank" href="https://www.mozilla.org/en-US/firefox/new/"><i class="fa fa-firefox"></i> Mozilla Firefoxi</a><br>
      <a target="_blank" href="http://www.opera.com/"><i class="fa fa-opera"></i> Opera</a><br>
      <a target="_blank" href="https://www.microsoft.com/en-in/windows/microsoft-edge"><i class="fa fa-edge"></i> MS Edge</a><br>
      <a target="_blank" href="https://www.microsoft.com/en-in/download/internet-explorer.aspx"><i class="fa fa-internet-explorer"></i> Internet Explorer</a> -->
    </div>

    {% if customer.tags contains 'SuperUser1'  %}
      <br>
      <label>Role / Region Switch</label>
      <select onchange="updateCustomer(this.value);">
        <option value="{{ Role_ASM }}" {% if customer.tags contains Role_ASM %}selected{% endif %}>{{ Role_ASM }}</option>
        <option value="{{ Role_Admin }}" {% if customer.tags contains Role_Admin %}selected{% endif %}>{{ Role_Admin }}</option>
        <option value="{{ Role_Printer }}" {% if customer.tags contains Role_Printer %}selected{% endif %}>{{ Role_Printer }}</option>
        <option value="{{ Role_User }}" {% if customer.tags contains Role_User %}selected{% endif %}>{{ Role_User }}</option>
        <option value="{{ Role_Manager }}" {% if customer.tags contains Role_Manager %}selected{% endif %}>{{ Role_Manager }}</option>
      </select>
      <select onchange="updateCustomer(this.value);">
        <option value="{{ region_California }}" {% if customer_region_tag == region_California' %}selected{% endif %}>{{ region_California }}</option>
        <option value="{{ region_GreatLakes }}" {% if customer_region_tag == region_GreatLakes' %}selected{% endif %}>{{ region_GreatLakes }}</option>
        <option value="{{ region_MidAtlantic }}" {% if customer_region_tag == region_MidAtlantic' %}selected{% endif %}>{{ region_MidAtlantic }}</option>
        <option value="{{ region_MidWest }}" {% if customer_region_tag == region_MidWest' %}selected{% endif %}>{{ region_MidWest }}</option>
        <option value="{{ region_Mountain }}" {% if customer_region_tag == region_Mountain' %}selected{% endif %}>{{ region_Mountain }}</option>
        <option value="{{ region_NorthEast }}" {% if customer_region_tag == region_NorthEast' %}selected{% endif %}>{{ region_NorthEast }}</option>
        <option value="{{ region_South }}" {% if customer_region_tag == region_South' %}selected{% endif %}>{{ region_South }}</option>
        <option value="{{ region_SouthEast }}" {% if customer_region_tag == region_SouthEast' %}selected{% endif %}>{{ region_SouthEast }}</option>
        <option value="{{ region_External }}" {% unless customer.tags contains Role_Printer %}disabled{% endunless %} {% if customer.tags contains region_External' %}selected{% endif %}>{{ region_External }}</option>
      </select>
    
      <script>
        function updateCustomer(tag_val){
          freez();
            $.ajax({
                  url: 'apps/pepsi-print/customer/change_tag.json?customer_id={{ customer.id }}&new_tag='+tag_val,
                  type: 'POST',
                  dataType: 'json',
                  success: function(data){
                        console.log(JSON.stringify(data));
                        // $.unblockUI();
                      location.reload();

                  },
                  error: function(){
                    $.unblockUI; show_message2('Error',false);
                  }

            });
        }
      </script>
    {% endif %}

  </div>

</div>


<script type="text/javascript">
  console.log("{{ customer.id  | hmac_sha1: shop.domain }}");
              console.log("{{shop.domain}}");
  var orderExport = [];
  var printerExport = [];

//   $(window).load(function(){
//     setInterval(function(){ $('.per_page_wrapper').css('width', $('#td_select').width()+'px');}, 2000);
//   });

  $(document).ready(function(){
    $('#start_date').val('');
    $('#pc1').attr('href', $('#link-sales').attr('href'));
  $('#pc2').attr('href', $('#link-food-service').attr('href'));
  $('#pc3').attr('href', $('#link-all-other').attr('href'));

    $("#reportDash a:not(a.aged)").on('click', function(e){
      e.preventDefault();
        exportPsudoLink($(this).attr("href"));
        return false;
    });

  });

  function exportPsudoLink(data){
    $.ajax({
      type: 'HEAD',
      url: data,
          crossDomain: true,
          dataType: 'jsonp',
      error: function(xhr) {
            console.log(xhr);
            if(xhr.status == 404)
              show_message2('Error in exporting or no report available.',false);
      },
          timeout: 5000
    });
    $('#exportPsudoLink').attr('href', data)[0].click();
  }
  
  function dataURLtoBlob(dataurl) {
      var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
          bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
      while(n--){
          u8arr[n] = bstr.charCodeAt(n);
      }
      return new Blob([u8arr], {type:mime});
  }
  
  function exportPsudoLink2Browser(url, fileName){
    freez();
    {% comment %}
    //setup ajax
    $.ajaxSetup({
      beforeSend:function(jqXHR,settings){
        if (settings.dataType === 'binary'){
          settings.xhr().responseType='arraybuffer';
          settings.processData=false;
        }
      }
    });

    //use ajax now
    $.ajax({
      type: "GET",
      url: url,
      dataType: "binary",
      crossDomain: true,
      timeout: 80000,
      complete:function(data){ 
        fileName = fileName || "test_order_report_"+ new Date().getTime().toString() +".xlsx";
        console.log(data); //ArrayBuffer
        //console.log(new Blob([data])) // Blob
        if(data.status == 200){                      
          downloadFile(fileName, data);
        }else if(data.status == 404)
          show_message2('Error in exporting or no report available.', false);
      },
      error: function(xhr) {
        console.log(xhr);
      }
    });
    
    
    fileName = fileName || "order_report_"+ new Date().getTime().toString() +".xlsx";
    var xhr = new XMLHttpRequest();
    xhr.onload = function() {
      var reader = new FileReader();
      reader.onloadend = function() {
//         callback(reader.result);
        downloadFile(xhr.response.name||fileName, reader.result.split(',')[1]);
        
      }
      reader.readAsDataURL(xhr.response);
    };
    xhr.open('GET', url);
    xhr.responseType = 'blob';
    xhr.send();
    {% endcomment %}

    fileName = fileName || "order_report_"+ new Date().getTime().toString() +".xlsx";
    console.log(fileName);
    var req = new XMLHttpRequest();
    req.open("GET", url, true);
    req.responseType = "blob";
    req.onload = function (event) {
      if(req.status === 200){
        var blob = req.response; 
        console.log(blob);
        disposition = req.getResponseHeader("content-disposition");
        var matches = /"([^"]*)"/.exec(disposition);
        fileName = (matches != null && matches[1] ? matches[1] : fileName);
        console.log(fileName);
        var link=document.createElement('a');
        link.href=window.URL.createObjectURL(blob);
        link.download=fileName;
        document.body.appendChild(link);
        link.click();
        window.URL.revokeObjectURL(url);
        document.body.removeChild(link);
        defreez();
      }else if(req.status == 404)
        show_message2('Error in exporting or no report available.', false);

    };

    req.send();
  }
  
  function downloadFile(fileName, data, type){
    var a = document.createElement("a");
    document.body.appendChild(a);
    a.style = "display: none";
    // blobURL = dataURLtoBlob(data);
    blob = new Blob([data], {encoding: "UTF-8", type: type||"application/xlsx"}),
    url = window.URL.createObjectURL(blob);
    a.href = url;
    a.target = "_blank";
    a.download = fileName;
    a.click();
    window.URL.revokeObjectURL(url);
    document.body.removeChild(a);
    defreez();
  }
  
  function agedExportNew(){
    url = '/apps/pepsi-print/collection_response/open_orders.csv?cemail={{ customer.email }}&ctoken={{ customer.id  | hmac_sha1: shop.domain }}&cid={{ customer.id }}';
    exportPsudoLink2Browser(url, "open_order_report_{{ customer.id }}_"+ new Date().getTime().toString() +".csv", "text/csv; charset=utf-8; header=present");
    // exportPsudoLink(url);
  }

  // media query event handler
  if (matchMedia) {
    var mq = window.matchMedia("(min-width: 600px)");
    mq.addListener(WidthChange);
    WidthChange(mq);
  }

  // media query change
  function WidthChange(mq) {
    if (mq.matches) {
      // window width is at least 600px
      $('#order-list .w3-col:eq(1)').addClass('w3-row-padding');
      $('.nbsp-hide').show();
      $('.br-hide').hide();
    } else {
      // window width is less than 600px
      $('#order-list .w3-col:eq(1)').removeClass('w3-row-padding');
      $('.nbsp-hide').hide();
      $('.br-hide').show();
    }

  }

  function toggleADash(){
    if($('#auditDash.flipInX').length != 0){
      $('#auditDash').removeClass('flipInX').addClass('flipOutX').delay(1000).hide(0);
    }else{
      $('#auditDash').removeClass('flipOutX').addClass('flipInX').show(0);
    }
  }

  function toggleBDash(){
    if($('#browserDash.flipInX').length != 0){
      $('#browserDash').removeClass('flipInX').addClass('flipOutX').delay(1000).hide(0);
    }else{
      $('#browserDash').removeClass('flipOutX').addClass('flipInX').show(0);
    }
  }

  function toggleRDash(){
    if($('#reportDash.flipInX').length != 0){
      $('#reportDash').removeClass('flipInX').addClass('flipOutX').delay(1000).hide(0);
    }else{
      $('#reportDash').removeClass('flipOutX').addClass('flipInX').show(0);
    }
  }

  function toggleRHDash(){
    if($('#reportDashH.flipInX').length != 0){
      $('#reportDashH').removeClass('flipInX').addClass('flipOutX').delay(1000).hide(0);
    }else{
      $('#reportDashH').removeClass('flipOutX').addClass('flipInX').show(0);
    }
  }

  function toggleDash(){
    if($('#printDash.flipInX').length != 0){
      $('#printDash').removeClass('flipInX').addClass('flipOutX').delay(1000).hide(0);
    }else{
      $('#printDash').removeClass('flipOutX').addClass('flipInX').show(0);
    }
  }

  function initExport(){
    var selected = $('[name = "exportType"]').filter(':checked').val();
    var data = '/apps/pepsi-print/collection_response/print_orders.json?cemail={{ customer.email }}&ctoken={{ customer.id  | hmac_sha1: shop.domain }}';
    var params = jQuery.extend({}, query); 
    if(params.per_page != undefined) delete params.per_page;
    if(params.page != undefined)delete params.page;

    if((selected == 'filtered' || selected == 'all') && order_data.total_entries > 2500){
      var data = { cemail: "{{ customer.email }}", ctoken: "{{ customer.id  | hmac_sha1: shop.domain }}" };
                  
      {% comment %}
      {% if customer.tags contains Role_User  %}
          data.customer_id = '{{ customer.id }}';
      {% elsif customer.tags contains Role_Manager %}
        if(selected != 'all'){
          data.customer_id = var4;
        }
      {% elsif customer.tags contains Role_Admin %}
        if(var4.length > 0){
          data.region_tag = var4;
        }
      {% endif %}
      if(var1.length > 0 && selected != 'all'){
    data.start_date = var1;
        data.end_date = var2;
      }
      {% endcomment %}

      if(selected == 'filtered'){
        if(params.page != undefined)delete params.page;
        data = jQuery.extend({}, data, params);
      }

      console.log(JSON.stringify(data));
      exportLarge(data);
      return;
    }

    {% comment %}
    if(selected == 'current'){
      data += '&page='+var3;
    }
    if(selected == 'filtered' || ( var1.length > 0 && selected != 'all' )){
      data += '&start_date='+var1+'&end_date='+var2;
    }

    {% assign Role_Manager = 'general.Role.Manager' | t %}
  {% assign Role_Admin = 'general.Role.Admin' | t %}

    {% if customer.tags contains Role_Manager %}
      if(var4 != '' && selected != 'all'){
        data += '&customer_id='+var4;
      }
    {% elsif customer.tags contains Role_Admin %}
      if(var4 != '' && selected != 'all'){
        data += '&region_tag='+var4;
      }
    {% elsif customer.tags contains Role_User %}
      data += '&customer_id='+'{{ customer.id }}';
    {% endif %}
    {% endcomment %}

    if(selected == 'filtered' || selected == 'all'){
      params.per_page = order_data.total_entries;
    }else{
      params.per_page = var_per_page;
      params.page = var_page;
    }
    
    data += ($.param(params).length != 0) ? '&'+$.param(params) : '';
    console.log('export url = '+data);

    // exportPsudoLink(data);
    exportPsudoLink2Browser(data);

//     window.location.assign(data);
//     var data = prepareData(orderExport, printerExport);

    {%comment%}
    $.ajax({
          url: 'http://54.71.28.218/pepsiprint/exportExcel.php',
          type: 'POST',
          crossDomain: true,
          data: JSON.stringify(data),
          dataType: 'json',
          success: function(data){
              console.log(JSON.stringify(data));
          $('#exportPsudoLink').attr('href', data).trigger('click');
              $.unblockUI();

          },
          error: function(){
            $.unblockUI; show_message2('Error in Exporting.',false);
          }

    });
    {%endcomment%}
  }

  function prepareData(data1,data2){
    var i;
    var x;
    var myArray1 = data1["orders"];
    var myArray2 = data2["results"];
    for (i = 0; i < myArray1.length; i++) {
      for (x = 0; x < myArray2.length; x++) {
        data1["orders"][i]["printer_company"] = '';
        if( myArray1[i]["printer_id"] == myArray2[x]["id"]){
          data1["orders"][i]["printer_company"] = myArray2[x]["company"];
        }
      }
      data1["orders"][i]["payment_code"] = '';
      data1["orders"][i]["cancelled_status"] = '';
    }
    console.log(JSON.stringify(data1));
    return(data1);
  }

  function agedExport(){
  freez();
    $.ajax({
      url: '/apps/pepsi-print/collection_response/job_aged_reports.json?cemail={{ customer.email }}&ctoken={{ customer.id  | hmac_sha1: shop.domain }}',
      type: 'GET',
//       data: data,
//       dataType: 'json',
      success: function(data){
        console.log(JSON.stringify(data));
        $.unblockUI(); show_message3('Report file will be mailed to {{ customer.email }}.',true);

      },
      error: function(){
        $.unblockUI; show_message2('Error in Exporting.',false);
      }

    });
  }

  function exportLarge(data){
  freez();
    $.ajax({
      url: '/apps/pepsi-print/collection_response/job_print_orders.json',
      type: 'GET',
      data: data,
      dataType: 'json',
      success: function(data){
        console.log(JSON.stringify(data));
        $.unblockUI(); show_message3('Export file will be mailed to {{ customer.email }}.',true);

      },
      error: function(){
        $.unblockUI; show_message2('Error in Exporting.',false);
      }

    });
  }

  function windowPrint(){
    $.when(
      {% capture beforePrint %}
      $('{% unless customer.tags contains Role_Printer %}header .grid--full:not(:nth-of-type(1)),{% endunless %} .header-bar, .printModeExclude:visible, footer').hide().toggleClass('visible'),
      $('.site-header__logo img').css('margin','0 0'),

      $('#address-hidden, #id01').css({ 'position':'relative', 'bottom':'80px'}),
      $('.printModeInclude').toggleClass('hide'),
        $('.print-one-whole').toggleClass('one-whole {% if customer.tags contains Role_ASM %}three-quarters{% else %}two-thirds{% endif %}'),
      $('.th-span').toggleClass('th-span th-spaned')
      {% endcapture %}
    ).done(function(){
      setTimeout(window.print(), 10);
    });

    {% comment %}{% endcomment %}
    {% capture afterPrint %}
    $('{% unless customer.tags contains Role_Printer %}header .grid--full:not(:nth-of-type(1)),{% endunless %} .header-bar, .printModeExclude.visible, footer').show().toggleClass('visible');
    $('.site-header__logo img').css('margin','0 auto');
    $('.site-header__logo').toggleClass('w3-col s3');

    $('.printModeInclude').toggleClass('hide');
      $('.print-one-whole').toggleClass('one-whole {% if customer.tags contains Role_ASM %}three-quarters{% else %}two-thirds{% endif %}');
    $('.th-spaned').toggleClass('th-span th-spaned');
    {% endcapture %}

  }

  bprint = aprint = false;

  (function() {
    var beforePrint = function() {
      if(!bprint){ bprint = true; aprint = false;
        console.log('Functionality to run before printing.');
        {{ beforePrint }}
      }
    };
    var afterPrint = function() {
      if(!aprint){ aprint = true; bprint = false;
        console.log('Functionality to run after printing');
        {{ afterPrint }}
      }
    };

    if (window.matchMedia) {
        var mediaQueryList = window.matchMedia('print');
        mediaQueryList.addListener(function(mql) {
            if (mql.matches) {
                beforePrint();
            } else {
                afterPrint();
            }
        });
    }

    window.onbeforeprint = beforePrint;
    window.onafterprint = afterPrint;
  }());
</script>

<style>

@media print{
   /* applied to our table */
  .w3-table1, tr, td{ position: relative !important; }
   .w3-table tr td {
     -webkit-region-break-inside: avoid !important;
     page-break-inside:avoid !important;
     page-break-after: always;
  }
}

{% comment %}
@media  print {
    thead, tbody, tfooter {
        display: table-row-group;
    }
}
{% endcomment %}

@media print {
    table tbody tr td:before,
    table tbody tr td:after {
        content : "" ;
        height : 4px ;
        display : block ;
    }
}

a.cancelled{
  text-decoration: line-through !important;
  color: gray !important;
}


</style>
