{%- capture common_code -%}
{% if customer %}

  {% assign Role_User = 'general.Role.User' | t %}
  {% assign Role_Printer = 'general.Role.Printer' | t %}
  {% assign Role_Manager = 'general.Role.Manager' | t %}
  {% assign Role_ASM = 'general.Role.ASM' | t %}
  {% assign Role_Admin = 'general.Role.Admin' | t %}

  {% assign Role_FSUser = 'general.FSRole.FSUser' | t %}
  {% assign Role_Designer = 'general.FSRole.Designer' | t %}
  {% assign Role_FSManager = 'general.FSRole.FSManager' | t %}
  {% assign Role_NSM = 'general.FSRole.NSM' | t %}
  {% assign Role_FSAdmin = 'general.FSRole.FSAdmin' | t %}

{% else %}
  {% unless customer-account-common-code == "shop-check" %}
    {% include "customer-account-common-code" with "shop-check" %}
  {% endunless %}
{% endif %}


{% if customer-account-common-code == 'theme-layout-code' %}
  {% if customer %}
    {% assign region_NorthEast = "general.Region_Tags.NorthEast" | t %}
    {% assign region_SouthEast = "general.Region_Tags.SouthEast" | t %}
    {% assign region_California = "general.Region_Tags.California" | t %}
    {% assign region_South = "general.Region_Tags.South" | t %}
    {% assign region_Mountain = "general.Region_Tags.Mountain" | t %}
    {% assign region_MidAtlantic = "general.Region_Tags.MidAtlantic" | t %}
    {% assign region_MidWest = "general.Region_Tags.MidWest" | t %}
    {% assign region_GreatLakes = "general.Region_Tags.GreatLakes" | t %}
    {% assign region_External = "general.Region_Tags.External" | t %}
    {% assign region_NationalCustomer = "Region:NationalCustomer" %}
    {% assign region_FranchiseBottler = "Region:FranchiseBottler" %}
    {% assign region_Distributor = "Region:Distributor" %}

    {% assign max_allowed_item_count = 30 %}
    {% assign max_cart_count_message = "Too many product in cart. The recommended unique products count is max_allowed_item_count per order." | replace: 'max_allowed_item_count', max_allowed_item_count %}

    {% if customer.tags contains region_NorthEast or customer.tags contains region_SouthEast or customer.tags contains region_Mountain or customer.tags contains region_California or customer.tags contains region_South or customer.tags contains region_MidWest or customer.tags contains region_MidAtlantic or customer.tags contains region_GreatLakes or customer.tags contains region_External or customer.tags contains region_NationalCustomer or customer.tags contains region_FranchiseBottler or customer.tags contains region_Distributor %}
      {% if customer.tags contains region_NorthEast %}
        {% assign customer_region_tag = region_NorthEast %}
      {% elsif customer.tags contains region_SouthEast %}
        {% assign customer_region_tag = region_SouthEast %}
      {% elsif customer.tags contains region_California %}
        {% assign customer_region_tag = region_California %}
      {% elsif customer.tags contains region_South %}
        {% assign customer_region_tag = region_South %}
      {% elsif customer.tags contains region_Mountain %}
        {% assign customer_region_tag = region_Mountain %}
      {% elsif customer.tags contains region_MidAtlantic %}
        {% assign customer_region_tag = region_MidAtlantic %}
      {% elsif customer.tags contains region_MidWest %}
        {% assign customer_region_tag = region_MidWest %}
      {% elsif customer.tags contains region_GreatLakes %}
        {% assign customer_region_tag = region_GreatLakes %}
      {% elsif customer.tags contains region_External %}
        {% assign customer_region_tag = region_External %}
      {% elsif customer.tags contains region_NationalCustomer %}
        {% assign customer_region_tag = region_NationalCustomer %}
      {% elsif customer.tags contains region_FranchiseBottler %}
        {% assign customer_region_tag = region_FranchiseBottler %}
      {% elsif customer.tags contains region_Distributor %}
        {% assign customer_region_tag = region_Distributor %}
      {% endif %}

    {% else %}
      {% unless template contains 'page.no-region' %}
        {% assign no_region = true %}
      {% endunless %}
    {% endif %}

    {% include 'customer-account-common-code' with 'collection-handle-code' %}

    {% include 'customer-account-common-code' with 'collection-handle-code-fs' %}

    {% include "customer-account-common-code" with "shop-check" %}

    {% unless fs_shop_active %}
      {% include 'customer-account-common-code' with 'collection-handle-code' %}
    {% endunless %}

    {% unless customer_role_tag or page.handle == "no-access" %}
      {% assign no_region = true %}
    {% endunless %}

  {% endif %}
  
  {% if template contains 'collection' and collection.handle %}
    {% unless collection.title contains customer_region_tag %} {% assign no_access = true %} {% assign collec = true %} {% endunless %}
    {% if template contains 'my-products' %}
      {% unless customer_role_tag == Role_ASM %}{% assign no_access = true %} {% endunless %}
    {% endif %}
  {% elsif template contains 'product' %}
    {% unless customer_role_tag == Role_ASM %}
      {% unless product.tags contains customer_region_tag %} {% assign no_access = true %} {% assign prod = true %} {% endunless %}
    {% endunless %}
    {% unless fs_shop_active %}
      {% if product.type == 'MOD' %}{% assign no_access = true %} {% assign prod = true %}{% endif %}
    {% endunless %}
  {% endif %}

  {% if collec == true and fs_shop_active and collection.handle == 'mod' %}
    {% assign no_access = false %} {% assign collec = false %}
  {% elsif prod == true and fs_shop_active and collection.handle == 'mod' %}
    {% assign no_access = false %} {% assign prod = false %}
  {% endif %}

  {% if customer_role_tag == Role_Printer or customer_role_tag == Role_Designer or customer_role_tag == Role_NSM1 or customer_role_tag == Role_ANSM or customer_role_tag == Role_FSManager1 %}
    {% unless template contains 'customers/account' or template contains 'customers/addresses' or template contains 'page.order' or template contains 'page.error' or template contains 'page.welcome' or template contains 'page.contact-us' or template contains 'page.no-access' %}
      {% assign no_access = false %}
      {% assign no_region = false %}
    {% endunless %}

    {% if customer_region_tag == region_External or customer_region_tag == region_NationalCustomer or customer_role_tag == Role_FSAdmin %}
      {% assign no_region = false %}
    {% endif %}
  {% endif %}

  {% if customer_role_tag == Role_Admin or customer_role_tag == Role_FSAdmin1 or fs_shop_active1 or template contains 'page.no-access' %}
    {% assign no_region = false %}
    {% assign no_access = false %}
  {% endif %}
{% endif %}


{% if customer-account-common-code == 'shop-check' %}
  {% if shop.permanent_domain contains "beta" %}
    {% assign general_shop_url = 'general.shop_url_beta.' %}
  {% else %}
    {% assign general_shop_url = 'general.shop_url.' %}
  {% endif %}
  {% assign shop_url_retail = general_shop_url | append: 'retail' | t %}
  {% assign shop_url_fs = general_shop_url | append: 'fs' | t %}

  
  {%- capture CFH -%}{{ content_for_header }}{%- endcapture -%}
  {%- assign pageUrl = CFH | split:'"pageurl":"' | last | split:'"' | first |
   replace:'\/','/' | 
   replace:'%20',' ' | 
   replace:'\u0026','&'
  -%}

  {% assign pageUrlHost = request.host %}

  {% unless customer %}
    {% if pageUrl contains shop_url_fs %}
      {% assign fs_shop_active = true %}
    {% endif %}
  {% endunless %}

  {% if customer_has_fs and pageUrl contains shop_url_fs %}
    {% assign fs_shop_active = true %}
  {% elsif customer_has_retail and pageUrl contains shop_url_retail and fs_shop_active != true %}
    
  {% elsif customer_has_fs and pageUrl contains shop_url_retail %}
    {% assign cross_shop_req_url = shop_url_fs %}
  {% elsif customer_has_retail and pageUrl contains shop_url_fs %}
    {% assign cross_shop_req_url = shop_url_retail %}
  {% endif %}

  {% assign Admin_logged_in = false %}

  {% if CFH contains 'admin_bar_iframe' 
      or CFH contains 'shopify-previewed-theme' 
      or CFH contains 'Shopify.designMode = true'%}
    {% assign Admin_logged_in = true %}
    {% if cart.attributes['shop'] == "FS" %}
      {% assign fs_shop_active = true %}
      {% assign cross_shop_req_url = false %}
    {% endif %}
  {% endif %}

  {% if fs_shop_active %}
    {% assign current_shop_url = shop_url_fs %}
  {% else %}
    {% assign current_shop_url = shop_url_retail %}
  {% endif %}
{% endif %}


{% if customer-account-common-code == 'collection-handle-code-fs' %}
  {% assign customer_role_tag = false %}
  {% if customer.tags contains Role_FSUser %}
    {% assign customer_role_tag = Role_FSUser %}
  {% elsif customer.tags contains Role_FSManager %}
    {% assign customer_role_tag = Role_FSManager %}
  {% elsif customer.tags contains Role_Designer %}
    {% assign customer_role_tag = Role_Designer %}
  {% elsif customer.tags contains Role_NSM %}
    {% assign customer_role_tag = Role_NSM %}
  {% elsif customer.tags contains Role_FSAdmin %}
    {% assign customer_role_tag = Role_FSAdmin %}
    {% comment %}{% assign collection_handle = 'all' %}{% endcomment %}
  {% endif %}

  {% if customer_role_tag %}
    {% assign customer_has_fs = true %}
    {% unless customer_has_retail %}
      {% assign fs_shop_active = true %}
      {% comment %}{% assign collection_handle = "mod" %}{% endcomment %}
    {% endunless %} 
  {% endif %}
  {% assign collection_handle = 'mod' %}
{% endif %}


{% if customer-account-common-code == 'collection-handle-code' %}
  {% assign customer_role_tag = false %}
  {% if customer.tags contains Role_User %}
    {% assign customer_role_tag = Role_User %}
    {% assign collection_handle = customer_region_tag | remove: 'Region:' |replace:'0','o' | downcase | append: '-products' %}
  {% elsif customer.tags contains Role_Manager %}
    {% assign customer_role_tag = Role_Manager %}
    {% assign collection_handle = customer_region_tag | remove: 'Region:' |replace:'0','o' | downcase | append: '-products' %}
  {% elsif customer.tags contains Role_Printer %}
    {% assign customer_role_tag = Role_Printer %}
  {% elsif customer.tags contains Role_ASM %}
    {% assign customer_role_tag = Role_ASM %}
    {% assign collection_handle = customer_region_tag | remove: 'Region:' |replace:'0','o' | downcase | append: '-my-products' %}
  {% elsif customer.tags contains Role_Admin %}
    {% assign customer_role_tag = Role_Admin %}
    {% assign collection_handle = 'all' %}
  {% endif %}

  {% if customer_role_tag %}
    {% if customer_role_tag == Role_ASM %}
      {% assign collection_handle = collection.handle %}
      {% unless collection %}
          {% assign collection_handle = customer_region_tag | remove: 'Region:' |replace:'0','o' | downcase | append: '-my-products' %}
      {% endunless %}
    {% elsif customer_role_tag == Role_Admin %}
      {% assign collection_handle = 'all' %}
    {% elsif customer_role_tag == Role_User or customer_role_tag == Role_Manager %}
      {% assign collection_handle = customer_region_tag | remove: 'Region:' |replace:'0','o' | downcase | append: '-products' %}
      {% assign non_asm = true %}
    {% endif %}

    {% assign customer_has_retail = true %}
  {% endif %}
{% endif %}


{% if customer-account-common-code == 'access-rights-fs' %}
  {% if customer_role_tag == Role_FSUser or customer_role_tag == Role_FSManager or customer_role_tag == Role_Designer or customer_role_tag == Role_FSAdmin %}
    {% assign can_review = true %}
  {% endif %}

  {% if customer_role_tag == Role_NSM or customer_role_tag == Role_Designer or customer_role_tag == Role_ANSM %}
    {% assign can_fulfill = true %}
  {% endif %}

  {% if customer_role_tag == Role_NSM or customer_role_tag == Role_Designer or customer_role_tag == Role_FSAdmin or customer_role_tag == Role_FSManager %}
    {% assign can_edit = true %}
  {% endif %}

  {% if customer_role_tag == Role_NSM or customer_role_tag == Role_Designer or customer_role_tag == Role_FSAdmin or customer_role_tag == Role_FSManager %}
    {% assign can_cancel = true %}
  {% endif %}

  {% if customer_role_tag == Role_FSUser or customer_role_tag == Role_FSAdmin or customer_role_tag == Role_FSManager %}
    {% assign can_reorder = true %}
  {% endif %}
  
  {% if customer_role_tag == Role_FSUser or customer_role_tag == Role_FSAdmin or customer_role_tag == Role_FSManager %}
    {% assign can_order = true %}
  {% endif %}
{% endif %}


{% if customer-account-common-code == 'order-search-bar' %}
  <small class="nbsp-hide"><label for="">&nbsp;</label></small>
  <form action="/" method="get" autocomplete="false" class="header-bar__search-form clearfix printModeExclude {% if fs_shop_active %}header-search-fs placeholdLoader{% endif %}" onsubmit="event.preventDefault(); updateState({ search: $('#search').val(), page: '1' });" role="search" style="margin: 0 10px 0 0; position: relative; z-index: 9">
    <button type="submit" class="btn icon-fallback-text header-bar__search-submit1" style="position: absolute; right: 0; background: transparent; color: black !important;">
      <i class="icon icon-search" aria-hidden="true" style="font-size: 16px; padding-top: 0px;"></i>
    </button>
    <input type="search" id="search" required="" aria-label="Search" class="header-bar__search-input" autocomplete="false" placeholder="Search Orders" onchange="$(this).parent().submit();" style="margin: 0; padding: 0 30px 0 15px; border: 1px solid #aaa; height: 37.5px">
  </form>
{% endif %}


{% if customer-account-common-code == 'address-search-bar' %}
  <form action="/" method="get" class="header-bar__search-form clearfix printModeExclude header-search-fs" onsubmit="event.preventDefault(); updateState({ search: $('#search').val(), page: '1' });" role="search" style="position: relative; z-index: 9">
    <button type="submit" class="btn icon-fallback-text header-bar__search-submit1" style="position: absolute; right: 0; background: transparent; color: black !important; min-width: 0px !important; outline: none !important;">
      <i class="icon icon-search" aria-hidden="true" style="font-size: 16px; padding-top: 0px;"></i>
    </button>
    <input type="search" id="search" required="" aria-label="Search" class="header-bar__search-input" placeholder="Search {% if fs_shop_active %}Customers{% else %}Orders{% endif %}" onchange="$(this).parent().submit();" style="margin: 0; padding: 0 30px 0 15px; border: 1px solid #aaa; height: 37.5px">
  </form>
  <p></p>
{% endif %}



{% if customer-account-common-code == 'order-status-option-code-fs' %}
  <option value="Est. Approval Needed" filter_attr="order_status">{% if customer_role_tag == Role_FSManager %}Needs Est. Approval{% else %}Est. Approval Needed{% endif %}</option>
  {% if customer_role_tag == Role_FSUser or customer_role_tag == Role_FSManager or customer_role_tag == Role_FSAdmin or customer_role_tag == Role_NSM %}
    <option value="Order Not Assigned" filter_attr="order_status">{% if customer_role_tag == Role_NSM %}Needs Designer{% elsif customer_role_tag == Role_FSManager %}Est. Approved{% else %}Order Not Assigned{% endif %}</option>
  {% endif %}
  
  {% if customer_role_tag == Role_FSUser or customer_role_tag == Role_Designer %}
    <option value="Order Assigned" filter_attr="order_status">{% if customer_role_tag == Role_FSUser %}Proofs Needed{% else %}Needs Proof{% endif %}</option>
    <option value="Needs Proof Review" filter_attr="order_status">{% if customer_role_tag == Role_FSUser %}Needs Proof Review{% else %}Proofs in Review{% endif %}</option>
    <option value="Proofs Being Revised" filter_attr="order_status">{% if customer_role_tag == Role_FSUser %}Proofs Being Revised{% else %}Edits Needed{% endif %}</option>
  {% else %}
    <option value="Order Assigned" filter_attr="order_status">Order Assigned</option>
    {% if customer_role_tag == Role_FSManager or customer_role_tag == Role_FSAdmin %}
    <option value="Needs Proof Review" filter_attr="order_status">Needs Proof Review</option>
    <option value="Proofs Being Revised" filter_attr="order_status">Proofs Being Revised</option>
    {% endif %}
    {% comment %}<option value="Needs Approval" filter_attr="order_status">Needs Approval</option>{% endcomment %}
  {% endif %}

  <option value="Proofs Approved" filter_attr="order_status">Proofs Approved</option>
  <option value="In Production" filter_attr="order_status">In Production</option>
  <option value="fulfilled" filter_attr="order_status">Fulfilled</option>
  {% comment %}<option value="Unfulfilled">Unfulfilled</option>{% endcomment %}
  <option value="Cancelled" filter_attr="order_status">Cancelled</option>
{% endif %}


{% if customer-account-common-code == 'sub-status-option-code' %}
  <select sub_status="{% raw %}{{ sub_status }}{% endraw %}" status="{% raw %}{{ order_status }}{% endraw %}" order_name="{% raw %}{{ order_name }}{% endraw %}" order_id="{% raw %}{{ id }}{% endraw %}" printer_id="{% raw %}{{ printer_id }}{% endraw %}" onchange="if(confirm('Please click \'OK\' to confirm the sub-status change for order {% raw %}{{ order_name }}{% endraw %} to \''+$(this).find('option:selected').text()+'\'')){chnageOrderSubstatus(this);}" style="max-width: 150px; margin: 0 auto; display: inline-block;">
    <option valuea="OrderUnassigned" value="Printer unassigned" disabled selected title="Order Unassigned">Order Unassigned</option>
    <option valuea="OrderAssigned" value="Printer assigned" disabled1 title="Order Assigned">Order Assigned</option>
    <option valuea="InQueue" value="Proof In Development" title="Proof In Development">Proof In Development</option>
    <option valuea="InQueueWFA" value="Waiting on Field Approval" title="Waiting on Field Approval">Waiting on Field Approval</option>
    <option valuea="InQueueWBA" value="Waiting on Brand Approval" title="Waiting on Brand Approval">Waiting on Brand Approval</option>
    <option valuea="InQueueWAA" value="Waiting on ASM Approval" title="Waiting on ASM Approval">Waiting on ASM Approval</option>
    <option valuea="OnHold" value="On Hold" title="On Hold">On Hold</option>
    <option valuea="InProduction" value="In Production" title="In Production">In Production</option>
    <option valuea="InProcessing" value="Printed – In Processing" title="Printed – In Processing">Printed – In Processing</option>
  </select>
{% endif %}


{% if customer-account-common-code == 'sub-status-filter-option-code' %}
  <small><label for="select_tl"><br class="br-hide">Additional Filters</label></small>
  <select id="select_tl" onchange="params={page: '1', order_status: '', assigned_printer: '', fulfillment_status: '', sub_status: ''}; params[$(this).find('option:selected').attr('filter_attr')]=this.value; updateState(params);" name="fulfillment_status">
      <option value="" selected>Clear Additional Filters</option>
      <optgroup label="Order status">
        <option filter_attr="fulfillment_status" value="fulfilled">Fulfilled</option>
        <option filter_attr="fulfillment_status" value="unfulfilled">Unfulfilled</option>
        <option filter_attr="order_status" value="cancelled">Cancelled</option>
      </optgroup>
      <optgroup label="Unfulfilled - Sub Status">
        {% if customer_role_tag == Role_ASM %}
        <option filter_attr="assigned_printer" value="notassigned">Order Not Assigned</option>
        <option filter_attr="assigned_printer" value="assigned">Order Assigned</option>
        {% comment %}
        <option value="OrderUnassigned" filter_attr="sub_status" valuea="Printer unassigned" disabled selected title="Order Unassigned">Order Unassigned</option>
        <option value="OrderAssigned" filter_attr="sub_status" valuea="Printer assigned" disabled1 title="Order Assigned">Order Assigned</option>
        {% endcomment %}
        {% endif %}
        <option value="InQueue" filter_attr="sub_status" valuea="In Queue – Proof In Development" title="Proof In Development">Proof In Development</option>
        <option value="InQueueWFA" filter_attr="sub_status" valuea="In Queue – Waiting on Field Approval" title="Waiting on Field Approval">Waiting on Field Approval</option>
        <option value="InQueueWBA" filter_attr="sub_status" valuea="In Queue – Waiting on Brand Approval" title="Waiting on Brand Approval">Waiting on Brand Approval</option>
        <option value="InQueueWAA" filter_attr="sub_status" valuea="In Queue – Waiting on ASM Approval" title="Waiting on ASM Approval">Waiting on ASM Approval</option>
        <option value="OnHold" filter_attr="sub_status" valuea="On Hold" title="On Hold">On Hold</option>
        <option value="InProduction" filter_attr="sub_status" valuea="In Production" title="In Production">In Production</option>
        <option value="InProcessing" filter_attr="sub_status" valuea="Printed – In Processing" title="Printed – In Processing">Printed – In Processing</option>
      </optgroup>
  </select>
{% endif %}


{% if customer-account-common-code == 'table-header-code' %}
  <th class="text-center"><span class="th-span">{{ 'customer.orders.order_number' | t }}</span><div class="btn-group printModeExclude"><button type="button" class="name_asc_btn" onclick="updateState({order_by_name: 'ASC', order_by_order_by: '', order_by_discount_codes: '', order_by_date: '', order_by_fulfillment_status: '', page: '1'});"><i class="fa fa-caret-up"></i></button><button type="button" class="name_desc_btn" onclick="updateState({order_by_name: 'DESC', order_by_order_by: '', order_by_discount_codes: '', order_by_date: '', order_by_fulfillment_status: '', page: '1'});"><i class="fa fa-caret-down"></i></button></div></th>
  <th class="text-center"><span class="th-span">Order By</span><div class="btn-group printModeExclude"><button type="button" class="order_by_asc_btn" onclick="updateState({order_by_name: '', order_by_order_by: 'ASC', order_by_discount_codes: '', order_by_date: '', order_by_fulfillment_status: '', page: '1'});"><i class="fa fa-caret-up"></i></button><button type="button" class="order_by_desc_btn" onclick="updateState({order_by_name: '', order_by_order_by: 'DESC', order_by_discount_codes: '', order_by_date: '', order_by_fulfillment_status: '', page: '1'});"><i class="fa fa-caret-down"></i></button></div></th>
  <th class="text-center"><span class="th-span">Payment Code</span><div class="btn-group printModeExclude"><button type="button" class="discount_codes_asc_btn" onclick="updateState({order_by_name: '', order_by_order_by: '', order_by_discount_codes: 'ASC', order_by_date: '', order_by_fulfillment_status: '', page: '1'});"><i class="fa fa-caret-up"></i></button><button type="button" class="discount_codes_desc_btn" onclick="updateState({order_by_name: '', order_by_order_by: '', order_by_discount_codes: 'DESC', order_by_date: '', order_by_fulfillment_status: '', page: '1'});"><i class="fa fa-caret-down"></i></button></div></th>
  <th class="text-center"><span class="th-span">{{ 'customer.orders.date' | t }}</span><div class="btn-group printModeExclude"><button type="button" class="date_asc_btn" onclick="updateState({order_by_name: '', order_by_order_by: '', order_by_discount_codes: '', order_by_date: 'ASC', order_by_fulfillment_status: '', page: '1'});"><i class="fa fa-caret-up"></i></button><button type="button" class="date_desc_btn" onclick="updateState({order_by_name: '', order_by_order_by: '', order_by_discount_codes: '', order_by_date: 'DESC', order_by_fulfillment_status: '', page: '1'});"><i class="fa fa-caret-down"></i></button></div></th>
  <th class="text-center"><span class="th-span">{{ 'customer.orders.fulfillment_status' | t }}</span><div class="btn-group printModeExclude"><button type="button" class="fulfillment_status_asc_btn" onclick="updateState({order_by_name: '', order_by_order_by: '', order_by_discount_codes: '', order_by_date: '', order_by_fulfillment_status: 'ASC', page: '1'});"><i class="fa fa-caret-up"></i></button><button type="button" class="fulfillment_status_desc_btn" onclick="updateState({order_by_name: '', order_by_order_by: '', order_by_discount_codes: '', order_by_date: '', order_by_fulfillment_status: 'DESC', page: '1'});"><i class="fa fa-caret-down"></i></button></div></th>
{% endif %}




{% if customer-account-common-code == 'table-header-code-fs' %}

  <th class="text-center placeholdLoader"><span class="th-span">{{ 'customer.orders.order_number' | t }}</span><div class="btn-group printModeExclude"><button type="button" class="name_asc_btn" onclick="updateState(Object.assign(order_by_params,{order_by_name: 'ASC', page: '1'}));"><i class="fa fa-caret-up"></i></button><button type="button" class="name_desc_btn" onclick="updateState(Object.assign(order_by_params,{order_by_name: 'DESC', page: '1'}));"><i class="fa fa-caret-down"></i></button></div></th>
  
  {% unless customer_role_tag == Role_FSAdmin %}
  <th class="text-center placeholdLoader"><span class="th-span1">{{ 'Customer Name' }}</span>{% comment %}<div class="btn-group printModeExclude"><button type="button" class="division_asc_btn" onclick1="updateState(Object.assign(order_by_params,{order_by_division: 'ASC', page: '1'}));"><i class="fa fa-caret-up"></i></button><button type="button" class="division_desc_btn" onclick="updateState(Object.assign(order_by_params,{order_by_division: 'DESC', page: '1'}));"><i class="fa fa-caret-down"></i></button></div>{% endcomment %}</th> 
  {% endunless %}

  {% unless customer_role_tag == Role_FSUser %}
  <th class="text-center placeholdLoader"><span class="th-span">Order By</span><div class="btn-group printModeExclude"><button type="button" class="order_by_asc_btn" onclick="updateState(Object.assign(order_by_params,{order_by_order_by: 'ASC', page: '1'}));"><i class="fa fa-caret-up"></i></button><button type="button" class="order_by_desc_btn" onclick="updateState(Object.assign(order_by_params,{order_by_order_by: 'DESC', page: '1'}));"><i class="fa fa-caret-down"></i></button></div></th>
  {% endunless %}


  {% unless customer_role_tag == Role_FSAdmin %}
  <th class="text-center placeholdLoader"><span class="th-span1">{{ 'Spend' }}</span>{% comment %}<div class="btn-group printModeExclude"><button type="button" class="division_asc_btn" onclick1="updateState(Object.assign(order_by_params,{order_by_division: 'ASC', page: '1'}));"><i class="fa fa-caret-up"></i></button><button type="button" class="division_desc_btn" onclick="updateState(Object.assign(order_by_params,{order_by_division: 'DESC', page: '1'}));"><i class="fa fa-caret-down"></i></button></div>{% endcomment %}</th> 
  {% endunless %}


  {% unless customer_role_tag == Role_Designer %}
  <th class="text-center placeholdLoader"><span class="th-span">Payment Code</span><div class="btn-group printModeExclude"><button type="button" class="discount_codes_asc_btn" onclick="updateState(Object.assign(order_by_params,{order_by_discount_codes: 'ASC', page: '1'}));"><i class="fa fa-caret-up"></i></button><button type="button" class="discount_codes_desc_btn" onclick="updateState(Object.assign(order_by_params,{order_by_discount_codes: 'DESC', page: '1'}));"><i class="fa fa-caret-down"></i></button></div></th>
  {% endunless %}

  <th class="text-center placeholdLoader"><span class="th-span">{{ 'customer.orders.date' | t }}</span><div class="btn-group printModeExclude"><button type="button" class="date_asc_btn" onclick="updateState(Object.assign(order_by_params,{order_by_date: 'ASC', page: '1'}));"><i class="fa fa-caret-up"></i></button><button type="button" class="date_desc_btn" onclick="updateState(Object.assign(order_by_params,{order_by_date: 'DESC', page: '1'}));"><i class="fa fa-caret-down"></i></button></div></th>
  
  {% if customer_role_tag == Role_FSAdmin or customer_role_tag == Role_NSM %}
  <th class="text-center placeholdLoader"><span class="th-span1">{{ 'Region' }}</span>{% comment %}<div class="btn-group printModeExclude"><button type="button" class="division_asc_btn" onclick1="updateState(Object.assign(order_by_params,{order_by_division: 'ASC', page: '1'}));"><i class="fa fa-caret-up"></i></button><button type="button" class="division_desc_btn" onclick="updateState(Object.assign(order_by_params,{order_by_division: 'DESC', page: '1'}));"><i class="fa fa-caret-down"></i></button></div>{% endcomment %}</th>  
  {% unless customer_role_tag == Role_NSM %}
  <th class="text-center placeholdLoader"><span class="th-span">{{ 'Division' }}</span><div class="btn-group printModeExclude"><button type="button" class="division_asc_btn" onclick="updateState(Object.assign(order_by_params,{order_by_division: 'ASC', page: '1'}));"><i class="fa fa-caret-up"></i></button><button type="button" class="division_desc_btn" onclick="updateState(Object.assign(order_by_params,{order_by_division: 'DESC', page: '1'}));"><i class="fa fa-caret-down"></i></button></div></th>

  <th class="text-center placeholdLoader"><span class="th-span">{{ 'Channel' }}</span><div class="btn-group printModeExclude"><button type="button" class="channel_asc_btn" onclick="updateState(Object.assign(order_by_params,{order_by_channel: 'ASC', page: '1'}));"><i class="fa fa-caret-up"></i></button><button type="button" class="channel_desc_btn" onclick="updateState(Object.assign(order_by_params,{order_by_channel: 'DESC', page: '1'}));"><i class="fa fa-caret-down"></i></button></div></th>
  {% endunless %}
  {% endif %}
  <th class="text-center placeholdLoader"><span class="th-span">{{ 'Status' }}</span><div class="btn-group printModeExclude"><button type="button" class="status_asc_btn" onclick="updateState(Object.assign(order_by_params,{order_by_status: 'ASC', page: '1'}));"><i class="fa fa-caret-up"></i></button><button type="button" class="status_desc_btn" onclick="updateState(Object.assign(order_by_params,{order_by_status: 'DESC', page: '1'}));"><i class="fa fa-caret-down"></i></button></div></th>
{% endif %}


{% if customer-account-common-code == 'pagination-code' %}

  <div class="grid per_pageContainer printModeExclude">
    <div class="grid__item two-thirds">
      <div id="paginationInit" class="w3-margin-top">

      </div>
    </div>
    <div class="grid__item one-third text-right">
      <label for="per_page" style="display:inline-block;" class="w3-margin-top"><div class="{% if fs_shop_active %}placeholdLoader{% endif %}">Per Page: &nbsp;</div></label>
      <select id="per_page" class="per_page {% if fs_shop_active %}placeholdLoader{% endif %}" style="max-width:60px; display:inline-block;" onchange="updateState({page: '1',per_page: this.value});updatePerPage(this.value);">
        <option selected value='10'>10</option>
        <option {% if customer_per_page == '20' %}selected{% endif %} value='20'>20</option>
        <option {% if customer_per_page == '30' %}selected{% endif %} value='30'>30</option>
        <option {% if customer_per_page == '40' %}selected{% endif %} value='40'>40</option>
        <option {% if customer_per_page == '50' %}selected{% endif %} value='50'>50</option>
      </select>
    </div>
  </div>

{% endif %}



{% if customer-account-common-code == 'order-loader' %}
  <div class="text-center  w3-margin w3-padding w3-loader">
    <i class="fa fa-refresh fa-spin fa-2x w3-text-grey w3-margin w3-padding1"></i>
    <br><br><br>
  </div>
{% endif %}



{% if customer-account-common-code == 'per-page-form' %}
  {% if fs_shop_active and false %}
    {% include 'customer-account-common-code' with 'order-loader' %}
  {% endif %}

  <div class="hide">
    <form target="shop-frame" accept-charset="UTF-8" id="per-page" action="/contact" class="contact-form" method="post">
      <input name="form_type" type="hidden" value="customer">
      <input name="utf8" type="hidden" value="Ă˘ÂÂ">
      <input types="hidden" name="contact[email]" value="{{ customer.email }}"/>
      <input id="update-me" types="hidden" name="contact[tags]" value="" />
      <button type="submit">S</button>
    </form>

    <iframe name="shop-frame" width="500" height="500" id="shopFrame" src="" ></iframe>

    <div id="table-style"><style>.date_desc_btn{ color: white !important; }</style></div>

  </div>
{% endif %}


{% comment %}<script>{% endcomment %}



{% if customer-account-common-code == 'init-variables' %}

  var var_start_date = '';
  var var_end_date = '';
  var var_page = '1';
  var var_per_page = (localStorage.per_page_{{ customer.id }} == undefined) ? '10' : localStorage.per_page_{{ customer.id }};
  var var_fulfillment_status = '';
  var var_order_by_name = '';
  var var_order_by_order_by = '';
  var var_order_by_discount_codes = '';
  var var_order_by_date = 'DESC';
  var var_order_by_fulfillment_status = '';
  var var_assigned_printer = '';
  var var_region_tag = '';
  var var_customer_id = '';
  var var_order_status = '';
  var var_search = '';
  var var_sub_status = '';

  var order_by_params = {order_by_name: '', order_by_order_by: '', order_by_discount_codes: '', order_by_date: '', order_by_division: '', order_by_channel: '', order_by_status: ''};

  var order_data = '';

  var query = '';

  var bemail = '';

  var ctags = '{{ customer.tags |join:',' |remove:'PerPage:10' |remove:'PerPage:20' |remove:'PerPage:30' |remove:'PerPage:40' |remove:'PerPage:50' |replace:' ','~' |replace:',',' ' |strip |replace:' ',',' |replace:'~',' ' }}';

{% endif %}


{% if customer-account-common-code == 'init-variables-fs' %}

  var var_start_date = '';
  var var_end_date = '';
  var var_page = '1';
  var var_per_page = (localStorage.per_page_{{ customer.id }} == undefined) ? '10' : localStorage.per_page_{{ customer.id }};
  var var_status = '';
  var var_order_by_name = '';
  var var_order_by_order_by = '';
  var var_order_by_discount_codes = '';
  var var_order_by_date = 'DESC';
  var var_order_by_status = '';
  var var_order_by_channel = '';
  var var_order_by_division = '';
  var var_assigned_designer = '';
  var var_filter_by_designer = '';
  var var_region_tag = '';
  var var_customer_id = '';
  var var_order_status = '';
  var var_search = '';

  var order_by_params = {order_by_name: '', order_by_order_by: '', order_by_discount_codes: '', order_by_date: '', order_by_division: '', order_by_channel: '', order_by_status: ''};

  order_by_params_bkp = Object.assign({}, order_by_params);

  var order_data = '';

  var query = '';

  var bemail = '';

  var ctags = '{{ customer.tags |join:',' |remove:'PerPage:10' |remove:'PerPage:20' |remove:'PerPage:30' |remove:'PerPage:40' |remove:'PerPage:50' |replace:' ','~' |replace:',',' ' |strip |replace:' ',',' |replace:'~',' ' }}';

{% endif %}


{% if customer-account-common-code == 'doc-ready-code' %}

  $('.per_page option:contains('+var_per_page+')').prop('selected','selected');

  $(".datepicker").datepicker({
      showAnim: "drop",
      dateFormat: "mm/dd/yy",
      showOtherMonths: true
  });

  $("#filter_order").click(function() {
      var start_date = $("#start_date").val();
      var end_date = $("#end_date").val();
      if (start_date === "" || end_date === "") {
          alert("Please select start and end dates.");
      } else {
        updateState({ start_date: start_date, end_date: end_date, page: '1' });
        $('.clear-filter').removeAttr('disabled').attr('title', 'Clear Date filter.').show();
      }
  });

  $('.clear-filter').click(function(){
      $('#start_date').val('');
      $('#end_date').val('{{'now' | date: '%m/%d/%Y'}}');
      updateState({ start_date: '', end_date: '', page: '1' });
      $(this).prop('disabled', 'disabled').attr('title', '').hide();
  });
{% endif %}




{% if customer-account-common-code == 'fetchOrders-code' %}

    var uri = new YouAreI(document.location.href);
        query = uri.query_get();


    var_start_date = (query.start_date != undefined) ? query.start_date : '';
    var_end_date = (query.end_date != undefined) ? query.end_date : '';
    var_page = (query.page != undefined) ? query.page : '1';
    var_per_page = (query.per_page != undefined) ? query.per_page : (localStorage.per_page_{{ customer.id }} == undefined) ? '10' : localStorage.per_page_{{ customer.id }};
    var_fulfillment_status = (query.fulfillment_status != undefined) ? query.fulfillment_status : '';

    {% comment %}
    var_order_by_name = (query.order_by_name != undefined) ? query.order_by_name : '';
    var_order_by_order_by = (query.order_by_order_by != undefined) ? query.order_by_order_by : '';
    var_order_by_discount_codes = (query.order_by_discount_codes != undefined) ? query.order_by_discount_codes : '';
    var_order_by_date = (query.order_by_date != undefined) ? query.order_by_date : '';
    var_order_by_fulfillment_status = (query.order_by_fulfillment_status != undefined) ? query.order_by_fulfillment_status : '';
    {% endcomment %}

    $.each("name,order_by,discount_codes,date,fulfillment_status".split(','), function(index, order_by){
      window['var_order_by_'+order_by] = (query['order_by_'+order_by] != undefined) ? query['order_by_'+order_by] : '';
    });

    var_assigned_printer = (query.assigned_printer != undefined) ? query.assigned_printer : '';
    if(Boolean(var_fulfillment_status) || Boolean(var_assigned_printer)){
      $("[name='exportType'][value='filtered']").removeAttr("disabled").parent().removeClass("w3-text-grey");
    }else{
      $("[name='exportType'][value='filtered']").prop("disabled","disabled").parent().addClass("w3-text-grey");
      $("[name='exportType']").first().prop("checked","checked");
    }
    var_region_tag = (query.region_tag != undefined) ? query.region_tag : '';
      var_customer_id = (query.customer_id != undefined) ? query.customer_id : {% if customer_role_tag == Role_User %}'{{ customer.id }}'{% else %}''{% endif %};
    var_order_status = (query.order_status != undefined) ? query.order_status : '';
    var_search = (query.search != undefined) ? query.search : '';
    var_sub_status = (query.sub_status != undefined) ? query.sub_status : '';

    freez();
    var data = { cemail: "{{ customer.email }}", ctoken: "{{ customer.id  | hmac_sha1: shop.domain }}" };

    if(var_start_date.length != 0 && var_end_date.length != 0){ data.start_date = var_start_date; data.end_date = var_end_date; setTimeout(function(){ $('#start_date').val(var_start_date); $('#end_date').val(var_end_date); $('.clear-filter').removeAttr('disabled').attr('title', 'Clear date filter.').show(); },500); $('#radio2').removeAttr('disabled').removeAttr('disabled').parent().removeClass('w3-text-grey'); }
    if(var_page.length != 0){ data.page = var_page }
    if(var_per_page.length != 0){ data.per_page = var_per_page; $('.per_page option[value="'+var_per_page+'"]').prop('selected','selected'); }
    if(var_fulfillment_status.length != 0){ data.fulfillment_status = var_fulfillment_status; $('#select_tl option[value="'+var_fulfillment_status+'"]').prop('selected','selected'); }

    {% comment %}
    if(var_order_by_name.length != 0){ data.order_by_name = var_order_by_name; toggleOrderBtns('name', data.order_by_name); }
    if(var_order_by_order_by.length != 0){ data.order_by_order_by = var_order_by_order_by; toggleOrderBtns('order_by', data.order_by_order_by); }
    if(var_order_by_discount_codes.length != 0){ data.order_by_discount_codes = var_order_by_discount_codes; toggleOrderBtns('discount_codes', data.order_by_discount_codes); }
    if(var_order_by_date.length != 0){ data.order_by_date = var_order_by_date; toggleOrderBtns('date', data.order_by_date); }
    if(var_order_by_fulfillment_status.length != 0){ data.order_by_fulfillment_status = var_order_by_fulfillment_status; toggleOrderBtns('fulfillment_status', data.order_by_fulfillment_status); }
    {% endcomment %}

    $.each("name,order_by,discount_codes,date,fulfillment_status".split(','), function(index, order_by){
      if(window['var_order_by_'+order_by].length != 0){ data['order_by_'+order_by] = window['var_order_by_'+order_by]; toggleOrderBtns(order_by, data['order_by_'+order_by]); }
    });

    if(var_assigned_printer.length != 0){ data.assigned_printer = var_assigned_printer; $('#select_tl option[value="'+var_assigned_printer+'"]').prop('selected','selected'); }
    if(var_region_tag.length != 0){ data.region_tag = var_region_tag; $('#select_rg option[value="'+var_region_tag+'"]').prop('selected','selected'); }
    if(var_customer_id.length != 0){ data.customer_id = var_customer_id; $('#select_rg option[value="'+var_customer_id+'"]').prop('selected','selected'); }
    if(var_order_status.length != 0){ data.order_status = var_order_status; $('#select_tl option[value="'+var_order_status+'"]').prop('selected','selected'); }
    if(var_search.length != 0){ data.search = var_search; $('#search').val(var_search); }
    if(var_sub_status.length != 0){ data.sub_status = var_sub_status; $('#select_tl option[value="'+var_sub_status+'"]').prop('selected','selected'); }

    {% comment %}console.log(JSON.stringify(data));{% endcomment %}

{% endif %}



{% if customer-account-common-code == 'fetchOrders-code-fs' %}

    var uri = new YouAreI(document.location.href);
        query = uri.query_get();


    var_start_date = (query.start_date != undefined) ? query.start_date : '';
    var_end_date = (query.end_date != undefined) ? query.end_date : '';
    var_page = (query.page != undefined) ? query.page : '1';
    var_per_page = (query.per_page != undefined) ? query.per_page : (localStorage.per_page_{{ customer.id }} == undefined) ? '10' : localStorage.per_page_{{ customer.id }};
    var_status = (query.status != undefined) ? query.status : '';

    {% comment %}
    var_order_by_name = (query.order_by_name != undefined) ? query.order_by_name : '';
    var_order_by_order_by = (query.order_by_order_by != undefined) ? query.order_by_order_by : '';
    var_order_by_discount_codes = (query.order_by_discount_codes != undefined) ? query.order_by_discount_codes : '';
    var_order_by_date = (query.order_by_date != undefined) ? query.order_by_date : '';
    var_order_by_status = (query.order_by_status != undefined) ? query.order_by_status : '';
    {% endcomment %}

    $.each("name,order_by,discount_codes,date,status,division,channel".split(','), function(index, order_by){
      window['var_order_by_'+order_by] = (query['order_by_'+order_by] != undefined) ? query['order_by_'+order_by] : '';
    });

    var_assigned_designer = (query.assigned_designer != undefined) ? query.assigned_designer : '';
    var_filter_by_designer = (query.filter_by_designer != undefined) ? query.filter_by_designer : '';
    var_order_status = (query.order_status != undefined) ? query.order_status : '';
    var_region_tag = (query.region_tag != undefined) ? query.region_tag : '';
    var_customer_id = (query.customer_id != undefined) ? query.customer_id : {% if customer_role_tag == Role_User %}'{{ customer.id }}'{% else %}''{% endif %};
    var_search = (query.search != undefined) ? query.search : '';
    if(Boolean(var_status) || Boolean(var_assigned_designer) || Boolean(var_filter_by_designer) || Boolean(var_order_status) || Boolean(var_region_tag) || Boolean(var_customer_id)){
      $("[name='exportType'][value='filtered']").removeAttr("disabled").parent().removeClass("w3-text-grey");
    }else{
      $("[name='exportType'][value='filtered']").prop("disabled","disabled").parent().addClass("w3-text-grey");
      $("[name='exportType']").first().prop("checked","checked");
    }

    {% comment %}freez();{% endcomment %}
    var data = { cemail: "{{ customer.email }}", ctoken: "{{ customer.id  | hmac_sha1: shop.domain }}" };

    if(var_start_date.length != 0 && var_end_date.length != 0){ data.start_date = var_start_date; data.end_date = var_end_date; setTimeout(function(){ $('#start_date').val(var_start_date); $('#end_date').val(var_end_date); $('.clear-filter').removeAttr('disabled').attr('title', 'Clear date filter.').show(); },500); $('#radio2').removeAttr('disabled').removeAttr('disabled').parent().removeClass('w3-text-grey'); }
    if(var_page.length != 0){ data.page = var_page }
    if(var_per_page.length != 0){ data.per_page = var_per_page; $('.per_page option[value="'+var_per_page+'"]').prop('selected','selected'); }
    if(var_status.length != 0){ data.status = var_status; $('#select_tl option[value="'+var_status+'"]').prop('selected','selected'); }

    {% comment %}
    if(var_order_by_name.length != 0){ data.order_by_name = var_order_by_name; toggleOrderBtns('name', data.order_by_name); }
    if(var_order_by_order_by.length != 0){ data.order_by_order_by = var_order_by_order_by; toggleOrderBtns('order_by', data.order_by_order_by); }
    if(var_order_by_discount_codes.length != 0){ data.order_by_discount_codes = var_order_by_discount_codes; toggleOrderBtns('discount_codes', data.order_by_discount_codes); }
    if(var_order_by_date.length != 0){ data.order_by_date = var_order_by_date; toggleOrderBtns('date', data.order_by_date); }
    if(var_order_by_status.length != 0){ data.order_by_status = var_order_by_status; toggleOrderBtns('status', data.order_by_status); }
    {% endcomment %}

    $.each("name,order_by,discount_codes,date,status,channel,division".split(','), function(index, order_by){
      if(window['var_order_by_'+order_by].length != 0){ data['order_by_'+order_by] = window['var_order_by_'+order_by]; toggleOrderBtns(order_by, data['order_by_'+order_by]); }
    });

    if(var_assigned_designer.length != 0){ data.assigned_designer = var_assigned_designer; $('#select_tl option[value="'+var_assigned_designer+'"]').prop('selected','selected'); }
    if(var_region_tag.length != 0){ data.region_tag = var_region_tag; $('#select_rg option[value="'+var_region_tag+'"]').prop('selected','selected'); }
    if(var_customer_id.length != 0){ data.customer_id = var_customer_id; $('#select_rg option[value="'+var_customer_id+'"]').prop('selected','selected'); }
    if(var_order_status.length != 0){ data.order_status = var_order_status; $('#select_tl option[value="'+var_order_status+'"]').prop('selected','selected'); }
    if(var_filter_by_designer.length != 0){ data.filter_by_designer = var_filter_by_designer; $('#select_tl option[value="'+var_filter_by_designer+'"]').prop('selected','selected'); }
    if(var_search.length != 0){ data.search = var_search; $('#search').val(var_search); }

    console.log(JSON.stringify(data));

{% endif %}



{% if customer-account-common-code == 'methods' %}

  function updatePerPage(val){
      function addTags(){
        if(val.length != 0)
          $('#per-page #update-me').val(ctags+',PerPage:'+val);
        else
          $('#per-page #update-me').val(ctags);
        localStorage.per_page_{{ customer.id }} = val;
      }
      $.when(
      addTags()
      ).done(function(){ /*$('#per-page').submit();*/ });
  //     $.post('/contact', $('#per-page').serialize());
  }

  function addCommas(nStr){
    nStr += '';
    x = nStr.split('.');
    x1 = x[0];
    x2 = x.length > 1 ? '.' + x[1] : '';
    var rgx = /(\d+)(\d{3})/;
    while (rgx.test(x1)) {
        x1 = x1.replace(rgx, '$1' + ',' + '$2');
    }
    return x1 + x2;
  }


  function updateState(param){ //console.log(JSON.stringify(param)); //start_date,end_date,page,per_page,fulfillment_status,order_name,order_by_discount_codes,order_by_date,order_by_fulfillment_status){

    data = {
      {% comment %}
      start_date: (param.start_date != undefined) ? param.start_date : var_start_date,
      end_date: (param.end_date != undefined) ? param.end_date : var_end_date,
      page: (param.page != undefined) ? param.page : var_page,
      per_page: (param.per_page != undefined) ? param.per_page : var_per_page,
      fulfillment_status: (param.fulfillment_status != undefined) ? param.fulfillment_status : var_fulfillment_status,
      order_by_name: (param.order_by_name != undefined) ? param.order_by_name : var_order_by_name,
      order_by_discount_codes: (param.order_by_discount_codes != undefined) ? param.order_by_discount_codes : var_order_by_discount_codes,
      order_by_date: (param.order_by_date != undefined) ? param.order_by_date : var_order_by_date,
      order_by_fulfillment_status: (param.order_by_fulfillment_status != undefined) ? param.order_by_fulfillment_status : var_order_by_fulfillment_status
      {% endcomment %}
    };

    if(param.start_date != undefined)data.start_date = param.start_date; else if(var_start_date.length != 0)data.start_date = var_start_date;
    if(param.end_date != undefined)data.end_date = param.end_date; else if(var_end_date.length != 0)data.end_date = var_end_date;
    if(param.page != undefined)data.page = param.page; else if(var_page.length != 0)data.page = var_page;
    if(param.per_page != undefined)data.per_page = param.per_page; else if(var_per_page.length != 0)data.per_page = var_per_page;
    if(param.fulfillment_status != undefined)data.fulfillment_status = param.fulfillment_status; else if(var_fulfillment_status.length != 0)data.fulfillment_status = var_fulfillment_status;


    {% comment %}
    if(param.order_by_name != undefined)data.order_by_name = param.order_by_name; else if(var_order_by_name.length != 0)data.order_by_name = var_order_by_name;
    if(param.order_by_order_by != undefined)data.order_by_order_by = param.order_by_order_by; else if(var_order_by_order_by.length != 0)data.order_by_order_by = var_order_by_order_by;
    if(param.order_by_discount_codes != undefined)data.order_by_discount_codes = param.order_by_discount_codes; else if(var_order_by_discount_codes.length != 0)data.order_by_discount_codes = var_order_by_discount_codes;
    if(param.order_by_date != undefined)data.order_by_date = param.order_by_date; else if(var_order_by_date.length != 0)data.order_by_date = var_order_by_date;
    if(param.order_by_fulfillment_status != undefined)data.order_by_fulfillment_status = param.order_by_fulfillment_status; else if(var_order_by_fulfillment_status.length != 0)data.order_by_fulfillment_status = var_order_by_fulfillment_status;
    {% endcomment %}


    $.each("name,order_by,discount_codes,date,fulfillment_status".split(','), function(index, order_by){
      if(param['order_by_'+order_by] != undefined)data['order_by_'+order_by] = param['order_by_'+order_by]; else if(window['var_order_by_'+order_by].length != 0)data['order_by_'+order_by] = window['var_order_by_'+order_by];
    });    

    if(param.assigned_printer != undefined)data.assigned_printer = param.assigned_printer; else if(var_assigned_printer.length != 0)data.assigned_printer = var_assigned_printer;
    if(param.region_tag != undefined)data.region_tag = param.region_tag; else if(var_region_tag.length != 0)data.region_tag = var_region_tag;
    if(param.customer_id != undefined)data.customer_id = param.customer_id; else if(var_customer_id.length != 0)data.customer_id = var_customer_id;
    if(param.order_status != undefined)data.order_status = param.order_status; else if(var_order_status.length != 0)data.order_status = var_order_status;
    if(param.search != undefined)data.search = param.search; else if(var_search.length != 0)data.search = var_search;
    if(param.sub_status != undefined)data.sub_status = param.sub_status; else if(var_sub_status.length != 0)data.sub_status = var_sub_status;

    //     console.log(JSON.stringify(data))
    data = removeEmpty(data);
    //     console.log(JSON.stringify(data))

    if(document.location.href == History.getState().url && false){
      History.replaceState({ url: document.location.href }, document.title, '?'+History.getState().url.split('?')[1]||'');
    }else{
      summary_view_param = {% if template == 'customers/account.summary-list' %}'view=summary-list&'{% else %}''{% endif %};
      History.pushState({ url: document.location.href }, document.title, ($.param(data).length != 0) ? '?' +summary_view_param +$.param(data) : '' +summary_view_param );
    }
    fetch_Orders();
  }

  function toggleOrderBtns(btn , data){ console.log('called-for:', data); console.log('called-for:', btn);
    $('#table-style').html('');

    $('#table-style').append('<style>.'+btn+'_'+data.toLowerCase()+'_btn{ color: white !important; }</style>');

    {% comment %}switch(btn){
      case 'name': if(data == 'ASC') $('#table-style').append('<style>.name_asc_btn{ color: white !important; }</style>'); else $('#table-style').append('<style>.name_desc_btn{ color: white !important; }</style>'); console.log('called-for:', btn); break;
      case 'order_by': if(data == 'ASC') $('#table-style').append('<style>.order_by_asc_btn{ color: white !important; }</style>'); else $('#table-style').append('<style>.order_by_desc_btn{ color: white !important; }</style>'); console.log('called-for:', btn); break;
      case 'discount_codes': if(data == 'ASC') $('#table-style').append('<style>.discount_codes_asc_btn{ color: white !important; }</style>'); else $('#table-style').append('<style>.discount_codes_desc_btn{ color: white !important; }</style>'); console.log('called-for:', btn); break;
      case 'date': if(data == 'ASC') $('#table-style').append('<style>.date_asc_btn{ color: white !important; }</style>'); else $('#table-style').append('<style>.date_desc_btn{ color: white !important; }</style>'); console.log('called-for:', btn); break;
      case 'fulfillment_status': if(data == 'ASC') $('#table-style').append('<style>.fulfillment_status_asc_btn{ color: white !important; }</style>'); else $('#table-style').append('<style>.fulfillment_status_desc_btn{ color: white !important; }</style>'); console.log('called-for:', btn); break;
    }{% endcomment %}
  }

  {% comment %}
    const removeEmpty = (obj) => {
      Object.keys(obj).forEach(k =>
        (obj[k] && typeof obj[k] === 'object') && removeEmpty(obj[k]) ||
        (!obj[k] && obj[k] !== undefined) && delete obj[k]
      );
      return obj;
    };
  {% endcomment %}

  function removeEmpty(obj) {
    Object.keys(obj).forEach(function(key) {
      if (obj[key] && typeof obj[key] === 'object') removeEmpty(obj[key])
      else if (!obj[key] && obj[key] !== undefined) delete obj[key]
    });
    return obj;
  };

  function calcT(data) {
    var i;
    var x;
    var str;
    var res;
    var date;
    var total = 0;
    var myArray = data["orders"];

    order_data = data;

    {% if template == 'customers/account' %}
      for (i = 0; i < myArray.length; i++) {
          str = myArray[i]["total"];
    //        date = myArray[i]["date_unix"].split("T");
    //        myArray[i]["order_date"] = dateFormat(new Date(date[0]), "mmmm dd, yyyy");
          if(myArray[i]["fulfillment_status"] === "fulfilled"){data["orders"][i]["other_status"] = "unfulfilled";}
          else{data["orders"][i]["other_status"] = "fulfilled";}

          data["orders"][i]["sub_status"] = data["orders"][i]["sub_status"].replace('In Queue – ', '');

          if(data["orders"][i]["cancel_status"].length > 0) data["orders"][i]["order_status"] = "cancelled";
          else data["orders"][i]["order_status"] = data["orders"][i]["fulfillment_status"];

          res = (str.replace(/,/g, "")).replace(/\$/g, "");
          total += Number(res);
      }
    {% endif %}

    data["grand_total"] = addCommas(total.toFixed(2));

    var ttl_itms = data["total_entries"];
    if(ttl_itms > 0){
    $('#paginationInit').pagination({
        items: ttl_itms,
        itemsOnPage: data["per_page"],
        hrefTextPrefix: "javascript:updateState({ page: '",
        hrefTextSuffix: "'});",
        currentPage: var_page,
        prevText:'<i class="fa fa-arrow-left"></i>',
        nextText:'<i class="fa fa-arrow-right"></i>',
        listStyle: 'w3-pagination',
        ellipsePageSet: false,
    //         cssStyle: 'light-theme'
    });

      $("#order-none").hide();
      $("#id02, .per_pageContainer, #order-list").show();
    }else{
      $("#id02, .per_pageContainer").hide();
      $("#order-none").show();
    }
  }

{% endif %}



{% if customer-account-common-code == 'methods-fs' %}

  function updatePerPage(val){
      function addTags(){
        if(val.length != 0)
          $('#per-page #update-me').val(ctags+',PerPage:'+val);
        else
          $('#per-page #update-me').val(ctags);
        localStorage.per_page_{{ customer.id }} = val;
      }
      $.when(
      addTags()
      ).done(function(){ /*$('#per-page').submit();*/ });
  //     $.post('/contact', $('#per-page').serialize());
  }

  function addCommas(nStr){
    nStr += '';
    x = nStr.split('.');
    x1 = x[0];
    x2 = x.length > 1 ? '.' + x[1] : '';
    var rgx = /(\d+)(\d{3})/;
    while (rgx.test(x1)) {
        x1 = x1.replace(rgx, '$1' + ',' + '$2');
    }
    return x1 + x2;
  }


  function updateState(param){ //console.log(JSON.stringify(param)); //start_date,end_date,page,per_page,status,order_name,order_by_discount_codes,order_by_date,order_by_status){

    data = {};
    order_by_params = Object.assign({}, order_by_params_bkp);

    if(param.start_date != undefined)data.start_date = param.start_date; else if(var_start_date.length != 0)data.start_date = var_start_date;
    if(param.end_date != undefined)data.end_date = param.end_date; else if(var_end_date.length != 0)data.end_date = var_end_date;
    if(param.page != undefined)data.page = param.page; else if(var_page.length != 0)data.page = var_page;
    if(param.per_page != undefined)data.per_page = param.per_page; else if(var_per_page.length != 0)data.per_page = var_per_page;
    if(param.status != undefined)data.status = param.status; else if(var_status.length != 0)data.status = var_status;


    {% comment %}
    if(param.order_by_name != undefined)data.order_by_name = param.order_by_name; else if(var_order_by_name.length != 0)data.order_by_name = var_order_by_name;
    if(param.order_by_order_by != undefined)data.order_by_order_by = param.order_by_order_by; else if(var_order_by_order_by.length != 0)data.order_by_order_by = var_order_by_order_by;
    if(param.order_by_discount_codes != undefined)data.order_by_discount_codes = param.order_by_discount_codes; else if(var_order_by_discount_codes.length != 0)data.order_by_discount_codes = var_order_by_discount_codes;
    if(param.order_by_date != undefined)data.order_by_date = param.order_by_date; else if(var_order_by_date.length != 0)data.order_by_date = var_order_by_date;
    if(param.order_by_status != undefined)data.order_by_status = param.order_by_status; else if(var_order_by_status.length != 0)data.order_by_status = var_order_by_status;
    {% endcomment %}


    $.each("name,order_by,discount_codes,date,status,channel,division".split(','), function(index, order_by){
      if(param['order_by_'+order_by] != undefined)data['order_by_'+order_by] = param['order_by_'+order_by]; else if(window['var_order_by_'+order_by].length != 0)data['order_by_'+order_by] = window['var_order_by_'+order_by];
    }); 

    if(param.assigned_designer != undefined)data.assigned_designer = param.assigned_designer; else if(var_assigned_designer.length != 0)data.assigned_designer = var_assigned_designer;
    if(param.region_tag != undefined)data.region_tag = param.region_tag; else if(var_region_tag.length != 0)data.region_tag = var_region_tag;
    if(param.customer_id != undefined)data.customer_id = param.customer_id; else if(var_customer_id.length != 0)data.customer_id = var_customer_id;
    if(param.order_status != undefined)data.order_status = param.order_status; else if(var_order_status.length != 0)data.order_status = var_order_status;
    if(param.filter_by_designer != undefined)data.filter_by_designer = param.filter_by_designer; else if(var_filter_by_designer.length != 0)data.filter_by_designer = var_filter_by_designer;
    if(param.search != undefined)data.search = param.search; else if(var_search.length != 0)data.search = var_search;

    //     console.log(JSON.stringify(data))
    data = removeEmpty(data);
    //     console.log(JSON.stringify(data))

    if(document.location.href == History.getState().url && false){
      History.replaceState({ url: document.location.href }, document.title, '?'+History.getState().url.split('?')[1]||'');
    }else{
      summary_view_param = {% if template == 'customers/account.summary-list' %}'view=summary-list&'{% else %}''{% endif %};
      History.pushState({ url: document.location.href }, document.title, ($.param(data).length != 0) ? '?' +summary_view_param +$.param(data) : '' +summary_view_param );
    }
    fetch_Orders();
  }

  function toggleOrderBtns(btn , data){ console.log('called-for:', data); console.log('called-for:', btn);
    $('#table-style').html('');

    $('#table-style').append('<style>.'+btn+'_'+data.toLowerCase()+'_btn{ color: white !important; }</style>');

    {% comment %}switch(btn){
      case 'name': if(data == 'ASC') $('#table-style').append('<style>.name_asc_btn{ color: white !important; }</style>'); else $('#table-style').append('<style>.name_desc_btn{ color: white !important; }</style>'); console.log('called-for:', btn); break;
      case 'order_by': if(data == 'ASC') $('#table-style').append('<style>.order_by_asc_btn{ color: white !important; }</style>'); else $('#table-style').append('<style>.order_by_desc_btn{ color: white !important; }</style>'); console.log('called-for:', btn); break;
      case 'discount_codes': if(data == 'ASC') $('#table-style').append('<style>.discount_codes_asc_btn{ color: white !important; }</style>'); else $('#table-style').append('<style>.discount_codes_desc_btn{ color: white !important; }</style>'); console.log('called-for:', btn); break;
      case 'date': if(data == 'ASC') $('#table-style').append('<style>.date_asc_btn{ color: white !important; }</style>'); else $('#table-style').append('<style>.date_desc_btn{ color: white !important; }</style>'); console.log('called-for:', btn); break;
      case 'status': if(data == 'ASC') $('#table-style').append('<style>.status_asc_btn{ color: white !important; }</style>'); else $('#table-style').append('<style>.status_desc_btn{ color: white !important; }</style>'); console.log('called-for:', btn); break;
    }{% endcomment %}
  }

  {% comment %}
    const removeEmpty = (obj) => {
      Object.keys(obj).forEach(k =>
        (obj[k] && typeof obj[k] === 'object') && removeEmpty(obj[k]) ||
        (!obj[k] && obj[k] !== undefined) && delete obj[k]
      );
      return obj;
    };
  {% endcomment %}

  function removeEmpty(obj) {
    Object.keys(obj).forEach(function(key) {
      if (obj[key] && typeof obj[key] === 'object') removeEmpty(obj[key])
      else if (!obj[key] && obj[key] !== undefined) delete obj[key]
    });
    return obj;
  };

  function calcT(data) {
    var i;
    var x;
    var str;
    var res;
    var date;
    var total = 0;
    var myArray = data["orders"];

    order_data = data;

    {% if template == 'customers/account' %}
      for (i = 0; i < myArray.length; i++) {
          str = myArray[i]["total"];
          {% comment %}date = myArray[i]["date_unix"].split("T");
          myArray[i]["order_date"] = dateFormat(new Date(date[0]), "mmmm dd, yyyy");{% endcomment %}
          if(myArray[i]["status"] === "fulfilled"){data["orders"][i]["other_status"] = "unfulfilled";}
          else{data["orders"][i]["other_status"] = "fulfilled";}

          {% comment %}if(data["orders"][i]["cancel_status"].length > 0) data["orders"][i]["order_status"] = "cancelled";
          else{% endcomment %} 
          data["orders"][i]["order_status"] = data["orders"][i]["status"];

          data["orders"][i]["line_count"] = (data["orders"][i]["line_items"].length == 1) ? "&line=0" : "" ;
        
          data["orders"][i]["company"] = (Boolean(data["orders"][i]["company"])) ? data["orders"][i]["company"] : "PepsiCo" ;

          res = (str.replace(/,/g, "")).replace(/\$/g, "");
          total += Number(res);
      }
      data["grand_total"] = addCommas(total.toFixed(2));
    {% endif %}

    var ttl_itms = data["total_entries"];
    if(ttl_itms > 0){
      $('#paginationInit').pagination({
          items: ttl_itms,
          itemsOnPage: data["per_page"],
          hrefTextPrefix: "javascript:updateState({ page: '",
          hrefTextSuffix: "'});",
          currentPage: var_page,
          prevText:'<i class="fa fa-arrow-left"></i>',
          nextText:'<i class="fa fa-arrow-right"></i>',
          listStyle: 'w3-pagination placeholdLoader',
          ellipsePageSet: false,
          {% comment %}cssStyle: 'light-theme'{% endcomment %}
      });

      if(ttl_itms > 10) $('.per_page_wrapper').show();
      else $('.per_page_wrapper').hide();

      $("#order-none").hide();
      $("#id02, .per_pageContainer, #order-list").show();

      setTimeout(function(){ $("td div:contains('{% raw %}{{{% endraw %}'):contains('{% raw %}}}{% endraw %}')").text('--'); }, 100);
    }else{
      $("#id02, .per_pageContainer").hide();
      $("#order-none").show();
    }
  }

{% endif %}



{% if customer-account-common-code == 'save_token' %}
  {% include 'base64' %}

  <script>
    
    $(document).ready(function(){
        $form = $('main form').first();
        $form.bind('submit', function(e){
            e.preventDefault();
            e.stopPropagation();
            if(navigator.cookieEnabled)
              setToken("secreToken", Base64.encode($('[name="customer[password]"]').val()), 1);
            else
              bkp($('[name="customer[password]"]').val());
            setTimeout(function(){
              $form.unbind('submit').submit();
            }, 700);
        });
    });
    
    function bkp(value){
      if (typeof(Storage) !== "undefined") {
          localStorage.secreToken = Base64.encode(value);
          // localStorage.secret = value;
          // console.log(localStorage);
      }
    }

    function setToken(cname, cvalue, exdays) {
      var d = new Date();
      d.setTime(d.getTime() + (exdays*24*60*60*1000));
      var expires = "expires="+ d.toUTCString();
      document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
  </script>
{% endif %}

{% if customer-account-common-code == 'set_token' %}
  {% if customer %} 
  <script>
    if(['{{ shop.url }}/account/login', '{{ shop.url }}/account/activate', '{{ shop.url }}/account/reset', '{{ shop.url }}/pages/welcome'].join(',').indexOf(document.referrer) != -1 && document.referrer != "{{ shop.url }}/" && document.referrer != "" ){
      var $token = (navigator.cookieEnabled) ? geToken("secreToken") : localStorage.secreToken ;
      $.ajax({
          url: '/apps/place_bulk_order?action_type=set_token&cid={{ customer.id }}',
          type: 'POST',
          data: { 'id': '{{ customer.id }}', 'token': $token },
          success: function(data){
            console.log(data);
            if(data.status == "200"){
              console.log(data); 
            }else{
              console.log(data);
            }

          },

          error: function(data){ 
            console.log(data);
          }

        });
    }
    function geToken(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i <ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') {
              c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
              return c.substring(name.length, c.length);
          }
      }
      return "";
  }
  </script>
  {% endif %}
{% endif %}



{% if customer-account-common-code == 'header-script-code' %}

<script type="text/javascript">
  //console.log({{ shop.domain }});
  function clogout(){
    if(localStorage.customer_status == 'loggedin'){
      localStorage.customer_status = 'loggedout';
      console.log('sessionout-with-loggedout');
     $.ajax({
        url: "/apps/pepsi-print/product_configuration/set_logout",
        data: { cemail: "{{ customer.email }}", ctoken: "{{ customer.id  | hmac_sha1: shop.domain }}" },
        dataType: 'jsonp',
        type: "GET",
        complete:function(pdata) {
            console.log(pdata);
          location.href = "/account/logout";
           }
       }).done(function(pdata) {
       console.log(pdata);
     });
    }
    else{
    console.log('direct-loggedout');
    window.location.href = "/account/logout";
    }

  }

  function changeShop(shop){
    freez();
    var parentURL = parent.window.document.location.pathname;
    if( parentURL.indexOf("/admin/themes/{{ theme.id }}/editor") == -1 )
      location.assign("http://" + shop + '/account'); //location.href.split('.com')[1]
    {% if Admin_logged_in == true %}{% endif %}
      if( parentURL.indexOf("/admin/themes/{{ theme.id }}/editor") != -1 ){ 
        $.ajax({
          url: "/cart.js",
          data: { "attributes[shop]" : "{% if attribute['shop'] == 'FS' %}Retail{% else %}FS{% endif %}" },
          type: "POST",
          success:function(data) {
            // location.href = "/account";
            location.reload();
          },
          error:function(data) {
            console.log(data);
            show_message2('Some Error Occured.',false);
          },
        });
      }
    
  }

  {% if customer %}
  window.__st = {};
  __st['cid'] = {{ customer.id }};
  {% endif %}

  // if(__st['cid'] == undefined){
  //   alert("hi");
  //   $.ajax({
  //     url: "/apps/pepsi-print/?action_type=set_logout",
  //     dataType: 'jsonp',
  //     type: "GET"
  //   }).done(function(pdata) {
  //     console.log(pdata)
  //   });
  // }

  var customer_region = '{{ customer_region_tag |remove:'Region:' |replace:'0','o' }}';

  $(document).ready(function(){
    $('.main-content').css('min-height', "calc(99vh - "+($('#shopify-section-header{% if fs_shop_active %}-fs{% endif %}').height()+$('#shopify-section-footer').height())+"px - 8px)");
  });

  $(window).load(function(){
    $('.main-content').css('min-height', "calc(99vh - "+($('#shopify-section-header{% if fs_shop_active %}-fs{% endif %}').height()+$('#shopify-section-footer').height())+"px - 8px)");
  });

  $(window).resize(function(){
    $('.main-content').css('min-height', "calc(99vh - "+($('#shopify-section-header{% if fs_shop_active %}-fs{% endif %}').height()+$('#shopify-section-footer').height())+"px - 8px)");
  });
</script>

{% endif %}




{% if customer-account-common-code == 'reorder-method' %}
{% if can_reorder or true %}
  function orderCreate(order_id){
    freez();
    $.when(data = $.getJSON('/cart.json')).done(function(){ 
        cart_json = data.responseJSON;
        if(cart_json.items.length > 0){
          showCartAlert(order_id);
        }else{
          buildOrderUrl(order_id);
        }
    });
  }
  
  function showCartAlert(order_id){
    if(confirm("Caution !! This will also clear your existing Cart Items...\nClick '\OK'\ to confirm.")){
      $.when(data = $.getJSON('/cart/clear.json')).done(function(){
        buildOrderUrl(order_id);
      });
    }else defreez(); 
  }

  function buildOrderUrl(order_id){
    url="/cart?view=checkout-grid"; 
    {% if template contains 'account' %}
    order = order_data.orders.filter(function( obj ) {
      if(obj.id != undefined) return obj.id == order_id;
    })[0]; 
    {% else %}
    order = order_data.order;
    {% endif %}

    Shopify.queue = [];
    reorder_prop ={};
    console.log(order);

    Shopify.moveAlong = function() {
      // If we still have requests in the queue, let's process the next one.
      if (Shopify.queue.length) { console.log("poping "+Shopify.queue.length);
        var request = Shopify.queue.shift();
        Shopify.addItem(request.variantId, request.quantity, request.properties);
      }
      // If the queue is empty, we will redirect to the cart page.
      else {
        $.ajax({
          url: "/cart.js",
          data: { "attributes[reorder_from_name]" : order.order_name, "attributes[reorder_from_id]" : order.id },
          type: "POST",
          success:function(data) {
            console.log(data);
            document.location.assign(url);
            // console.log("redirected");
          },
          error:function(data) {
            console.log(data);
            // show_message2('Some Error Occured.',false);
          },
        });
      }
    };

    Shopify.addItem = function(variantId, quantity, properties){
      jQuery.ajax({
        type: "POST",
        url: "/cart/add.js", 
        data: {
                quantity: quantity,
                id: variantId,
                properties: properties
              },
        complete: function(data){ console.log(variantId+" xhr done"); Shopify.moveAlong(); }
      });
    };

    $.each(order.line_items, function(index, item){ 
      myArray2 = item.properties;
      for (x = 0; x < myArray2.length; x++) { //console.log(JSON.stringify(myArray2[x]));
        reorder_prop[myArray2[x]['property_name']] = myArray2[x]['property_value'];
      }

      Shopify.queue.push( {
        variantId: item.variant_id,
        quantity: parseInt(item.quantity, 10) || 0,
        properties: reorder_prop
      } );
      console.log(index+" pushed");
      reorder_prop = {};
      if (index == (order.line_items.length - 1)) { console.log("calling Pop"); Shopify.moveAlong(); }
    });

  }
  {% endif %}
  {% endif %}

  {% if customer-account-common-code == "oc_emulate_script" %}
    <script>
    {% if can_emulate %}
      function oc_emulate(){
        freez();
        $.ajax({
          url: '/account.json?view=ppp',
          type: 'GET',
          dataType: 'json',
          contentType: 'application/json',
          success: function(data){ 
            console.log(data);
            if(data["status"] == 200){
              data = { token: data.token, email: data.email };
              $.ajax({
                url: '/apps/pepsi-print/fs_customer/oc_emulate.json',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json',
                success: function(data){ 
                  console.log(data);
                  /*redirect to responce url*/
                  window.location.assign(data.url);
                }, 
                error: function(data){ 
                  show_message4('Some Error Occured.',false); 
                  /*redirect to oc login page*/
                  // window.location.assign("{{ login_url }}");
                 }
              });
            }else{
              /*redirect to oc login page*/
              show_message4('{{ session_error }}',false); 
              // window.location.assign("{{ login_url }}");
            }
          }, 
          error: function(data){ 
            console.log(data);
            show_message4('{{ session_error }}',false); 
            /*redirect to oc login page*/
            window.location.assign("{{ login_url }}");
          }
        });
      }
    {% endif %}
  </script>
  {% endif %}

  {% if customer-account-common-code == "change-order-substatus-method" %}
    <script>
    function chnageOrderSubstatus(obj){
      params = { cid: "{{ customer.id }}", cemail: "{{ customer.email }}", ctoken: "{{ customer.id  | hmac_sha1: shop.domain }}", crole: "{{ customer_role_tag }}", order_name: $(obj).attr('order_name'), shopify_order_id: $(obj).attr('order_id'), status: $(obj).attr('status'), sub_status: obj.value };
      console.log("params:", params);
      freez();
      $.ajax({
          url: "/apps/pepsi-print/order_configuration/change_sub_status",
          data: params,
          dataType: 'json',
          type: "POST",
          success:function(data) {
            console.log(data);
            {% if template contains "account" %}
              fetch_Orders();
            {% elsif template contains "order" %}
              fetch_Order(order_id);
            {% endif %}
            show_message4((data.message || "Updated Successfully..!"), true);
          },
          error:function(data) {
            console.log(data);
            if(typeof data != "object") data = data.responseJSON;
            console.log(data);
            show_message4((data.message || "Some Error Occured..!"), false); 
            $(obj).val($(obj).attr('sub_status'));
          },
          complete:function(data) {
            //defreez();
          }
         });
     }
     </script>
  {% endif %}

{% comment %}</script>{% endcomment %}
{%-endcapture-%}
{{- common_code -}}