{% include 'customer-account-common-code' with 'theme-layout-code' %}

<div class="product-single">
  <div class="grid product-single__hero">
    <div class="grid__item post-large--one-half">
      	<h1>{{ product.title }}</h1>
        {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
        <img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg" {% if section.settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ featured_image | img_url: '1024x1024' }}"{% endif %}{% if section.settings.product_image_zoom_type == 'lightbox' %} class="zoom-lightbox"{% endif %} data-image-id="{{ featured_image.id }}">
    </div>
    <span class="grid__item post-large--one-half">
      {% for option in product.options_with_values limit:1 %}
        {% assign option_name = option.name %}
      {% endfor %}
      <h2>Select Element(s) and Edit Price(s)</h2>
      <div id ="statusMessage"></div>
        <form method="post" id="edit-variant-frm-{{product.id}}" product_id="{{product.id}}" onsubmit="reactClick(event, this);">
          <table>
            <thead>
              <tr>
                  <th></th>
                  <th class="text-center">{%comment%}{{ option_name }}{%endcomment%}Element</th>
                  <th class="text-center">Default</th>
                  <th class="text-center">Price</th>
              </tr>
            </thead>
            <tbody>
            {% for variant in product.variants %}
              {% assign region_var_price = '' %}
              {% assign region_var_id = '' %}
              {% assign variant_title_array = variant.title | split: ' / ' %}
              {% assign check = false %}
              {% if variant.option2 %}
                {% assign check_variant_option2 = true %}
              {% else %}
                {% assign check_variant_option2 = false %}
              {% endif %}
              {% comment %}{ variant.option2 == customer_region_tag and check_variant_option2 == true }{% endcomment %}
              {% if variant.option2 == 'Default' or check_variant_option2 == false %}
                {% assign check = true %} {% assign count = forloop.index0 %}
              {% else %}
                {% continue %}
              {% endif %}

              {% if variant.available and check == true %}   <script>//check_variant_option2 == false</script>
                {% for variant1 in product.variants %}
                  {% assign variant_title_array4custom = variant1.title | split: ' / ' %}
                  {%if variant_title_array4custom contains variant_title_array.first and variant_title_array4custom contains customer_region_tag %}
                    {% assign region_var_price = variant1.price | money_without_currency %}
                    {% assign region_var_id = variant1.id %}
                    {% break %}
                  {%endif%}
                {% endfor %}

                {% if region_var_id == '' %}
                  {% assign variant_id_for_name = variant.id %}
                {% else %}
                  {% assign variant_id_for_name = region_var_id %}
                {% endif %}
                {% if region_var_price == '' %}
                  {% assign variant_price_value = variant.price | money_without_currency %}
                {% else %}
                  {% assign variant_price_value = region_var_price %}
                {% endif %}
                <tr>
                  <td><input type="checkbox" variant="#variant_{{variant.id}}" {% if variant_price_value != '0.00' %}checked title="Uncheck to disable this variant."{% else %}title="Check to enable this variant."{% endif %} onchange="toggleFunc(this.getAttribute('variant'), this);"></td>
                  <td>{{ variant.title | split: " / " | first }}</td>
                  <td>${{ variant.price | money_without_currency }}</td>
                  <td><input id="variant_{{variant.id}}" class="text-right w3-margin-0 edit-input" type="text" required {% if variant_price_value != '0.00' %}title="Enter Non-zero price for enabled variant." pattern="^(?!0*(\.0+)?$)(\d+|\d*\.\d{1,2})$" patterns="^(\d+((\.)\d{1,2})?)([^0]((\.)[^0]{1,2})?)$"{% else %}readonly{% endif %} placeholder="Enter Custom price" name="region_variant_id[{{variant_id_for_name}}]" value="{{ variant_price_value  }}" style="{% assign def_price = variant.price | money_without_currency %}{% unless variant_price_value == def_price or variant_price_value == '0.00' %}background:#81d4fa;{% endunless %}" onchange="contentChanged({{ product.id }});" ></td> <script>console.log('{{ variant_price_value }},{{region_var_price}}');</script>
                  <input type="hidden" name="variant_id[{{variant.id}}]" value="{{region_var_id }}" />
                </tr>


              {% else %}

              {% endif %}
            {% endfor %}

            </tbody>
          </table>

          {% unless count %}
            <div class="note text-center"> <h3>No variant available for this product.</h3> </div>
          {% endunless %}

          <input type="submit" handler="{{ product.handle }}"  class="btn open-popup" value="Save" id="edit-variant-submit-{{product.id}}" disabled />
          <button type="button" class="btn" onclick="document.getElementsByClassName('mfp-close')[0].click();">Back</button>
      </form>
    </span>
  </div>
</div>
<script type="text/javascript">
  var cemail = "{{ customer.email }}"

  function reactClick(obj){
	    //alert('you clicked "'+$(obj).prop('id')+'" of form "'+$(obj).parent().prop('id')+'"');
    data = $("#"+$(obj).parent().prop('id')).serializeArray();
    $.ajax({type: "POST",
            url: "/print_app/product_price/create_option",
            data: { variant_info: data, product_id: "8335550097" },
            //success:function(result){
            //$("#sharelink").html(result);
            //}
           });  }
 </script>
