
  <div id="order-list" style="display:none;">
  	<div class="w3-row">
    	<div class="w3-col s3">
          <small class="nbsp-hide"><label for="">Date Filter</label></small>
    	  <input id="start_date" value="{{first_order}}" readonly class="datepicker" type="text" name="start_date" placeholder="Start Date" >
    	</div>
      	<div class="w3-col s3 w3-row-padding">
          <small class="nbsp-hide"><label for="">&nbsp;</label></small>
    	  <input id="end_date" value="{{'now' | date: '%m/%d/%Y'}}" readonly class="datepicker" type="text" name="end_date" placeholder="End Date" >
    	</div>
      	<div class="w3-col s6">
          <small class="nbsp-hide"><label for="">&nbsp;</label></small>
          <button id="" class="btn btn--secondary btn--full1 clear-filter" type="button" style="display:none;" >Clear Dates</button>
    	  <button id="filter_order" class="btn btn--secondary" type="button" >Filter Dates</button>
    	</div>
    </div>
  <table id="id02" class="responsive-table w3-table w3-bordered w3-striped">
    <thead>
      <tr class="w3-text-white" style="background-color: {{ settings.color_topbar_bg }}">
        <th style="max-width:400px !important;" class="text-center">Order</th>
        <th class="text-center"><span class="th-span">Order By</span><div class="btn-group printModeExclude"><button type="button" class="order_by_asc_btn" onclick="updateState({order_by_name: '', order_by_order_by: 'ASC', order_by_discount_codes: '', order_by_date: '', order_by_fulfillment_status: '', page: '1'});"><i class="fa fa-caret-up"></i></button><button type="button" class="order_by_desc_btn" onclick="updateState({order_by_name: '', order_by_order_by: 'DESC', order_by_discount_codes: '', order_by_date: '', order_by_fulfillment_status: '', page: '1'});"><i class="fa fa-caret-down"></i></button></div></th>
        <th class="text-center"><span class="th-span">{{ 'customer.orders.date' | t }}</span><div class="btn-group printModeExclude"><button type="button" class="date_asc_btn" onclick="updateState({order_by_name: '', order_by_order_by: '', order_by_discount_codes: '', order_by_date: 'ASC', order_by_fulfillment_status: '', page: '1'});"><i class="fa fa-caret-up"></i></button><button type="button" class="date_desc_btn" onclick="updateState({order_by_name: '', order_by_order_by: '', order_by_discount_codes: '', order_by_date: 'DESC', order_by_fulfillment_status: '', page: '1'});"><i class="fa fa-caret-down"></i></button></div></th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tr w3-repeat="orders">
      <th  style="max-width:400px !important;" class="w3-text-orange1 orders text-center order_names_{% raw %}{{parent_id}}{% endraw %}" id="order_names_{% raw %}{{parent_id}}{% endraw %}"><div w3-repeat="order_group_names" class="w3-col l4 m4 s6"><a style="color:{{ settings.color_topbar_bg }};" href="/pages/order?id={% raw %}{{shopify_order_id}}{% endraw %}" printer="{% raw %}{{printer}}{% endraw %}">{% raw %}{{name}}{% endraw %}</a></div></th>
      <td class="text-center" title="{% raw %}{{customer_last_email}}{% endraw %}">{% raw %}{{customer_last_name}}{% endraw %}</td>
      <td class="text-center">{% raw %}{{order_date}}{% endraw %}</td>
      <td class="text-center"><a href="/pages/order-summary?id={% raw %}{{parent_id}}{% endraw %}"><button class="btn btn--secondary" style="" title="View detail for this order group" status="{% raw %}{{fulfillment_status}}{% endraw %}" status2="{% raw %}{{cancel_status}}{% endraw %}" order_id="{% raw %}{{id}}{% endraw %}" >View Detail</button></a></td>
    </tr>
    {% comment %}
    <tr>
      <td class="text-center"><b>Total:</b></td>
      <td></td>
      <td class="text-right"><b>${% raw %}{{grand_total}}{% endraw %}</b></td>
      <td colspan="2"></td>
    </tr>
    {% endcomment %}
  </table>
  
  {% include 'customer-account-common-code' with 'pagination-code' %}
    
</div>

{% include 'customer-account-common-code' with 'per-page-form' %}

<script>
  
 {% include 'customer-account-common-code' with 'init-variables' %}
  
  
  $(document).ready(function() {
    
    fetch_Orders('','','1');
    
    {% include 'customer-account-common-code' with 'doc-ready-code' %}
    
  });
  
  
  
  {% include 'customer-account-common-code' with 'methods' %}
  
  
  
  function fetch_Orders(start_date, end_date, page){
    
    {%comment%}
    var1 = start_date;
    var2 = end_date;
    var3 = page;
    freez();
    var data = { cemail: "{{ customer.email }}", ctoken: "{{ customer.id  | hmac_sha1: shop.domain }}" };
                
    if(start_date.length != 0 && end_date.length != 0){ data.start_date = start_date; data.end_date = end_date; $('#radio2').removeAttr('disabled').removeAttr('disabled').parent().removeClass('w3-text-grey'); }
    if(page.length != 0){ data.page = page }
    {%endcomment%}
    
    {% include 'customer-account-common-code' with 'fetchOrders-code' %}
    
  	 $.ajax({
          url: '/apps/pepsi-print/collection_response/get_asm_group_list.json',
          type: 'GET',
          data: data,
          dataType: 'json',
          success: function(data){
//             	console.log(JSON.stringify(data));
            	if(data["total_entries"] > 0){
                  calcT(data, start_date, end_date, page);
                  setTimeout(w3DisplayData("id02", data),100);
                  setTimeout(function(){
                    $('[id^="order_names_"]').each(function(index, item){
                      setTimeout(w3DisplayData($(item).attr('id'), data.orders[index]),100*index);
                    }).promise().done($('a[printer^="Printer:"]').css('color','#aaa'));
                  },200);
                  $("#print-btn").removeAttr('disabled').prop('title', '').css('cursor', 'default');
				}else{
                  $("#id02, #paginationInit").hide();
                  $("#order-none").show();
                  $("#print-btn").prop('disabled','disabled').prop('title', 'No orders to print.').css('cursor', 'not-allowed');
                  
                }
            	$.unblockUI();
                
          },
          error: function(){
            $.unblockUI; show_message2('Error in fetching Orders.',false);
          }
          
	 	});
    
  }
  
 

</script>


