{% if customer  %}

  {% include 'customer-account-common-code' with 'theme-layout-code' %}

{% endif %}

{% assign sort_url_params = '?sort_by=created-descending' %}

<ul id="nav-2" class="site-nav" style="margin-bottom:0px; margin-top:0px;">
  	{% comment %}
  	<li {% if link.active %}class="site-nav--active"{% endif %}>
      <a href="/collections/universal-list/" class="site-nav__link12"><button type="button" class="btn--secondary">Universal Product List</button></a>
    </li>
   {% endcomment %}
    <li {% if link.active %}class="site-nav--active"{% endif %}>
      <a href="/collections/{{ collection_handle | split: '-' | first }}-my-products{{ sort_url_params }}" class="site-nav__link12"><button type="button" class="btn--secondary">My Products</button></a>
    </li>
    <li {% if link.active %}class="site-nav--active"{% endif %}>
      <a href="/collections/{{ collection_handle | split: '-' | first }}-not-in-my-products{{ sort_url_params }}" class="site-nav__link12"><button type="button" class="btn--secondary">Products Not in My List</button></a>
    </li>
  	<li {% if link.active %}class="site-nav--active"{% endif %}>
      <a href="/collections/{{ collection_handle | split: '-' | first }}-new{{ sort_url_params }}" class="site-nav__link12"><button type="button" class="btn--secondary">New</button></a>
    </li>
  	{% comment %}
    <li {% if link.active %}class="site-nav--active"{% endif %}>
      <a href="/collections/{{ collection_handle }}-edited" class="site-nav__link12"><button type="button" class="btn--secondary">Edited Products</button></a>
    </li>
    <li {% if link.active %}class="site-nav--active"{% endif %}>
      <a href="/pages/locations" class="site-nav__link12"><button type="button" class="btn--secondary">Location</button></a>
    </li>
  	{% endcomment %}
</ul>
