
<div class="section-header section-header--large">
  <h1 class="section-header__title printModeExclude">{{ 'customer.account.title' | t }}</h1>
</div>

<div class="grid">

  <div class="grid__item two-thirds medium-down--one-whole print-one-whole">
    <h2 style="display:inline-block;" class="h3"><b>Order History:&nbsp;&nbsp;<div style="display:inline; border-bottom:2px solid #000;font-size:16px;">Group View</div>&nbsp;&nbsp;

      {% if customer.tags contains Role_ASM or customer.tags contains Role_Printer %}{% endif %}
      <a style="display:inline-block;font-size:16px;" class="printModeExclude w3-text-black" href="/account"> Individual View</a>
    </b></h2>

    <div class="w3-right printModeExclude" style="display:inline-block;width:140px;">
      <label for="per_page" style="display:inline-block;" class="">Per Page: &nbsp;</label>
      <select id="per_page" class="per_page" style="max-width:60px; display:inline-block;" onchange="updateState({page: '1',per_page: this.value});updatePerPage(this.value);">
        <option selected value='10'>10</option>
        <option {% if customer_per_page == '20' %}selected{% endif %} value='20'>20</option>
        <option {% if customer_per_page == '30' %}selected{% endif %} value='30'>30</option>
        <option {% if customer_per_page == '40' %}selected{% endif %} value='40'>40</option>
        <option {% if customer_per_page == '50' %}selected{% endif %} value='50'>50</option>
      </select>
    </div>

    <button id="printOrder" style="margin: 0 10px;" type="button" class="btn btn--secondary btn--primary1 w3-right printModeExclude" onclick="windowPrint();" title="Print this order"><i class="fa fa-print"></i> Print Order History</button>

	<br><br>

    {% comment %}
      If we have past orders, loop through each one
    {% endcomment %}



      <div class="table-wrap">
        {% comment %}
        <table class="full w3-hide">
          <thead>
            <tr>
              <th>{{ 'customer.orders.order_number' | t }}</th>
              <th>{{ 'customer.orders.date' | t }}</th>
              <th>{{ 'customer.orders.payment_status' | t }}</th>
              <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
              <th>{{ 'customer.orders.total' | t }}</th>
            </tr>
          </thead>
          <tbody>
            {% for order in customer.orders %}
              <tr>
                <td>{{ order.name | link_to: order.customer_url }}</td>
                <td>{{ order.created_at | date: "%b %d, %Y" }}</td>
                <td>{{ order.financial_status_label }}</td>
                <td>{{ order.fulfillment_status_label }}</td>
                <td>{{ order.total_price | money }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endcomment %}
      </div>

    {% include 'customer-account-common-code' with 'theme-layout-code' %}

    {% if customer and customer.tags contains Role_ASM %}
      {% include 'order-summary-ASM' %}
    {% elsif customer.tags contains Role_Manager %}
      {% include 'order-history-Manager' %}
    {% elsif customer.tags contains Role_Admin %}
      {% include 'order-history-Admin' %}
    {% elsif customer.tags contains Role_User %}
      {% include 'order-history-User' %}
    {% elsif customer.tags contains Role_Printer %}
      {% include 'order-summary-Printer' %}
    {% endif %}


  <p id="order-none" style="display:none;">{{ 'customer.orders.none' | t }}</p>



  </div>

  <div class="grid__item one-third medium-down--one-whole printModeExclude">
    <h2 class="h3"><b>{{ 'customer.account.details' | t }}</b></h2>

    <span class="h5" title="{{ customer.email }}">{{ customer.name }}</span>

    {{ customer.default_address | format_address }}

    <p><a href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
    {% comment %}
    <button class="btn" style="min-width:350px;" type="button" onclick="toggleDash();">Export Order History</button>
    <br>
    <div id="printDash" class="border w3-padding animated  w3-white" style="max-width:350px; display:none;">
     <label><input type="radio" checked name="exportType" value="current"> Current Page Orders</label>
     <label class="w3-text-grey"><input id="radio2" disabled type="radio" name="exportType" value="filtered"> All Filtered Orders</label>
     <label><input type="radio" name="exportType" value="all"> All Orders</label>
     <button id="print-btn" type="button" class="btn one-whole" onclick="initExport();">Export</button>
    </div>
    <br>
    <a id="exportPsudoLink" href="" target="_blank" class="hide"></a>

    {% if customer.tags contains Role_ASM or customer.tags contains Role_Admin %}
    <button class="btn" style="min-width:350px;" type="button" onclick="toggleRDash();">My Reports</button>
    <br>
    <div id="reportDash" class="border w3-padding animated  w3-white" style="max-width:350px; display:none;">
      - <a href="javascript:agedExport();" hrefs="/apps/pepsi-print/collection_response/aged_reports.json?cemail={{ customer.email }}&ctoken={{ customer.id  | hmac_sha1: shop.domain }}">{{ customer_region_tag |remove:'Region:' |replace:'0','o' }} Aged Order Report</a><br>
      {% unless customer.tags contains Role_Admin %}
       - <a href="https://s3.amazonaws.com/printreports/PPS_{{ customer_region_tag |replace:'Region:', 'Standard_' }}.xlsm">{{ customer_region_tag |remove:'Region:' |replace:'0','o' }} Standard Report</a><br>
       - <a href="https://s3.amazonaws.com/printreports/PPS_{{ customer_region_tag |replace:'Region:', 'Dashboard_' }}.xlsm">{{ customer_region_tag |remove:'Region:' |replace:'0','o' }} Dynamic Report</a><br>
      {% endunless %}
      {% if customer.tags contains Role_Admin %}
       - <a href="https://s3.amazonaws.com/printreports/PPS_Standard_All.xlsm">Standard Report</a><br>
       - <a href="https://s3.amazonaws.com/printreports/PPS_Dashboard_All.xlsm">Dynamic Report</a><br>
       - <a href="https://s3.amazonaws.com/printreports/ASM_KPI_Summary_v4.xlsm">ASM KPI Summary Report</a><br>
      {% endif %}
    </div>
    <br>
    {% if customer.tags contains Role_ASM or customer.tags contains Role_Admin %}
    <a target="_blank" href="/pages/product-upload-form" onclicks="window.open('');" onc="('https://s3.amazonaws.com/printreports/PepsiPrintProductUploadForm_v7.xlsm');" ><button class="btn" style="min-width:350px;" type="button">Upload Products</button></a><br><br>
    {% endif %}
<!--     <a href="/pages/locations"><button class="btn" style="min-width:350px;" type="button">Add Location for Regional List</button></a> -->
    {% elsif customer.tags contains Role_Manager %}
    <div id="select_team" class="">
      <label>View Regional Staff List</label>
      <select id="select_{% raw %}{{id}}{% endraw %}" onchange="editTeam(this, true); this.title = this.options[this.selectedIndex].innerHTML;" title="" class="assign-printer" order_id="{% raw %}{{id}}{% endraw %}" status="{% raw %}{{fulfillment_status}}{% endraw %}">
        <option selected disabled>Click to Select your team members</option>
        <option w3-repeat="customers" value="{% raw %}{{id}}{% endraw %}" title="{% raw %}{{first_name}} {{last_name}}{% endraw %}" select="{% raw %}{{selected}}{% endraw %}">{% raw %}{{email}}{% endraw %}</option>
      </select>
    </div>

    <div id="selected_team" class="" style="border:1px solid #aaa; border-radius:5px; display:none;">
      <span class="btn--secondary btn-custom" style="margin:5px;" w3-repeat="customers" title="{% raw %}{{first_name}} {{last_name}}{% endraw %}">{% raw %}{{email}}{% endraw %}&nbsp;&nbsp;<a style="color:white;" href="javascript:void(0);" value="{% raw %}{{id}}{% endraw %}" onclick="editTeam(this,false);"><i class="fa fa-times" title="Remove {% raw %}{{first_name}} {{last_name}}{% endraw %}"></i></a></span>
    </div>
    {% endif %}

<!--     <br> -->

    <h3 class="h3 hide"><b>Payment Codes</b></h3>
    <div id="pcDash" class="border1 w3-padding1 animated text-center1 w3-white hide" style="max-width:350px; display:none1;">
      - <a id="pc1" target="_blank" href=""> Sales</a><br>
      - <a id="pc2" target="_blank" href=""> Food Services</a><br>
      - <a id="pc3" target="_blank" href=""> Trade Expense</a><br>
    </div>
    <br>
    {% endcomment %}
<!--     <button class="btn" style="min-width:350px;" type="button" onclick="toggleBDash();">Update Your Browser</button> -->
    <h3 class="h3"><b>Update Your Browser</b></h3>
<!--     <br> -->
    <div id="browserDash" class="border1 w3-padding1 animated text-center1 w3-white" style="max-width:350px; display:none1;">
      - <a target="_blank" href="https://www.google.com/chrome/"><i class="fa fa-chrome"></i> Google Chrome</a><br>
      - <a target="_blank" href="https://support.apple.com/en-us/HT204416"><i class="fa fa-safari"></i> Safari</a><br>
<!--       <a target="_blank" href="https://www.mozilla.org/en-US/firefox/new/"><i class="fa fa-firefox"></i> Mozilla Firefoxi</a><br>
      <a target="_blank" href="http://www.opera.com/"><i class="fa fa-opera"></i> Opera</a><br>
      <a target="_blank" href="https://www.microsoft.com/en-in/windows/microsoft-edge"><i class="fa fa-edge"></i> MS Edge</a><br>
      <a target="_blank" href="https://www.microsoft.com/en-in/download/internet-explorer.aspx"><i class="fa fa-internet-explorer"></i> Internet Explorer</a> -->
    </div>

  </div>

</div>


<script type="text/javascript">
  console.log("{{ customer.id  | hmac_sha1: shop.domain }}");
              console.log("{{shop.domain}}");
  var orderExport = [];
  var printerExport = [];

  $(document).ready(function(){
  	$('#start_date').val('');
    $('#pc1').attr('href', $('#link-sales').attr('href'));
	$('#pc2').attr('href', $('#link-food-service').attr('href'));
	$('#pc3').attr('href', $('#link-all-other').attr('href'));
  });

  // media query event handler
  if (matchMedia) {
    var mq = window.matchMedia("(min-width: 600px)");
    mq.addListener(WidthChange);
    WidthChange(mq);
  }

  // media query change
  function WidthChange(mq) {
    if (mq.matches) {
      // window width is at least 600px
      $('#order-list .w3-col:eq(1)').addClass('w3-row-padding');
      $('.nbsp-hide').show();
      $('.br-hide').hide();
    } else {
      // window width is less than 600px
      $('#order-list .w3-col:eq(1)').removeClass('w3-row-padding');
      $('.nbsp-hide').hide();
      $('.br-hide').show();
    }

  }

  function toggleBDash(){
    if($('#browserDash.flipInX').length != 0){
      $('#browserDash').removeClass('flipInX').addClass('flipOutX').delay(1000).hide(0);
    }else{
      $('#browserDash').removeClass('flipOutX').addClass('flipInX').show(0);
    }
  }

  function toggleRDash(){
    if($('#reportDash.flipInX').length != 0){
      $('#reportDash').removeClass('flipInX').addClass('flipOutX').delay(1000).hide(0);
    }else{
      $('#reportDash').removeClass('flipOutX').addClass('flipInX').show(0);
    }
  }

  function toggleDash(){
    if($('#printDash.flipInX').length != 0){
      $('#printDash').removeClass('flipInX').addClass('flipOutX').delay(1000).hide(0);
    }else{
      $('#printDash').removeClass('flipOutX').addClass('flipInX').show(0);
    }
  }

  function initExport(){
    var selected = $('[name = "exportType"]').filter(':checked').val();
    var data = '/apps/pepsi-print/collection_response/print_orders.json?cemail={{ customer.email }}&ctoken={{ customer.id  | hmac_sha1: shop.domain }}';

    if(selected == 'filtered' || selected == 'all'){
      var data = { cemail: "{{ customer.email }}", ctoken: "{{ customer.id  | hmac_sha1: shop.domain }}" };
      {% if customer.tags contains Role_User  %}
          data.customer_id = '{{ customer.id }}';
      {% elsif customer.tags contains Role_Manager %}
      	if(selected != 'all'){
          data.customer_id = var4;
        }
      {% elsif customer.tags contains Role_Admin %}
      	if(var4.length > 0){
          data.region_tag = var4;
        }
      {% endif %}
      if(var1.length > 0 && selected != 'all'){
		data.start_date = var1;
        data.end_date = var2;
      }
      console.log(JSON.stringify(data));
      exportLarge(data);
      return;
    }

    if(selected == 'current'){
      data += '&page='+var3;
    }
    if(selected == 'filtered' || ( var1.length > 0 && selected != 'all' )){
      data += '&start_date='+var1+'&end_date='+var2;
    }

    {% assign Role_Manager = 'general.Role.Manager' | t %}
	{% assign Role_Admin = 'general.Role.Admin' | t %}

    {% if customer.tags contains Role_Manager %}
      if(var4 != '' && selected != 'all'){
        data += '&customer_id='+var4;
      }
    {% elsif customer.tags contains Role_Admin %}
      if(var4 != '' && selected != 'all'){
        data += '&region_tag='+var4;
      }
    {% elsif customer.tags contains Role_User %}
   		data += '&customer_id='+'{{ customer.id }}';
    {% endif %}

    console.log('export url = '+data);

    $('#exportPsudoLink').attr('href', data)[0].click();
//     window.location.assign(data);
//     var data = prepareData(orderExport, printerExport);

    {%comment%}
  	$.ajax({
          url: 'http://54.71.28.218/pepsiprint/exportExcel.php',
          type: 'POST',
          crossDomain: true,
          data: JSON.stringify(data),
          dataType: 'json',
          success: function(data){
            	console.log(JSON.stringify(data));
    			$('#exportPsudoLink').attr('href', data).trigger('click');
            	$.unblockUI();

          },
          error: function(){
            $.unblockUI; show_message2('Error in Exporting.',false);
          }

    });
    {%endcomment%}
  }

  function prepareData(data1,data2){
  	var i;
    var x;
    var myArray1 = data1["orders"];
    var myArray2 = data2["results"];
    for (i = 0; i < myArray1.length; i++) {
      for (x = 0; x < myArray2.length; x++) {
        data1["orders"][i]["printer_company"] = '';
        if( myArray1[i]["printer_id"] == myArray2[x]["id"]){
      		data1["orders"][i]["printer_company"] = myArray2[x]["company"];
        }
      }
      data1["orders"][i]["payment_code"] = '';
      data1["orders"][i]["cancelled_status"] = '';
    }
    console.log(JSON.stringify(data1));
    return(data1);
  }

  function agedExport(){
	freez();
    $.ajax({
      url: '/apps/pepsi-print/collection_response/job_aged_reports.json?cemail={{ customer.email }}&ctoken={{ customer.id  | hmac_sha1: shop.domain }}',
      type: 'GET',
//       data: data,
//       dataType: 'json',
      success: function(data){
        console.log(JSON.stringify(data));
        $.unblockUI(); show_message3('Report file will be mailed to {{ customer.email }}.',true);

      },
      error: function(){
        $.unblockUI; show_message2('Error in Exporting.',false);
      }

    });
  }

  function exportLarge(data){
	freez();
    $.ajax({
      url: '/apps/pepsi-print/collection_response/job_print_orders.json',
      type: 'GET',
      data: data,
      dataType: 'json',
      success: function(data){
        console.log(JSON.stringify(data));
        $.unblockUI(); show_message3('Export file will be mailed to {{ customer.email }}.',true);

      },
      error: function(){
        $.unblockUI; show_message2('Error in Exporting.',false);
      }

    });
  }

  function windowPrint(){
    $.when(
      $('{% unless customer.tags contains Role_Printer %}header .grid--full:not(:nth-of-type(1)),{% endunless %} .header-bar, .printModeExclude:visible, footer').hide().toggleClass('visible'),
      $('.site-header__logo img').css('margin','0 0'),

      $('#address-hidden, #id01').css({ 'position':'relative', 'bottom':'80px'}),
      $('.printModeInclude').toggleClass('hide'),
        $('.print-one-whole').toggleClass('one-whole two-thirds'),
      $('.th-span').toggleClass('th-span th-spaned')

    ).done(function(){
    	setTimeout(window.print(), 10);
    });

    {% comment %}{% endcomment %}
    $('{% unless customer.tags contains Role_Printer %}header .grid--full:not(:nth-of-type(1)),{% endunless %} .header-bar, .printModeExclude.visible, footer').show().toggleClass('visible');
    $('.site-header__logo img').css('margin','0 auto');
    $('.site-header__logo').toggleClass('w3-col s3');

    $('.printModeInclude').toggleClass('hide');
      $('.print-one-whole').toggleClass('one-whole two-thirds');
    $('.th-span').toggleClass('th-span th-spaned');


  }
</script>

<style>

@media print{
   /* applied to our table */
  .w3-table1, tr, td{ position: relative !important; }
   .w3-table tr td {
     -webkit-region-break-inside: avoid !important;
     page-break-inside:avoid !important;
     page-break-after: always;
  }
}


{% comment %}
@media  print {
    thead, tbody, tfooter {
        display: table-row-group;
    }
}
{% endcomment %}

@media print {
    table tbody tr td:before,
    table tbody tr td:after {
        content : "" ;
        height : 4px ;
        display : block ;
    }
}

a.cancelled{
  text-decoration: line-through !important;
  color: gray !important;
}
</style>
