{% include 'customer-account-common-code' with 'theme-layout-code' %}

{% if checkout.attributes["Parent ID"] == blank and false %}    
  <meta content="0; url=/cart" http-equiv="refresh" />
  {% continue %}
{% endif %}

{% if checkout.attributes["Budget Code"] != blank or request.host == shop_url_fs %}
  {% assign fs_shop_active = true %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {% if settings.favicon %}
      {% if fs_shop_active %}
        {% assign settings_favicon = settings.favicon_mod %}
        <link href="//fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet" type="text/css" media="all" />
        <style> *{ font-family: "Ubuntu","HelveticaNeue","Helvetica Neue",sans-serif !important; } </style>
        <style type="text/css">
          *{ border-radius: 2px !important; }
          body > div.content > div > div.main > div.main__content > div.step[data-step="payment_method"] > div.step__sections > div:nth-child(1) > div > div > div:nth-child(2),
          body > div.content > div > div.main > div.main__content > div.step[data-step="shipping_method"] > form > div.step__sections > div:nth-child(1) > div > div > div:nth-child(2),
          body > div.content > div > div.main > div.main__content > div > form > div.step__sections > div.section.section--shipping-method > div.section__content > fieldset > div:nth-child(3),
          body > div.content > div > div.main > div.main__content > div > div > div:nth-child(1) > div > div > div:nth-child(3) > div.review-block__inner > div.review-block__content > strong,
          body > div.content > div > div.main > div.main__content > div > form > div.step__sections > div:nth-child(1) > div > div > div:nth-child(3) > div.review-block__inner > div.review-block__content > strong,
          [data-same-billing-address]{ display: none !important; }
        </style>
      {% else %}
        {% assign settings_favicon = settings.favicon %}
        <style type="text/css">
          body > div.content > div > div.main > div.main__content > div.step[data-step="shipping_method"] > form > div.step__sections > div:nth-child(1) > div > div > div:nth-child(2),
          body > div.content > div > div.main > div.main__header > ul > li:nth-child(2){ display: none !important; }
        </style>
      {% endif %}
      <link rel="shortcut icon" href="{{ settings_favicon | img_url: '32x32' }}" type="image/png" />
    {% endif %}

    <style type="text/css">
      .payment_codes{
        font-weight:bold !important; 
        color:#000 !important;
      }

      .address_overlay{
        z-index: 999;
        position: absolute;
        background: white;
        opacity: 0.5;
        top: 0; right: 0; bottom: 0; left: 0;
      }
      body > div.content > div > div.main > div.main__content > div > form > div.step__sections > div.section.section--shipping-address > div.section__content > div[data-address-fields]{
        position: relative !important;
      }
    </style>

    <script type="text/javascript">
      // if(document.referrer.indexOf() == -1){
      //   window.location.assign("/cart");
      // }
      console.log("Refere:"+document.referrer);
    </script>

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}

    {{ '//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js' | script_tag }}

    {% include "notify-UI" %}

    <style id="temp-style">
      .total-recap__final-price{ visibility: hidden !important; }
    </style>

    <!-- BeginConsistentCartAddon -->  <script>  {% if customer %}  Shopify.merge_cart_text = '{{ "consistent_cart_addon.merge_cart_text" | t }}' ;  Shopify.customer_logged_in = true ;  Shopify.customer_email = "{% capture atr %}{% if fs_shop_active %}1{% endif %}@{% endcapture %}{{ customer.email | replace: '@', atr }}" ;  Shopify.log_uuids = true;  {% else %}  Shopify.customer_logged_in = false ;  Shopify.customer_email = "" ;  Shopify.log_uuids = true;  {% endif %}  </script>  <!-- EndConsistentCartAddon -->

    <!--BeginCFFPersistentCartCart-->
    {% if customer %}
      <script>
        // console.log('csu:{{current_shop_url}}');
        window.cffCustomer = {
            name: '{{customer.name}}',
            email: '{{customer.email}}',
            hasAccount: '{{customer.has_account}}',
            id: '{{customer.id | hmac_sha1: current_shop_url}}'
        };
      </script>
    {% endif %}

    <script>
        window.cffPCLiquidPlaced = true
    </script>

    <!--EndCFFPersistentCartCart-->
  </head>
  <body>
    {{ skip_to_content_link }}
    <div class="banner" data-header>
      <div class="wrap">
        {% if fs_shop_active %}
          {% capture cflo %}{{ content_for_logo | replace: "src", 'src="//cdn.shopify.com/s/files/1/2142/6089/files/2347F4DE-5297-4B7A-89E2-76796C8A62C2__png.jpg" old' | replace: shop_url_retail, shop_url_fs }}{% endcapture %}
          {{ cflo }}
        {% else %}
          {{ content_for_logo }}
        {% endif %}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">
            {% if fs_shop_active %}
              {{ cflo }}
              {{ breadcrumb | replace: shop_url_retail, shop_url_fs }}
            {% else %}
              {{ content_for_logo }}
              {{ breadcrumb }}
            {% endif %}
        
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {% capture cfl %}{{ content_for_layout }}{% endcapture %}
            {% if fs_shop_active %}
              {{ cfl | replace: shop_url_retail, shop_url_fs }}
            {% else %}
              {{ cfl }}
            {% endif %}
            {% if cfl contains '<div class="step" data-step="contact_information">' %}
              <script>
                {% assign da = customer.default_address %}
                var serialized="checkout%5Bshipping_address%5D%5Baddress1%5D={{ da.address1 | url_encode }}&checkout%5Bshipping_address%5D%5Baddress2%5D={{ da.address2 | url_encode }}&checkout%5Bshipping_address%5D%5Bcity%5D={{ da.city | url_encode }}&checkout%5Bshipping_address%5D%5Bcountry%5D={{ da.country | url_encode }}&checkout%5Bshipping_address%5D%5Bfirst_name%5D={{ da.first_name | url_encode }}&checkout%5Bshipping_address%5D%5Blast_name%5D={{ da.last_name | url_encode }}&checkout%5Bshipping_address%5D%5Bprovince%5D={{ da.province | url_encode }}&checkout%5Bshipping_address%5D%5Bzip%5D={{ da.zip | url_encode }}";

                function prohibit_ship_form(){
                  // $.each(serialized.split('&'), function (index, elem) {
                  //  var vals = elem.split('=');
                  //  $('[data-step="contact_information"] form.edit_checkout [name="' + decodeURIComponent(vals[0]) + '"]').val(decodeURIComponent(vals[1].replace(/\+/g, ' ')));
                  // });
                  $.when.apply($, serialized.split('&').map(function(elem) {
                     var vals = elem.split('=');
                   $('[data-step="contact_information"] form.edit_checkout [name="' + decodeURIComponent(vals[0]) + '"]').val(decodeURIComponent(vals[1].replace(/\+/g, ' '))); 
                  })).then(function() {
                      $('[data-step="contact_information"] form.edit_checkout').submit();
                  });
                  $('body > div.content > div > div.main > div.main__content > div > form > div.step__sections > div.section.section--shipping-address > div.section__content > div[data-address-fields]').css('position','relative').append('<div class="address_overlay"></div>');
                }
                prohibit_ship_form();
                setInterval(function(){
                  if(!$('.address_overlay').length)
                    prohibit_ship_form();
                }, 100);
              </script>
            {% endif %}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {% if fs_shop_active %}
              {{ cflo }}
            {% else %}
              {{ content_for_logo }}
            {% endif %}
          </div>
          <div class="sidebar__content">
            {% if fs_shop_active %}
              {% assign replace_from = 'data-reduction-form="update">' %}
              {% assign replace_to = 'data-reduction-form="update"><a class="payment_codes" href="/pages/mod-payment-codes" target="_blank">Click here to see Payment Codes</a><br><br>' %}
              {{ content_for_order_summary | replace: replace_from, replace_to }}
            {% else %}
              {% assign region_handle = customer_region_tag | remove: 'Region:' |replace:'0','o' | downcase %}
              {% assign replace_from = 'data-reduction-form="update">' %}
            {% capture html_code %}<span class="payment_codes">Payment Codes: </span><a class="payment_codes" target="_blank" href="/pages/{{ region_handle }}-payment-codes-sales"><u>Sales</u></a>, <a class="payment_codes" target="_blank" href="/pages/payment-codes-{{ region_handle }}-food-service"><u>Food Service</u></a>, <a class="payment_codes" target="_blank" href="/pages/payment-codes-{{ region_handle }}-trade-expense"><u>Trade Expense</u></a><br><br>{% endcapture %}
              {% assign replace_to = 'data-reduction-form="update">' | append: html_code %}
              {{ content_for_order_summary | replace: replace_from, replace_to }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    {{ tracking_code }}

    {% if customer_region_tag == region_NorthEast %}
      <style>
/*         .content-box__row:nth-of-type(2), */
        body > div.content > div > div.main > div.main__content > div.step[data-step="shipping_method"] > form > div.step__sections > div:nth-child(1) > div > div > div:nth-child(2){ display:none; }
      </style>
    {% endif %}

    <script>
        var payment_cc, payment_cd;

        $(document).ready(function(){
          startPCC();

          $('.step[data-step="thank-you"] .section__content__column > h3:contains("Shipping address")').hide().next().hide();

          {% if cfl contains '<div class="step" data-step="contact_information">' %}
            freez();
          {% endif %}
        });

        function startPCC(){
          if($('button[type="submit"] span.btn__content:contains("COMPLETE ORDER")').parent().length > 0)
            payment_cc = setInterval(function(){ //console.log('running')

              total_due = $('div[data-order-summary-section="payment-lines"]').first().find('span[data-checkout-payment-due-target]').attr('data-checkout-payment-due-target');

              if( ($('form[data-reduction-form="true"]').length > 0) || (total_due == '0') ){
                releaseBtn();
              }else{
                siezeBtn();
              }
            },100);
        }

        function siezeBtn(){
            $('form[data-payment-form]').unbind('submit').bind('submit', function(e){
              e.preventDefault(); console.log('payment code required');
            });

            $('button[type="submit"] span.btn__content:contains("COMPLETE ORDER")').parent().addClass('disabled blink_me').off('click').on('click', function(e){
              e.preventDefault();
              $('#checkout_reduction_code')[0].focus();
              $(window).scrollTop(0); console.log('clicked');
            });

        }

        function releaseBtn(){
          $('form[data-payment-form]').unbind('submit');
          $('button[type="submit"] span.btn__content:contains("COMPLETE ORDER")').parent().removeClass('disabled blink_me').off('click');

        }
    </script>

    <style>
        button[type='submit'].step__footer__continue-btn.disabled{
          background: #ccc !important;
          cursor: not-allowed;
          position:relative;
        }

        button[type='submit'].step__footer__continue-btn.disabled:after{
          content:'Payment Code Required';
          color:red;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          top: 110%;
          white-space: nowrap;
          margin-bottom: 15px;
        }

        button[type='submit'].step__footer__continue-btn.disabled.blink_me:after {
          animation: blinker 1.5s linear infinite;
        }

        @keyframes blinker {
          50% { opacity: 0; }
        }
    </style>
   {% include 'mesh-window-checkout' %}

  </body>
</html>
