<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ shop.name }} - {{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}

    {{ '//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js' | script_tag }}

    <style id="temp-style">
      .total-recap__final-price{ visibility: hidden !important; }
    </style>

  </head>
  <body>
    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
      </div>
    </div>

    {{ tracking_code }}

    {% include 'customer-account-common-code' with 'theme-layout-code' %}


      {% if customer.tags contains region_NorthEast %}
    	<style>
          .content-box__row:nth-of-type(2){ display:none; }
        </style>
      {% endif %}

    <script>
        var payment_cc, payment_cd;

        $(document).ready(function(){
          startPCC();

        });

        function startPCC(){
          if($('button[type="submit"] span.btn__content:contains("COMPLETE ORDER")').parent().length > 0)
          	payment_cc = setInterval(function(){ //console.log('running')
              if($('form[data-reduction-form="true"]').length > 0)
              	releaseBtn();
              else
              	siezeBtn();
            },100);
        }

        function siezeBtn(){
            $('form[data-payment-form]').unbind('submit').bind('submit', function(e){
              e.preventDefault(); console.log('payment code required');
            });

            $('button[type="submit"] span.btn__content:contains("COMPLETE ORDER")').parent().addClass('disabled blink_me').off('click').on('click', function(e){
              e.preventDefault();
              $('#checkout_reduction_code')[0].focus();
              $(window).scrollTop(0); console.log('clicked');
            });

        }

        function releaseBtn(){
          $('form[data-payment-form]').unbind('submit');
          $('button[type="submit"] span.btn__content:contains("COMPLETE ORDER")').parent().removeClass('disabled blink_me').off('click');

        }
    </script>

    <style>
        button[type='submit'].step__footer__continue-btn.disabled{
          background: #ccc !important;
          cursor: not-allowed;
          position:relative;
        }

        button[type='submit'].step__footer__continue-btn.disabled:after{
          content:'Payment Code Required';
          color:red;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          top: 110%;
          white-space: nowrap;
          margin-bottom: 15px;
        }

        button[type='submit'].step__footer__continue-btn.disabled.blink_me:after {
          animation: blinker 1.5s linear infinite;
        }

        @keyframes blinker {
          50% { opacity: 0; }
        }
    </style>
   {% include 'mesh-window-checkout' %}

  </body>
</html>
