{% unless customer %}
    {% if template contains 'customers/login' or template contains 'page.register' or template contains 'page.contact-us' or template contains 'customers/activate_account' or template contains 'customers/reset_password' %}
    	{% assign send_to_login = false %}
    {% else %}
		{% assign send_to_login = true %}
	{% endif %}
{% endunless %}

{% if send_to_login %}
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html>
        <head>
            <title></title>
            <meta content="1; url={{shop.secure_url}}/account/login" http-equiv="refresh" />
          	<style>
              body:hover{cursor:wait;}
            </style>
  {{ 'shopstorm-apps.scss.css' | asset_url | stylesheet_tag }}
  {% include 'buddha-megamenu-before' %}
</head>
<body onload="load()">
          <a  href=""></a>
			<script>
//               function load(){
                  var url = document.URL.replace("{{shop.secure_url}}", '');
                  if(url.length > 1){
                    if (typeof(Storage) !== "undefined") {
                        sessionStorage.pepsiPrintURL = url;
                    }
                    else
                      parent.location.assign('{{shop.secure_url}}/account/login?redirect=' + url);

                  }
                  parent.location.assign('{{shop.secure_url}}/account/login');
//               }
          	</script>
          {% include 'buddha-megamenu' %}
</body>
    </html>
{% else %}

{% include 'customer-account-common-code' with 'theme-layout-code' %}

{% if no_region == true or no_access == true %}
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html>
        <head>
            <title></title>
            {% if no_region == true %}
              <meta content="0; url={{shop.secure_url}}/pages/no-region-alotted" http-equiv="refresh" />
            {% endif %}

            {% if no_access == true %}
              <meta content="0; url={{shop.secure_url}}/pages/error" http-equiv="refresh" />
            {% endif %}
          	<style>
              body:hover{cursor:wait;}
            </style>
          {% include 'buddha-megamenu-before' %}
</head>
        <body>  {% include 'buddha-megamenu' %}
</body>
    </html>
{% else %}

<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Social meta ================================================== -->
  {% include 'social-meta-tags' %}

  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- CSS ================================================== -->

  {% if template contains 'customers/account' or template contains 'page.order' %}
  	{{ 'w3css.css' | asset_url | stylesheet_tag }}
  	{% if template contains 'customers/account' %}
    {{ 'datepicker-UI.css' | asset_url | stylesheet_tag }}
    {{ 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' | stylesheet_tag }}
  	{% endif %}
  {% endif %}

  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  {{ 'custom-style.css' | asset_url | stylesheet_tag }}

  {% include 'custom-css-snippet' %}

  {% include 'google-fonts' %}

  {{ 'https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css' | stylesheet_tag }}

  <script>
    window.theme = window.theme || {};

    var theme = {
      strings: {
        zoomClose: {{ "products.zoom.close" | t | json }},
        zoomPrev: {{ "products.zoom.prev" | t | json }},
        zoomNext: {{ "products.zoom.next" | t | json }}
      },
      settings: {
        // Adding some settings to allow the editor to update correctly when they are changed
        themeBgImage: {{ settings.theme_bg_image }},
        customBgImage: '{{ settings.bg_custom }}',
        enableWideLayout: {{ settings.enable_wide_layout }},
        typeAccentTransform: {{ settings.type_accent_transform }},
        typeAccentSpacing: {{ settings.type_accent_spacing }},
        baseFontSize: '{{ settings.type_base_size }}',
        headerBaseFontSize: '{{ settings.type_header_size }}',
        accentFontSize: '{{ settings.type_accent_size }}'
      },
      moneyFormat: {{ shop.money_format | json }}
    }
  </script>

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

  {% include 'oldIE-js' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js' | script_tag }}

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  {% include 'buddha-megamenu-before' %}
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  <div class="hide">{% section 'header' %}</div>

  {% if collection %}{% unless template == 'product' %}
    <div class="hide">
      <div id="carousal">{% section 'carousal' %}</div>
    </div>
  	<script>
        $(document).ready(function(){
        	var carousalHTML = $('#carousal').html();
        	$('#carousal').remove();
        	$('#sec_nav').prepend(carousalHTML);
        });
    </script>
  {% endunless %}{% endif %}

  <main class="wrapper main-content" role="main">
    {% comment %}
    {% assign Role_ASM = 'general.Role.ASM' | t %}
	{% if customer and customer.tags contains Role_ASM%}
      {% include 'secondary-navigation-template' %}
    {% endif %}
    {% endcomment %}
    {% if customer  %}{% endif %}{% include 'notify-UI' %}
    <div class="grid">
        <div class="grid__item">
          {{ content_for_layout }}
        </div>
    </div>
  </main>

  <div class="hide">{% section 'footer' %}</div>

  {% if template contains 'customers/account' or template contains 'page.order' %}
  	{{ 'w3data.js' | asset_url | script_tag }} {%comment%} {%endcomment%}
  	{% if template contains 'customers/account' %}
    {{ 'jquery-ui.js' | asset_url | script_tag }}
    {{ 'jquery.simplePagination.js' | asset_url | script_tag }}
  	{% endif %}
  {% endif %}

  {{ 'theme.js' | asset_url | script_tag }}

  <script>
    jQuery(function() {
      jQuery('.swatch :radio').change(function() {
        var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
        var optionValue = jQuery(this).val();
        jQuery(this)
          .closest('form')
          .find('.single-option-selector')
          .eq(optionIndex)
          .val(optionValue)
          .trigger('change');
      });
    });

    $(document).ready(function(){
      	var url = document.URL;
      	var pattern = /\?sort_by=created-descending/;
        if(url.match(pattern)) {
          $('#link-new, #link2-new').addClass('site-nav--active');//console.log('turu');
        }

      	pattern = /\/pages\/contact-us-/;
        if(url.match(pattern)) {
          $('#link-contact, #link7, #link2-contact, #link27').addClass('site-nav--active');
        }

      	pattern = /-payment-codes-/;
        if(url.match(pattern)) {
          $('#link-sales, #link-payment-codes, #link7, #link2-sales, #link2-payment-codes, #link27').addClass('site-nav--active');
        }

      	pattern = /\/pages\/payment-codes-/;
        if(url.match(pattern)) {
          $('#link-food-service, #link-payment-codes, #link7, #link2-food-service, #link2-payment-codes, #link27').addClass('site-nav--active');
        }

      	pattern = /\/pages\/payment-code-all-other/;
        if(url.match(pattern)) {
          $('#link-all-other, #link-payment-codes, #link7, #link2-all-other, #link2-payment-codes, #link27').addClass('site-nav--active');
        }

      	pattern = /payment-code/;
        if(url.match(pattern)) {
          $('.grid .grid__item').first().prepend('<button type="button" class="btn" onclick="goBack();">Back</button><br><br>');
        }
//     	var patt = new RegExp("\?sort\_by\=created\-descending");
//         var res = patt.test(url); console.log(res);
//       	if(res){
//           $('#link-new').addClass('site-nav--active');
//         }

      {% if template contains 'collection' %}
      var i = [];

      $('.product-content-wrapper').each(function(index, item){
      	i[index] = $(item).css('height').split('px')[0]; //console.log(i[index]);
      }).promise()
      	.done(function(){
          var max_h = Math.max.apply(Math,i); //console.log(max_h);
          $('.product-content-wrapper').each(function(index, item){ $(item).css('height', max_h.toString()+"px"); });
      });
      {% endif %}

    });

    if (typeof(Storage) !== "undefined") {
      {% if customer %}
      	localStorage.customer_status = 'loggedin';
      {% else %}
      	localStorage.customer_status = 'loggedout';
      {% endif %}
    }

    function goBack(){
      var currentUrl = window.location.href;
      window.history.back();
      setTimeout(function(){
          // if location was not changed in 100 ms, then there is no history back
          if(currentUrl === window.location.href){
              // redirect to site root
              window.close();
          }
      }, 500);

    }

    console.log('{{ collection.title }}'); //'{{ 'general.Region_Tags.NorthEast' | t }}');
//     console.log('{{ template }}');
  </script>

  {% include 'buddha-megamenu' %}
</body>
</html>
{% endif %}
{% endif %}
