{% if customer  %}

  {% include 'customer-account-common-code' with 'theme-layout-code' %}

  {% if customer.tags contains Role_Admin %}
      {% assign featured_collection = collections[section.settings.admin_collection].products %}
  {% else %}
    {% if customer.tags contains region_SouthEast %}
      {% assign customer_region_tag = region_SouthEast %}
      {% if customer.tags contains Role_ASM %}
      	{% assign featured_collection = collections[section.settings.southeast_collection].products %}
      {% else %}
		{% assign featured_collection = collections[section.settings.southeast_collection].products %}
      {% endif %}
    {% elsif customer.tags contains region_South %}
      {% assign customer_region_tag = region_South %}
      {% if customer.tags contains Role_ASM %}
      	{% assign featured_collection = collections[section.settings.south_collection].products %}
{% else %}<script>console.log('{{}}');</script>
		{% assign featured_collection = collections[section.settings.south_collection].products %}
      {% endif %}
    {% elsif customer.tags contains region_NorthEast %}
      {% assign customer_region_tag = region_NorthEast %}
      {% if customer.tags contains Role_ASM %}
      	{% assign featured_collection = collections[section.settings.northeast_collection].products %}
      {% else %}
		{% assign featured_collection = collections[section.settings.northeast_collection].products %}
      {% endif %}
    {% elsif customer.tags contains region_California %}
      {% assign customer_region_tag = region_California %}
      {% if customer.tags contains Role_ASM %}
      	{% assign featured_collection = collections[section.settings.california_collection].products %}
      {% else %}
		{% assign featured_collection = collections[section.settings.california_collection].products %}
      {% endif %}
    {% elsif customer.tags contains region_Mountain %}
      {% assign customer_region_tag = region_Mountain %}
      {% if customer.tags contains Role_ASM %}
      	{% assign featured_collection = collections[section.settings.mountain_collection].products %}
      {% else %}
		{% assign featured_collection = collections[section.settings.mountain_collection].products %}
      {% endif %}
    {% elsif customer.tags contains region_MidAtlantic %}
      {% assign customer_region_tag = region_MidAtlantic %}
      {% if customer.tags contains Role_ASM %}
      	{% assign featured_collection = collections[section.settings.midatlantic_collection].products %}
      {% else %}
		{% assign featured_collection = collections[section.settings.midatlantic_collection].products %}
      {% endif %}
    {% elsif customer.tags contains region_MidWest %}
      {% assign customer_region_tag = region_MidWest %}
      {% if customer.tags contains Role_ASM %}
      	{% assign featured_collection = collections[section.settings.midwest_collection].products %}
      {% else %}
		{% assign featured_collection = collections[section.settings.midwest_collection].products %}
      {% endif %}
    {% elsif customer.tags contains region_GreatLakes %}
      {% assign customer_region_tag = region_GreatLakes %}
      {% if customer.tags contains Role_ASM %}
      	{% assign featured_collection = collections[section.settings.greatlakes_collection].products %}
      {% else %}
		{% assign featured_collection = collections[section.settings.greatlakes_collection].products %}
      {% endif %}
    {% endif %}
  {% endif %}

{% endif %}

<!-- ---------------------------------------------------------------------- -->

{% assign featured = section.settings.featured_collection %}
{% assign products_per_row = section.settings.num_per_row %}
{% assign rows = section.settings.num_rows %}
{% assign total_products = products_per_row | times: rows %}

<div data-section-id="{{ section.id }}" data-section-type="featured-products-section">
  {% unless section.settings.title == blank %}
  <div class="section-header section-header--small">
    <h2 class="section-header__title">
      {{ section.settings.title }}
    </h2>
  </div>
  {% endunless %}

  {% case products_per_row %}
    {% when '3' %}
      {% assign grid_item_width = 'medium--one-third post-large--one-third' %}
    {% when '4' %}
      {% assign grid_item_width = 'medium-down--one-half post-large--one-quarter' %}
    {% when '5' %}
      {% assign grid_item_width = 'medium-down--one-half post-large--one-fifth' %}
  {% endcase %}

  <div class="grid-uniform">
    {% for product in featured_collection limit: total_products %}
    {% if product.tags contains customer_region_tag or customer.tags contains Role_Admin or true %}
      {% assign featured = product %}
      <div class="grid__item {{grid_item_width}}" {{ block.shopify_attributes }}>
        {% include 'product-grid-item' %}
      </div>
    {% else %}
    	{% continue %}
    {% endif %}

    {% if featured_collection.products.size == 0 %}
      <div class="grid__item">
        <div class="helper-section">
          <div class="grid-uniform helper-content">
            {% for i in (1..total_products) %}
              <div class="grid__item {{grid_item_width}}">
                <a href="/admin/products" class="grid-link{% if section.settings.center_grid_link %} text-center{% endif %}">
                  <span class="grid-link__image grid-link__image--product">
                    <span class="grid-link__image-centered">
                      {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                      {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                    </span>
                  </span>
                  <p class="grid-link__title">{{ 'home_page.onboarding.product_title' | t }}</p>
                  <p class="grid-link__meta">
                    <strong>$19.99</strong>
                  </p>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
    {% endfor %}
  </div>

  <div class="page-width text-center" >
    <a href="/pages/catalog" class="btn" >View More . . .</a>
  </div>

</div>

{% schema %}
  {
    "name": "Featured collection",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "type": "collection",
        "id": "admin_collection",
        "label": "Master-Admin Collection"
      },
      {
        "type": "collection",
        "id": "southeast_collection",
        "label": "SouthEast Collection"
      },
      {
        "type": "collection",
        "id": "south_collection",
        "label": "South Collection"
      },
      {
        "type": "collection",
        "id": "northeast_collection",
        "label": "Northeast Collection"
      },
      {
        "type": "collection",
        "id": "california_collection",
        "label": "California Collection"
      },
      {
        "type": "collection",
        "id": "mountain_collection",
        "label": "Mountain Collection"
      },
      {
        "type": "collection",
        "id": "midatlantic_collection",
        "label": "MidAtlantic Collection"
      },
      {
        "type": "collection",
        "id": "midwest_collection",
        "label": "MidWest Collection"
      },
      {
        "type": "collection",
        "id": "greatlakes_collection",
        "label": "GreatLakes Collection"
      },
      {
        "type": "select",
        "id": "num_per_row",
        "label": "Products per row",
        "default": "3",
        "options": [
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ]
      },
      {
        "type": "select",
        "id": "num_rows",
        "label": "Rows",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "vendor_enable",
        "label": "Show product vendor"
      },
      {
        "type": "checkbox",
        "id": "show_sale_circle",
        "label": "Show product sale circle"
      },
      {
        "type": "checkbox",
        "id": "show_sold_out_circle",
        "label": "Show product sold out circle"
      },
      {
        "type": "checkbox",
        "id": "center_grid_link",
        "label": "Center text below product images"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection",
        "settings":
        {
          "title": "Featured collection",
          "admin_collection": "frontpage"
        }
      }
    ]
  }
{% endschema %}
