{% if customer  %}

  {% include 'customer-account-common-code' with 'theme-layout-code' %}
  {% include 'customer-account-common-code' with 'access-rights-fs' %}

{% else %}
	{% assign site_logo_url = section.settings.logo %}
{% endif %}


<style>
  {% if fs_shop_active %}
    .header-bar{ background-color: {{ settings.color_primary }} !important; }
  {% endif %}

  .site-header__logo img {
    max-width: {{ section.settings.logo_max_width }}px;
  }

  /*================= If logo is above navigation ================== */
  {% if section.settings.nav_below_logo %}
    .site-nav {
      {% if section.settings.show_header_lines %}
        border-top: 1px solid {{ settings.color_borders }};
        border-bottom: 1px solid {{ settings.color_borders }};
      {% endif %}
      margin-top: 30px;
    }
  {% endif %}

  /*============ If logo is on the same line as navigation ============ */
  {% unless section.settings.nav_below_logo or section.settings.show_header_lines == false %}
    .site-header .grid--full {
      border-bottom: 1px solid {{ settings.color_borders }};
      padding-bottom: 30px;
    }
  {% endunless %}


  {% unless section.settings.nav_below_logo %}
    @media screen and (min-width: 769px) {
      .site-nav {
        text-align: right!important;
      }
    }
  {% endunless %}
</style>

<div data-section-id="{{ section.id }}" data-section-type="header-section">
  <div class="header-bar" styles="background-image:url('{{ 'Header_logo.png'|asset_url }}'); background-color1:white; background-size:contain; background-position:left top; background-repeat: no-repeat;">
    <div class="wrapper medium-down--hide">
      <div class="post-large--display-table">

        {% if section.settings.header_text != blank or section.settings.header_search_enable %}
          <div class="header-bar__left post-large--display-table-cell">

            {% comment %}
              Add social links to header
            {% endcomment %}

            {% comment %}
            <div class="header-bar__module header-bar__module--list">
              {% include 'social-links' %}
            </div>
            {% endcomment %}

            {% if section.settings.header_text != blank %}
              <div class="header-bar__module header-bar__message">
<!--                     <a href="/" style="position:absolute; left:0px; top:0px; z-index:0;"><img style="height:60px; background-color:white;" src="{{ 'Header_logo.png'|asset_url }}"></a> -->
                {% comment %}{{ section.settings.header_text }}{% endcomment %}

                {% if customer_has_retail and customer_has_fs and customer_region_tag or customer_role_tag == Role_FSAdmin %}
                  {% if fs_shop_active %}
                    <button type="button" class="btn btn--secondary" style="padding: 4px 8px;"><small>MOD</small></button>&nbsp;&nbsp;
                    <button type="button" class="btn btn--secondary" style="opacity: 0.4; padding: 4px 8px;" onclick="changeShop('{{ shop_url_retail }}');"><small>Pepsi Print Studios</small></button>
                  {% else %}
                    <button type="button" class="btn btn--secondary" style="padding: 4px 8px;"><small>Pepsi Print Studios</small></button>&nbsp;&nbsp;
                    <button type="button" class="btn btn--secondary" style="opacity: 0.4; padding: 4px 8px;" onclick="changeShop('{{ shop_url_fs }}');"><small>MOD</small></button>
                  {% endif %}
                {% elsif customer_region_tag %}
                  {% if customer_has_retail %}
                    <button type="button" class="btn btn--secondary" style="padding: 4px 8px; pointer-events: none;"><small>Pepsi Print Studios</small></button>
                  {% elsif customer_has_fs %}
                    <button type="button" class="btn btn--secondary" style="padding: 4px 8px; pointer-events:none;"><small>MOD</small></button>
                  {% endif %}
                {% else %}
                  <button type="button" class="btn btn--secondary" style="padding: 4px 8px; pointer-events: none; visibility: hidden;"><small>&nbsp;</small></button>
                {% endif %}

              </div>
            {% elsif section.settings.header_search_enable and false %}
              <div class="header-bar__module header-bar__search">
                {% include 'search-bar' with 'header' %}
              </div>
            {% endif %}

          </div>
        {% endif %}

        <div class="header-bar__right post-large--display-table-cell">

          {% if shop.customer_accounts_enabled %}
            <ul class="header-bar__module header-bar__module--list">
              {% if customer %}
              	<li>
                  <span>Logged in as: {{ customer.name }}( {{ customer_role_tag |remove:'Role:' |replace:'NSM','Vendor' |replace:'FSUser','User' |replace:'ChannelManager','Manager' }} )&nbsp; | </span>
                </li>
                <li>
                  <u><a href="/account">{{ 'layout.customer.account' | t }}</a></u>&nbsp; |
                </li>
                <li>
                  <u><a href ="javascript:void(0);" onclick="clogout()"> {{ 'layout.customer.log_out' | t }}</a></u>
                  <!-- {{ 'layout.customer.log_out' | t | customer_logout_link }} -->
                </li>
              {% else %}
                <li>
                  <u>{{ 'layout.customer.log_in' | t | customer_login_link }}</u>
                </li>
                <li>{{ 'layout.customer.or' | t }}</li>
                <li>
                  <u><a href='/pages/register' >{{ 'layout.customer.create_account' | t }}</a></u>
                </li>
              {% endif %}
            </ul>
          {% endif %}

          {% if customer_region_tag and can_order %}

          <div class="header-bar__module">
            <span class="header-bar__sep" aria-hidden="true"></span>
            <a href="/cart" class="cart-page-link">
              <span class="icon icon-cart header-bar__cart-icon" aria-hidden="true"></span>
            </a>
          </div>

          <div class="header-bar__module">
            <a href="/cart" class="cart-page-link">
              {{ 'layout.cart.title' | t }}{% unless cart.item_count == 0 %}:{% endunless %}
              <span class="cart-count header-bar__cart-count{% if cart.item_count == 0 %} hidden-count{% endif %}">{{ cart.item_count }}</span>
            </a>
          </div>

          {% if section.settings.header_search_enable and false %}
            {% unless section.settings.header_text == blank %}
              <div class="header-bar__module header-bar__search">
                {% include 'search-bar' with 'header' %}
              </div>
            {% endunless %}
          {% endif %}

          {% endif %}
        </div>
      </div>
    </div>
    <div class="wrapper post-large--hide">
      <button type="button" class="mobile-nav-trigger" id="MobileNavTrigger" data-menu-state="close">
        <span class="icon icon-hamburger" aria-hidden="true"></span>
        {{ 'layout.navigation.menu' | t }}
      </button>
      <a href="/cart" class="cart-page-link mobile-cart-page-link">
        <span class="icon icon-cart header-bar__cart-icon" aria-hidden="true"></span>
        {{ 'layout.cart.title' | t }} <span class="cart-count{% if cart.item_count == 0 %} hidden-count{% endif %}">{{ cart.item_count }}</span>
      </a>
    </div>
    {% include 'mobile-nav' with linklists[section.settings.nav_menu] %}
  </div>

  <header class="site-header" role="banner">
    <div class="wrapper">

      {% if section.settings.nav_below_logo %}

      <div class="grid--full">
        <div class="grid__item">
          {% if template == 'index' %}
            <h1 class="site-header__logo{% if section.settings.left_aligned_logo %} post-large--left{% endif %}" itemscope itemtype="http://schema.org/Organization">
          {% else %}
            <div class="h1 site-header__logo{% if section.settings.left_aligned_logo and customer %} post-large--left{% endif %}" itemscope itemtype="http://schema.org/Organization">
          {% endif %}
            {% if section.settings.logo != blank %}
              {% capture image_size %}{{ section.settings.logo_max_width | times: 2 }}x{% endcapture %}
              <img id="psudo img" class="hide" src="{{ section.settings.logo | img_url: image_size }}" alt="{{ shop.name }}" itemprop="logo">
              <a id="header--logo" href="/" itemprop="url" style="position:relative; z-index:98;">
                <img src="{{ section.settings.logo | img_url: image_size }}" alt="{{ shop.name }}" itemprop="logo">
              </a>
            {% else %}
              <a href="/" itemprop="url">{{ shop.name | remove: "plus" }}</a>
            {% endif %}
          {% if template == 'index' %}
            </h1>
          {% else %}
            </div>
          {% endif %}
          {% if section.settings.header_text != blank %}
            <p class="header-message post-large--hide">
              <small>{{ section.settings.header_text }}</small>
            </p>
          {% endif %}
          {% if customer and customer_region_tag %}
          <div class="post-large--right">
            {% include 'search-bar' with 'header-fs' %}
          </div>
          {% endif %}
        </div>
      </div>

      
      {% comment %}<div class="grid--full medium-down--hide1">
        <div id="sec_nav" style="bottom:80px;" class="grid__item" data-spy="affix" data-offset-top="50">
          {% if fs_shop_active and customer_role_tag != Role_Designer %}
            <ul class="site-nav" style="margin-top: 0">
              <li>
                <a id="link-new" class="site-nav__link">&nbsp;</a>
              </li>
            </ul>
          {% endif %}
        </div>
      </div>{% endcomment %}
      


      <div class="grid--full medium-down--hide" style="height:0px !important; display:block1;">
        <div id="nav-1" class="grid__item" style1="{% if customer_role_tag == Role_ASM %}{% endif %}bottom:50px;">
          {% if customer and can_order and customer_region_tag or customer_role_tag == Role_FSAdmin %}
            {% include 'site-nav-fs' with linklists[section.settings.nav_menu] %}
          {% endif %}
        </div>
      </div>

      {% else %}

      <div class="grid--full post-large--display-table">
        <div class="grid__item post-large--one-third post-large--display-table-cell">
          {% if template == 'index' %}
            <h1 class="site-header__logo post-large--left" itemscope itemtype="http://schema.org/Organization">
          {% else %}
            <div class="h1 site-header__logo post-large--left" itemscope itemtype="http://schema.org/Organization">
          {% endif %}
            {% if section.settings.logo != blank %}
              {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
              <a href="/" itemprop="url">
                <img src="{{ section.settings.logo | img_url: image_size }}" alt="{{ shop.name }}" itemprop="logo">
              </a>
            {% else %}
              <a href="/" itemprop="url">{{ shop.name | remove: "plus" }}</a>
            {% endif %}
          {% if template == 'index' %}
            </h1>
          {% else %}
            </div>
          {% endif %}
          {% if section.settings.header_text != blank %}
            <p class="header-message post-large--hide">
              <small>{{ section.settings.header_text }}</small>
            </p>
          {% endif %}
        </div>

        <div class="grid__item post-large--two-thirds post-large--display-table-cell medium-down--hide">
          {% include 'site-nav-fs' with linklists[section.settings.nav_menu] %}
        </div>
      </div>

      {% endif %}

    </div>
  </header>
</div>

{% include 'customer-account-common-code' with 'header-script-code' %}

{% schema %}
  {
    "name": "Header(FS)",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Default Logo",
        "info": "450 x 200px recommended"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom Default logo width (in pixels)",
        "default": "450"
      },
      {
        "type": "image_picker",
        "id": "northeast_logo",
        "label": "Northeast Logo",
        "info": "450 x 200px recommended"
      },
      {
        "type": "text",
        "id": "northeast_logo_max_width",
        "label": "Custom NorthEast logo width (in pixels)",
        "default": "450"
      },
      {
        "type": "image_picker",
        "id": "southeast_logo",
        "label": "SouthEast Logo",
        "info": "450 x 200px recommended"
      },
      {
        "type": "text",
        "id": "southeast_logo_max_width",
        "label": "Custom SouthEast logo width (in pixels)",
        "default": "450"
      },
      {
        "type": "image_picker",
        "id": "south_logo",
        "label": "South Logo",
        "info": "450 x 200px recommended"
      },
      {
        "type": "text",
        "id": "south_logo_max_width",
        "label": "Custom South logo width (in pixels)",
        "default": "450"
      },
      {
        "type": "image_picker",
        "id": "california_logo",
        "label": "California Logo",
        "info": "450 x 200px recommended"
      },
      {
        "type": "text",
        "id": "california_logo_max_width",
        "label": "Custom California logo width (in pixels)",
        "default": "450"
      },
      {
        "type": "image_picker",
        "id": "mountain_logo",
        "label": "Mountain Logo",
        "info": "450 x 200px recommended"
      },
      {
        "type": "text",
        "id": "mountain_logo_max_width",
        "label": "Custom Mountain logo width (in pixels)",
        "default": "450"
      },
      {
        "type": "image_picker",
        "id": "midatlantic_logo",
        "label": "Mid Atlantic Logo",
        "info": "450 x 200px recommended"
      },
      {
        "type": "text",
        "id": "midatlantic_logo_max_width",
        "label": "Custom Mid Atlantic logo width (in pixels)",
        "default": "450"
      },
      {
        "type": "image_picker",
        "id": "midwest_logo",
        "label": "Mid West Logo",
        "info": "450 x 200px recommended"
      },
      {
        "type": "text",
        "id": "midwest_logo_max_width",
        "label": "Custom Mid West logo width (in pixels)",
        "default": "450"
      },
      {
        "type": "image_picker",
        "id": "greatlakes_logo",
        "label": "Great Lakes Logo",
        "info": "450 x 200px recommended"
      },
      {
        "type": "text",
        "id": "greatlakes_logo_max_width",
        "label": "Custom Great Lakes logo width (in pixels)",
        "default": "450"
      },
      {
        "type": "header",
        "content": "Main menu"
      },
      {
        "type": "link_list",
        "id": "nav_menu",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "nav_below_logo",
        "label": "Center main menu below logo"
      },
      {
        "type": "checkbox",
        "id": "left_aligned_logo",
        "label": "Left-align logo"
      },
      {
        "type": "checkbox",
        "id": "show_header_lines",
        "label": "Show divider lines in header"
      },
      {
        "type": "header",
        "content": "Top bar"
      },
      {
        "type": "text",
        "id": "header_text",
        "label": "Top bar text",
        "info": "Max 55 characters"
      },
      {
        "type": "checkbox",
        "id": "header_search_enable",
        "label": "Show search bar"
      }
    ]
  }
{% endschema %}
