
{% if customer  %}

  {% include 'customer-account-common-code' with 'theme-layout-code' %}

{% endif %}

{% if customer.tags contains Role_ASM %}
  {% if product.tags contains customer_region_tag %}
	<style>#nav-2 li:nth-of-type(1) button{background-color: {{ settings.color_primary }};}</style>
  {% else %}
    <style>#nav-2 li:nth-of-type(2) button{background-color: {{ settings.color_primary }};}</style>
  {% endif %}
{% endif %}

{% comment %}
{% unless product.tags contains customer_region_tag %}
	<meta content="0; url={{shop.secure_url}}/pages/catalog" http-equiv="refresh" />
{% endunless %}
{% endcomment %}

<div itemscope itemtype="http://schema.org/Product" id="ProductSection" data-section-id="{{ section.id }}" data-section-type="product-template" data-image-zoom-type="{{ section.settings.product_image_zoom_type }}" data-related-enabled="{{ section.settings.product_related_enable }}" data-social-sharing="{{ section.settings.social_sharing }}">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  <div class="section-header section-header--breadcrumb">
    {% include 'breadcrumb' %}
  </div>

  <div class="product-single">
    <div class="grid product-single__hero">
      <div class="grid__item post-large--one-half">

        {% if section.settings.product_thumbnails_position == 'below' or product.images.size < 2 %}

          <div class="product-single__photos" id="ProductPhoto">
            {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
            <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg"{% if section.settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ featured_image | img_url: '1024x1024' }}"{% endif %}{% if section.settings.product_image_zoom_type == 'lightbox' %} class="zoom-lightbox"{% endif %} data-image-id="{{ featured_image.id }}">
          </div>

          {% if product.images.size > 1 %}

            <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">
              {% for image in product.images %}
                <li class="grid__item wide--one-quarter large--one-third medium-down--one-third">
                  <a data-image-id="{{ image.id }}" href="{{ image.src | img_url: '1024x1024' }}" class="product-single__thumbnail">
                    <img src="{{ image.src | img_url: 'grande' }}" alt="{{ image.alt | escape }}">
                  </a>
                </li>
              {% endfor %}
            </ul>

          {% endif %}

        {% else %}

          <div class="grid">

            <div class="grid__item four-fifths product-single__photos" id="ProductPhoto">
              {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
              <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg"{% if section.settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ featured_image | img_url: '1024x1024' }}"{% endif %}{% if section.settings.product_image_zoom_type == 'lightbox' %} class="zoom-lightbox"{% endif %} data-image-id="{{ featured_image.id }}">
            </div>

            <div class="grid__item one-fifth">

              <ul class="grid product-single__thumbnails" id="ProductThumbs">
                {% for image in product.images %}
                  <li class="grid__item">
                    <a data-image-id="{{ image.id }}" href="{{ image.src | img_url: '1024x1024' }}" class="product-single__thumbnail">
                      <img src="{{ image.src | img_url: 'grande' }}" alt="{{ image.alt | escape }}">
                    </a>
                  </li>
                {% endfor %}
              </ul>

            </div>

          </div>

        {% endif %}

        {% if section.settings.product_image_zoom_type == 'lightbox' %}
        <ul class="gallery" class="hidden">
          {% for image in product.images %}
          <li data-image-id="{{ image.id }}" class="gallery__item" data-mfp-src="{{ image | img_url: '1024x1024' }}"></li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>
      <div class="grid__item post-large--one-half">
        {% if section.settings.product_vendor_enable %}
          <span class="h3" itemprop="brand">{{ product.vendor }}</span>
        {% endif %}
        <h1 itemprop="name">{{ product.title }}</h1>

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          {% assign variant = product.selected_or_first_available_variant %}

          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          <div class="product-single__prices">
            {% if product.compare_at_price > product.price %}
              <span id="ComparePriceA11y" class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
            {% else %}
              <span id="PriceA11y" class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            {% endif %}
            <span id="ProductPrice" class="product-single__price" itemprop="price" content="{{ product.price | divided_by: 100.00 }}">
              {{ product.price | money }}
            </span>

            {% if product.compare_at_price > product.price %}
              <span id="PriceA11y" class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
              <s id="ComparePrice" class="product-single__sale-price">
                {{ product.compare_at_price_max | money }}
              </s>
            {% endif %}
          </div>

          {% for variant in product.variants %}
              {% if 'Aisle Interrupters,Banner,Case Card,Circular Static Cling,Horizontal Static,Mini Pole,Other,Wobbler,Outdoor Pole Sign,Poster,Pump Topper,Push Pull,Rail Strip Pages,Shelf Talker,Static Cling,Table Tent' contains variant.option1 %}
                {% assign has_post_descipt_note = true %}
              {% endif %}
          {% endfor %}

          <div class="product-description rte" itemprop="description">
            {{ product.description | remove: "An Image of the space you are covering is required" | replace: "//cdn.shopify.com/s/files/1/0415/9233/files/Screen_shot_2014-06-17_at_1.27.15_PM_large.png?10392", '" class="hide' | replace: "<img","<img class='hide'" | remove: "ĂĽĂ" }}
            {% if has_post_descipt_note %}
            <p><i>All requests are subject to approval.</i></p>
            {% endif %}

            {% for variant in product.variants %}

              {% if variant.option1 == 'Wallpaper' %}
                {% assign wallpaper = true %}

              {% elsif variant.option1 == 'Fountain Backsplash' %}
            	{% if variant.option2 == blank or variant.option2 == 'Default' %}
                  {% assign fountain_backsplash = true %}
                  <p>Your measurements must be of the space from top to bottom and between the screws NOT the full width. This will give the graphic better durability and quality upon installation.</p>
				{% endif %}

              {% elsif variant.option1 == 'Fountain Back' %}
            	{% if variant.option2 == blank or variant.option2 == 'Default' %}
                  {% assign fountain_back = true %}
                  <p>Please select the appropriate version you are looking for in the lower dropdown. Partnership layouts can either include the third party logo or just the wording as requested.</p>
				{% endif %}

              {% elsif variant.option1 == 'Cooler Vault Wrap' %}
                {% assign cooler_vault_wrap = true %}

              {% elsif variant.option1 == 'Store Banner' %}
                {% assign store_banner = true %}

              {% elsif variant.option1 == 'Cooler Header' %}
                {% assign cooler_header = true %}

              {% elsif variant.option1 == '2 x 3 Window Mesh Poster' %}
            	{% if variant.option2 == blank or variant.option2 == 'Default' %}
                  {% assign 2x3_window_mesh = true %}
                  <p>2 x 3 Window Mesh Posters under Paint the Town are printed on view-through window mesh and are the only available option for pricing on windows.</p>
				{% endif %}

              {% elsif variant.option1 == 'Window Mesh' %}
            	{% if variant.option2 == blank or variant.option2 == 'Default' %}
                  {% assign window_mesh = true %}
                  <div align="center"><span color="#444444"><i><img src="https://cdn.shopify.com/s/files/1/0415/9233/files/Screen_shot_2014-06-17_at_1.27.15_PM_large.png?10392" data-mfp-src="https://cdn.shopify.com/s/files/1/0415/9233/files/Screen_shot_2014-06-17_at_1.27.15_PM.png?10392" class="zoom-lightbox-modal zoom-lightbox" /></i></span></div>
                  <p>An Image of the space you are covering is required
  (hint: order via your iPad and upload right from your gallery!)
  Not required but really helpful is an Excel Map of the space you are covering if the space is more than 6 windows ...<br>Above is a sample of what these maps could look like.</p>
				{% endif %}
              {% elsif variant.option1 == 'Frosted Decals' %}
            	{% if variant.option2 == blank or variant.option2 == 'Default' %}
                  {% assign window_mesh = true %}
                  <p>Quantity 1-10: $20.82 each<br /><br />Quantity: 10-50: $14.75 each<br /><br />Quantity 50-100: $10.24 each<br /><br />Quantity 100+: $8.87 each</p>
				{% endif %}

              {% endif %}
            {% endfor %}
          </div>

          <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="" onsubmit="detectIE();">

            {% if product.available and product.variants.size > 0 %}

              {% assign custom_available = false %}

              {% for variant in product.variants %}

                {% if variant.available %}
                  {% if variant.option2 == customer_region_tag %} {% assign custom_available = true %} {% assign select_index = forloop.index0 %} {% break %} {% endif %}

                {% endif %}
              {% endfor %} <script> console.log('ca = {{select_index}}'); </script>

              {% if custom_available == false %}
            	{% for variant in product.variants %}
                  {% if variant.available %}
                    {% if variant.title contains 'Default' %} {% assign custom_available = false %} {% assign select_index = forloop.index0 %} {% break %} {% endif %}

                  {% endif %}
              	{% endfor %}
              {% endif %}	<script> console.log('{{select_index}}'); </script>

              {% assign selected = false %}

              {% if product.variants.size > 1 %}
               <select name="id" id="productSelect" class="product-single__variants">
                 {% assign pass = false %}
                  {% for variant in product.variants %}
                 	{% assign variant_price_value = variant.price | money_without_currency %}
                    {% if variant.available %}
                      <option {% if variant == product.selected_or_first_available_variant or pass == true %} {% if  variant_price_value != '0.00' %} selected="selected" {% assign pass = false %} {% else %} {% assign pass = true %} {% endif %} {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                    {% else %}
                      <option disabled="disabled">
                        {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                      </option>
                    {% endif %}
                  {% endfor %}
                </select>
              {% else %}
<!--             	<input type="hidden" name="id" value="{{ variant.id }}" /> -->
            	<select name="id" id="productSelect" class="product-single__variants hiden">
                  <option {% if variant == product.selected_or_first_available_variant or pass == true %} {% if  variant_price_value != '0.00' %} selected="selected" {% assign pass = false %} {% else %} {% assign pass = true %} {% endif %} {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {% if window_mesh %}${{ product_actual_price }} {{ shop.currency }}{% else %}{{ variant.price | money_with_currency }}{% endif %}</option>
                </select>
              {% endif %}


<!--               -------------- -->
              {% if product.variants.size > 1 and custom_available == true %}
               <select id="productSelect-1" class="product-single__variants1" onchange="try{elemntSelect(this.options[this.selectedIndex].getAttribute('index'));} catch(e){console.log('js error');}">
                 {% assign pass = false %}
                 {% assign index = -1 %}
                  {% for variant in product.variants %}
                 	{% assign variant_title_array = variant.title | split: ' / ' %}
                    {% assign check = false %}
                 	{% if variant.option2 %}
                      {% assign check_variant_option2 = true %}
                      {% for variant1 in product.variants %}
                        {% assign variant_title_array4custom = variant1.title | split: ' / ' %}
                        {%if variant_title_array4custom contains variant_title_array.first and variant_title_array4custom contains customer_region_tag %}
                          {% assign region_var_price = variant1.price | money_without_currency %}
                          {% assign region_var_id = variant1.id %}
                          {% break %}
                        {%endif%}
                      {% endfor %}
                    {% else %}
                      {% assign check_variant_option2 = false %}
                    {% endif %}
                    {% comment %}{ variant.option2 == 'Default' or check_variant_option2 == false }{% endcomment %}
                    {% if variant.option2 == customer_region_tag and check_variant_option2 == true %}
                      {% assign check = true %} {% assign index = index |plus:1 %}
                    {% elsif check_variant_option2 == false %}
                      {% assign check = true %} {% assign index = index |plus:1 %}
                    {% else %}
                      {% continue %}
                    {% endif %}
                 	{% assign variant_price_value = variant.price | money_without_currency %}
                    {% if variant.available and variant_price_value != '0.00' %}
                      <option index="{{ index }}" variant="{{variant.title}}" {% if variant == product.selected_or_first_available_variant or pass == true %} {% if  variant_price_value != '0.00' %} selected="selected" {% assign pass = false %} {% else %} {% assign pass = true %} {% endif %} {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.option1 }}</option>
                    {% else %}
                      <option class="hide" disabled="disabled">
                        {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                      </option>
                    {% endif %}
                  {% endfor %}
                </select>
              {% endif %}
<!--             ---------------- -->

            {% endif %}


            {% include 'product-customizer' %}

            <div class="hide">
              {% if window_mesh %}
                  <label for="">Total Window Area(H x W) in sq. inch</label>
                  <input type="text" readonly disabled1 name="properties[__Total Window Area(H x W)]" value="1"/>
                  <label for="">Window Mesh Calculated Unit Price</label>
                  <input type="text" readonly disabled1 name="properties[__Window Mesh Calculated Unit Price]" value="{{ product.selected_or_first_available_variant.price | money_with_currency | remove:' USD' }}"/>
              {% elsif wallpaper %}
                  <input type="text" readonly disabled1 name="properties[__Total Wallpaper Area(H x W)]" value="1"/>
                  <input type="text" readonly disabled1 name="properties[__Wallpaper Calculated Unit Price]" value="{{ product.selected_or_first_available_variant.price | money_with_currency | remove:' USD' }}"/>
              {% elsif fountain_back %}
                  <input type="text" readonly disabled1 name="properties[__Total Fountain Back Area(H x W)]" value="1"/>
                  <input type="text" readonly disabled1 name="properties[__Fountain Back Calculated Unit Price]" value="{{ product.selected_or_first_available_variant.price | money_with_currency | remove:' USD' }}"/>
              {% elsif fountain_backsplash %}
                  <input type="text" readonly disabled1 name="properties[__Total Fountain Backsplash Area(H x W)]" value="1"/>
                  <input type="text" readonly disabled1 name="properties[__Fountain Backsplash Calculated Unit Price]" value="{{ product.selected_or_first_available_variant.price | money_with_currency | remove:' USD' }}"/>
              {% elsif cooler_vault_wrap %}
                  <input type="text" readonly disabled1 name="properties[__Total Cooler Vault Wrap Area(H x W)]" value="1"/>
                  <input type="text" readonly disabled1 name="properties[__Cooler Vault Wrap Calculated Unit Price]" value="{{ product.selected_or_first_available_variant.price | money_with_currency | remove:' USD' }}"/>
              {% elsif store_banner %}
                  <input type="text" readonly disabled1 name="properties[__Total Store Banner Area(H x W)]" value="1"/>
                  <input type="text" readonly disabled1 name="properties[__Store Banner Calculated Unit Price]" value="{{ product.selected_or_first_available_variant.price | money_with_currency | remove:' USD' }}"/>
              {% elsif cooler_header %}
                  <input type="text" readonly disabled1 name="properties[__Total Cooler Header Area(H x W)]" value="1"/>
                  <input type="text" readonly disabled1 name="properties[__Cooler Header Calculated Unit Price]" value="{{ product.selected_or_first_available_variant.price | money_with_currency | remove:' USD' }}"/>
              {% else %}

              {% endif %}
            </div>

            <div class="product-single__quantity{% unless section.settings.product_quantity_enable %} is-hidden{% endunless %}">
              <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
              <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
            </div>

            <div class="note" style="border:1px {{ settings.color_primary }} solid;">
              <label><small><b>Note:</b> Quantity will be entered during checkout.</small></label>
            </div>

            <button type="submit" disabled name="add" id="AddToCart" class="btn hide">
              <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
            </button>
            <button type="button" disabled id="AddToCart2" class="btn" {% if product.tags contains customer_region_tag and cart.items.size <= max_allowed_item_count %}onclick="logSession(this);"{% else %}title="{{ max_cart_count_message }}"{% endif %}>
              <span id="AddToCartText2">{{ 'products.product.add_to_cart' | t }}</span>
            </button>
            {% comment %}
            <br><br>
            <button type="button" class="btn" onclick="window.location.assign('/pages/catalog');" >Continue Shopping</button>
            <br><br>
            <button type="button" class="btn" onclick="detectIE('/pages/locations');" >Start Checkout Process</button>
			{% endcomment %}
            <input id="return_to" name="return_to" value="{{ product.url }}" type="hidden">

            {% comment %}
            <br><br>
            <h3 class="h3 hide"><b>Payment Codes</b></h3>
            <div id="pcDash" class="border1 w3-padding1 animated text-center1 w3-white hide" style="max-width:350px; display:inline;">
              - <a id="pc1" target="_blank" href=""> Sales</a><span style="margin:0 20px;">&nbsp;</span>
              - <a id="pc2" target="_blank" href=""> Food Services</a><span style="margin:0 20px;">&nbsp;</span>
              - <a id="pc3" target="_blank" href=""> Trade Expense</a>
            </div>
            {% endcomment %}
          </form>





          {% if section.settings.social_sharing %}
            <hr class="hr--clear hr--small">
            <h2 class="h4">{{ 'products.general.share_title' | t }}</h2>
            {% include 'social-sharing' %}
          {% endif %}
        </div>

      </div>
    </div>
  </div>
{% comment %}
  {% if section.settings.product_related_enable %}
    {% include 'related-products' %}
  {% endif %}
{% endcomment %}
</div>

{% unless product.empty? %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}

{{ 'option_selection.js' | shopify_asset_url | script_tag }}

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "product_vendor_enable",
        "label": "Show product vendor"
      },
      {
        "type": "checkbox",
        "id": "product_quantity_enable",
        "label": "Show quantity selector"
      },
      {
        "type": "select",
        "id": "product_image_zoom_type",
        "label": "Image zoom type",
        "options": [
          {
            "value": "lightbox",
            "label": "Lightbox"
          },
          {
            "value": "zoom-in",
            "label": "Zoom-in"
          },
          {
            "value": "",
            "label": "No zoom"
          }
        ]
      },
      {
        "type": "select",
        "id": "product_thumbnails_position",
        "label": "Product thumbnail position",
        "options": [
          {
            "value": "right",
            "label": "Right of main image"
          },
          {
            "value": "below",
            "label": "Below main image"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "social_sharing",
        "label": "Enable product sharing"
      },
      {
        "type": "header",
        "content": "Related products"
      },
      {
        "type": "checkbox",
        "id": "product_related_enable",
        "label": "Enable related products"
      },
      {
        "type": "checkbox",
        "id": "vendor_enable",
        "label": "Show vendor"
      },
      {
        "type": "checkbox",
        "id": "show_sale_circle",
        "label": "Show sale circle"
      },
      {
        "type": "checkbox",
        "id": "show_sold_out_circle",
        "label": "Show sold out circle"
      },
      {
        "type": "checkbox",
        "id": "center_grid_link",
        "label": "Center text below product images"
      }
    ]
  }
{% endschema %}

<script>

  	$.fn.extend({
        animateCss: function (animationName) {
            var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
            this.addClass('animated ' + animationName).one(animationEnd, function() {
                $(this).removeClass('animated ' + animationName);
            });
        }
    });

    $(window).load(function(){
     {% if product.options.size == 2 %} mimic();console.log('region selected');{% endif %}
      $('#productSelect-1').change();
      $('#ProductPrice').show('slow');
      {% if product.tags contains customer_region_tag and cart.items.size <= max_allowed_item_count %}
      	if($('#AddToCart').is(':enabled') || $('[name = "id"]').length > 0)
          $('#AddToCart2, #AddToCart').removeAttr('disabled');
      {% endif %}
      $('#productSelect-option-0').bind('change', function(e) {
       	var url = document.URL.replace("{{ shop.url }}", '');
   		$('#return_to').val(url);
        if($(this).text().indexOf('Banner') !== -1){
          setBSO($(this).find('option:selected').text());
        }
     });

     $('input[type="file"]').before("<div class='product-customizer-option-description'>Supported file types: '*.jpg', '*.png' and '*.pdf' with maximum file size 1MB </div>").bind('change', function(){
            var file = this.files[0];
        	var ext = this.value.match(/\.([^\.]+)$/)[1].toLowerCase();
            switch(ext)
            {
                case 'jpg':
                case 'jpeg':
                case 'png':
                case 'pdf':
                    // alert('allowed');
                	if(file.size/1024/1024 > 1 ){
                    	show_message4('Invalid file size...',false,'Try adding file of size < 1 MB');
						this.value='';
                    }
                    break;
                default:
                	show_message4('Invalid file type...',false,'Try adding file of supported types.');
                    this.value='';
            }

      });

     {% unless product.tags contains customer_region_tag %}
      setInterval( function(){ $('#AddToCartForm').bind('submit', function(e){ e.preventDefault(); }); }, 1000);
     {% endunless %}

     if($("#productSelect-option-0").text().indexOf('Banner') !== -1){
//        $("[name='properties[Price Point Needed]'][value='No']").prop('checked', 'checked').change();
//        setPP($("[name='properties[Price Point]']"));
       setBSO($("#productSelect-option-0").find('option:selected').text());
     }else{
       setBSO("");
     }

//      setUpElements();
    });

  function mimic(){
//     $index = $('#productSelect-psudo option:selected').attr('index'); console.log($index+" < index");
//     document.getElementById('productSelect-option-0').selectedIndex = $index;
//     $('#productSelect-option-0 option:eq('+$index+')').prop('selected', true)
//     $('#productSelect-option-0').change();
//     $('#productSelect-option-1 option:eq('+'{{ select_index }}'+')').prop('selected', 'selected').change();
	$('#productSelect-option-1 option[value="{{ customer_region_tag }}"]').prop('selected', 'selected').change();

  }

  function elemntSelect(index){
  	$('#productSelect-option-0 option:eq('+index+')').prop('selected', 'selected').change();
  }

  $(document).ready(function(){
    var url = document.URL.replace("{{ shop.url }}", '');
    $('#return_to').val(url);

    if (typeof(Storage) !== "undefined" && sessionStorage.PrintATC) {
      var PrintATC = sessionStorage.PrintATC; //console.log(PrintATC);
      if ( 1 == PrintATC ) {
        sessionStorage.PrintATC = 0; //console.log(PrintATC);
        show_message2('Added to Cart.',true);
        $('.cart-page-link').animateCss('wobble');
      }
    }

//     $("input[name = 'properties[Price Point]']").attr('pattern','[\\d]+([.][\\d]{1,2})?').attr('title','Enter only Integer or upto 2 place decimal value.');

    $('div[data-option-name = "logo-upload"]').remove();

    {% if template.name == 'product' and template.suffix != 'alternate' %}
    if($("input[name = 'properties[Price Point Needed]']").length > 0){
      $("input[name = 'properties[Price Point Needed]']").on('change', function(e){
        setPP(this);
      });
      $("[name='properties[Price Point Needed]'][value='No']").prop('checked', 'checked').change();
    }
    {% endif %}

    $('#pc1').attr('href', $('#link-sales').attr('href'));
	$('#pc2').attr('href', $('#link-food-service').attr('href'));
	$('#pc3').attr('href', $('#link-all-other').attr('href'));

    setUpElements();

    $('.zoom-lightbox-modal').magnificPopup({
        type: 'image',
        mainClass: 'mfp-fade1',
      	removalDelay: 500,
        closeOnBgClick: true,
        closeBtnInside: false,
        closeOnContentClick: false,
//         tClose: password.strings.pageClose,
        removalDelay: 500,
      	tLoading: '<i class="fa fa-refresh w3-spin w3-text-black"></i>',
      	preloader: true,
        callbacks: {
          beforeOpen: function() {
            this.st.image.markup = this.st.image.markup.replace('mfp-figure', 'mfp-figure mfp-with-anim');
                this.st.mainClass = 'mfp-zoom-out';
          },
          close: function(){
          }
        }
    });

  });

  function setUpElements(){
  	if($('[name="id"]').text().toLowerCase().indexOf('window mesh') != -1){

    for(i=1; i<=$("select[name = 'properties[# of Consecutive Windows]'] option").length; i++){
    	$("[data-option-name = 'window-"+i+"-width'], [data-option-name = 'window-"+i+"-height']").addClass('w3-col s6').wrapAll('<div class="w3-row"></div>').first().parent().prepend((i == 1) ? '<label>Window Size(s) (required)</label>' : '');
//       $("[name = 'properties[Window "+i+" Width in feet]'], [name = 'properties[Window "+i+" Width in inches]']").wrapAll('<div class="w3-row"></div>').wrap('<div class="w3-col s6"></div>');
//       $("[name = 'properties[Window "+i+" Height in feet]'], [name = 'properties[Window "+i+" Height in inches]']").wrapAll('<div class="w3-row"></div>').wrap('<div class="w3-col s6"></div>');
      	$('[data-option-name^="window-"] label').hide();
        $('[name^="properties[Window "]').attr('style', 'width:100% !important;');
    }

    $("select[name = 'properties[# of Consecutive Windows]']").on('change', function(e){ console.log('changed');
      	$("[data-option-name^= 'window-'][data-option-name$= '-width'], [data-option-name^= 'window-'][data-option-name$= '-height'], [data-option-name = 'window-2-width'], [data-option-name = 'window-3-width'], [data-option-name = 'window-4-width'], [data-option-name = 'window-5-width'], [data-option-name = 'window-6-width'], [data-option-name = 'window-2-height'], [data-option-name = 'window-3-height'], [data-option-name = 'window-4-height'], [data-option-name = 'window-5-height'], [data-option-name = 'window-6-height']").hide(0).find("input[name^='properties[Window']").removeAttr('required').prop('disabled', 'disabled');
    	var win_nos = $(this).val();
        for(i=1; i<=win_nos; i++){
          $("[data-option-name = 'window-"+i+"-width'], [data-option-name = 'window-"+i+"-height']").show(0).find("input[name^='properties[Window']").attr('required', 'required').removeAttr('disabled');
        }
    });

    $("select[name = 'properties[# of Consecutive Windows]']").trigger('change');

      $('[name^="properties[Window "]').on('input', function(e){
          winSize = $("select[name = 'properties[# of Consecutive Windows]']").val();
          cal_prod_price = 0.00;
          cal_win_area = 0.00;
          for(i=1; i<=winSize; i++){
            cal_win_area += parseFloat($('[name="properties[Window '+i+' Height]"]').val()) * parseFloat($('[name="properties[Window '+i+' Width]"]').val());
            cal_prod_price += parseFloat($('[name="properties[Window '+i+' Height]"]').val()) * parseFloat($('[name="properties[Window '+i+' Width]"]').val()) * {{ product.selected_or_first_available_variant.price | money_with_currency | remove:'$' | remove:' USD' }};
          }
          unit_price = ( addCommas((cal_prod_price).toFixed(2)) ).replace('NaN','{{ product.selected_or_first_available_variant.price | money_with_currency | remove:' USD' }}');

          $('[name="properties[__Total Window Area(H x W)]"]').val(cal_win_area);
          $('[name="properties[__Window Mesh Calculated Unit Price]"]').val(unit_price);
          $('#ProductPrice').text( unit_price );
      });
    }

    else if($('[name="id"]').text().toLowerCase().indexOf('wallpaper') != -1){
      $('[data-option-name^="wallpaper-"]').addClass('w3-col s6').wrapAll('<div class="w3-row"></div>').first().parent().prepend('<label>Wallpaper Size (required)</label>');
      $('[data-option-name^="wallpaper-"] label').hide();
      $('[name^="properties[Wallpaper "]').attr('style', 'width:100% !important;').off('input').on('input', function(){
      	cal_prod_price = 0.00;
        cal_win_area = 0.00;

        cal_win_area += parseFloat($('[name^="properties[Wallpaper "]').first().val()) * parseFloat($('[name^="properties[Wallpaper "]').last().val());
        cal_prod_price += parseFloat($('[name^="properties[Wallpaper "]').first().val()) * parseFloat($('[name^="properties[Wallpaper "]').last().val()) * {{ product.selected_or_first_available_variant.price | money_with_currency | remove:'$' | remove:' USD' }};

        unit_price = ( addCommas((cal_prod_price).toFixed(2)) ).replace('NaN','{{ product.selected_or_first_available_variant.price | money_with_currency | remove:' USD' }}');

        $('[name="properties[__Total Wallpaper Area(H x W)]"]').val(cal_win_area || 1);
        $('[name="properties[__Wallpaper Calculated Unit Price]"]').val(unit_price);
        $('#ProductPrice').text( unit_price );
      });

    }

    else if($('[name="id"]').text().toLowerCase().indexOf('fountain backsplash') != -1){
      $('[data-option-name^="fountain-"]').addClass('w3-col s6').wrapAll('<div class="w3-row"></div>').first().parent().prepend('<label>Size (required)</label>');
      $('[data-option-name^="decal-size-"]').addClass('w3-col s6').wrapAll('<div class="w3-row"></div>').first().parent().prepend('<label>Decal Size (required)</label>');
      $('[data-option-name^="fountain-"] label, [data-option-name^="decal-size-"] label').hide();
      $('[name^="properties[Fountain "], [name^="properties[Decal Size "]').attr('style', 'width:100% !important;').off('input').on('input', function(){
      	cal_prod_price = 0.00;
        cal_win_area = 0.00;

//         cal_win_area += parseFloat($('[name^="properties[Fountain "]').first().val()) * parseFloat($('[name^="properties[Fountain "]').last().val());
        cal_win_area += parseFloat($('[name^="properties[Decal Size "]').first().val()) * parseFloat($('[name^="properties[Decal Size "]').last().val());

//         cal_prod_price += parseFloat($('[name^="properties[Fountain "]').first().val()) * parseFloat($('[name^="properties[Fountain "]').last().val()) * {{ product.selected_or_first_available_variant.price | money_with_currency | remove:'$' | remove:' USD' }};
        cal_prod_price += parseFloat($('[name^="properties[Decal Size "]').first().val()) * parseFloat($('[name^="properties[Decal Size "]').last().val()) * {{ product.selected_or_first_available_variant.price | money_with_currency | remove:'$' | remove:' USD' }};

        unit_price = ( addCommas((cal_prod_price).toFixed(2)) ).replace('NaN','{{ product.selected_or_first_available_variant.price | money_with_currency | remove:' USD' }}');

        $('[name="properties[__Total Fountain Backsplash Area(H x W)]"]').val(cal_win_area);
        $('[name="properties[__Fountain Backsplash Calculated Unit Price]"]').val(unit_price);
        $('#ProductPrice').text( unit_price );
      });
    }

    else if($('[name="id"]').text().toLowerCase().indexOf('cooler vault wrap') != -1){
//       $('input[name^="properties[Size "]')
      $('[data-option-name^="size-above-vault-"]').addClass('w3-col s6').wrapAll('<div class="w3-row"></div>').first().parent().prepend('<label>Size ABOVE Vault (required)</label>');
      $('[data-option-name^="size-left-of-"]').addClass('w3-col s6').wrapAll('<div class="w3-row"></div>').first().parent().prepend('<label>Size LEFT of Vault (required)</label>');
      $('[data-option-name^="size-right-of-"]').addClass('w3-col s6').wrapAll('<div class="w3-row"></div>').first().parent().prepend('<label>Size RIGHT of Vault (required)</label>');
      $('[data-option-name^="size-above-vault-"] label, [data-option-name^="size-left-of-"] label,  [data-option-name^="size-right-of-"] label').hide();
      $('[name^="properties[Size ABOVE Vault "], [name^="properties[Size LEFT of Vault "], [name^="properties[Size RIGHT of Vault "]').attr('style', 'width:100% !important;').off('input').on('input', function(){
      	cal_prod_price = 0.00;
        cal_win_area = 0.00;

        cal_win_area += parseFloat($('[name^="properties[Size ABOVE Vault "]').first().val()) * parseFloat($('[name^="properties[Size ABOVE Vault "]').last().val()) || 0;
        cal_win_area += parseFloat($('[name^="properties[Size LEFT of Vault "]').first().val()) * parseFloat($('[name^="properties[Size LEFT of Vault "]').last().val()) || 0;
        cal_win_area += parseFloat($('[name^="properties[Size RIGHT of Vault "]').first().val()) * parseFloat($('[name^="properties[Size RIGHT of Vault "]').last().val()) || 0;

        cal_prod_price += ((parseFloat($('[name^="properties[Size ABOVE Vault "]').first().val()) * parseFloat($('[name^="properties[Size ABOVE Vault "]').last().val())) || 0) * {{ product.selected_or_first_available_variant.price | money_with_currency | remove:'$' | remove:' USD' }};
        cal_prod_price += ((parseFloat($('[name^="properties[Size LEFT of Vault "]').first().val()) * parseFloat($('[name^="properties[Size LEFT of Vault "]').last().val())) || 0) * {{ product.selected_or_first_available_variant.price | money_with_currency | remove:'$' | remove:' USD' }};
        cal_prod_price += ((parseFloat($('[name^="properties[Size RIGHT of Vault "]').first().val()) * parseFloat($('[name^="properties[Size RIGHT of Vault "]').last().val())) || 0) * {{ product.selected_or_first_available_variant.price | money_with_currency | remove:'$' | remove:' USD' }};

        unit_price = ( addCommas((cal_prod_price).toFixed(2)) ).replace('$0.00','{{ product.selected_or_first_available_variant.price | money_with_currency | remove:' USD' }}');

        $('[name="properties[__Total Cooler Vault Wrap Area(H x W)]"]').val(cal_win_area || 1);
        $('[name="properties[__Cooler Vault Wrap Calculated Unit Price]"]').val(unit_price);
        $('#ProductPrice').text( unit_price );
      });
    }

    else if($('[name="id"]').text().toLowerCase().indexOf('fountain back') != -1){
      $('[data-option-name^="size-"]').addClass('w3-col s6').wrapAll('<div class="w3-row"></div>').first().parent().prepend('<label>Fountain Size (required)</label>');
      $('[data-option-name^="size-"] label').hide();
      $('[data-option-name="partnership-message"]').hide().find('input').prop('disabled', 'disabled');
      $('[name^="properties[Size "]').attr('style', 'width:100% !important;').off('input').on('input', function(){
      	cal_prod_price = 0.00;
        cal_win_area = 0.00;

        cal_win_area += parseFloat($('[name^="properties[Size "]').first().val()) * parseFloat($('[name^="properties[Size "]').last().val());
        cal_prod_price += parseFloat($('[name^="properties[Size "]').first().val()) * parseFloat($('[name^="properties[Size "]').last().val()) * {{ product.selected_or_first_available_variant.price | money_with_currency | remove:'$' | remove:' USD' }};

        unit_price = ( addCommas((cal_prod_price).toFixed(2)) ).replace('NaN','{{ product.selected_or_first_available_variant.price | money_with_currency | remove:' USD' }}');

        $('[name="properties[__Total Fountain Back Area(H x W)]"]').val(cal_win_area);
        $('[name="properties[__Fountain Back Calculated Unit Price]"]').val(unit_price);
        $('#ProductPrice').text( unit_price );
      });

      $('[name="properties[Select Version Layout]"]').on('change', function(){
        if(this.value == 'Partnership (Logo Available)')
          $('[data-option-name="partnership-message"]').show().find('input').removeAttr('disabled');
        else
          $('[data-option-name="partnership-message"]').hide().find('input').prop('disabled', 'disabled');
      });
    }

    else if($('[name="id"]').text().toLowerCase().indexOf('store banner') != -1){
      $('[data-option-name^="size-"]').addClass('w3-col s6').wrapAll('<div class="w3-row"></div>').first().parent().prepend('<label>Size(required) ( Maximum H-54 and W-240)</label>');
      $('[data-option-name^="size-"] label').hide();
      obj1 = $('[name^="properties[Size "]').first();
      obj2 = $('[name^="properties[Size "]').last();
      $('[name^="properties[Size "]').attr('style', 'width:100% !important;').off('input').on('input', function(){
        valid = true;
        msg = '';
        $('#AddToCart2').removeAttr('disabled');
        obj1[0].setCustomValidity('');
        if(!isNaN(obj1.val()) && Number(obj1.val()) > 54 ){
           valid = false;
           obj1[0].setCustomValidity('Maximum allowable value is 54');
           obj1.val('54').trigger("input");

          // e.target.checkValidity()
          try{
            obj1[0].reportValidity();
          }catch(e){
            msg = 'Maximum allowable height is 54 inches\n';
          }
        }
        obj2[0].setCustomValidity('');
      	if(!isNaN(obj2.val()) && Number(obj2.val()) > 240 ){
           valid = false;
           obj2[0].setCustomValidity('Maximum allowable value is 240');
           obj2.val('240').trigger("input");

          // e.target.checkValidity()
          try{
            obj2[0].reportValidity();
          }catch(e){
            msg += 'Maximum allowable width is 240 inches';
          }
        }
        if(!valid && msg.length > 0){
          alert(msg);
//           $('#AddToCart2').prop('disabled', 'disabled');
        }

        if(valid){
          cal_prod_price = 0.00;
          cal_win_area = 0.00;

          cal_win_area += parseFloat($('[name^="properties[Size "]').first().val()) * parseFloat($('[name^="properties[Size "]').last().val());
          cal_prod_price += parseFloat($('[name^="properties[Size "]').first().val()) * parseFloat($('[name^="properties[Size "]').last().val()) * {{ product.selected_or_first_available_variant.price | money_with_currency | remove:'$' | remove:' USD' }};

          unit_price = ( addCommas((cal_prod_price).toFixed(2)) ).replace('NaN','{{ product.selected_or_first_available_variant.price | money_with_currency | remove:' USD' }}');

          $('[name="properties[__Total Store Banner Area(H x W)]"]').val(cal_win_area);
          $('[name="properties[__Store Banner Calculated Unit Price]"]').val(unit_price);
          $('#ProductPrice').text( unit_price );
        }
      });
    }

    else if($('[name="id"]').text().toLowerCase().indexOf('cooler header') != -1){
    	$('[data-option-name^="size-"]').addClass('w3-col s6').wrapAll('<div class="w3-row"></div>').first().parent().prepend('<label>Cooler Header Size (required)</label>');
        $('[data-option-name^="size-"] label').hide();

      	$('[name^="properties[Size "]').attr('style', 'width:100% !important;').off('input').on('input', function(){
          cal_prod_price = 0.00;
          cal_win_area = 0.00;

          cal_win_area += parseFloat($('[name^="properties[Size "]').first().val()) * parseFloat($('[name^="properties[Size "]').last().val());
          cal_prod_price += parseFloat($('[name^="properties[Size "]').first().val()) * parseFloat($('[name^="properties[Size "]').last().val()) * {{ product.selected_or_first_available_variant.price | money_with_currency | remove:'$' | remove:' USD' }};

          unit_price = ( addCommas((cal_prod_price).toFixed(2)) ).replace('NaN','{{ product.selected_or_first_available_variant.price | money_with_currency | remove:' USD' }}');

          $('[name="properties[__Total Cooler Header Area(H x W)]"]').val(cal_win_area);
          $('[name="properties[__Cooler Header Calculated Unit Price]"]').val(unit_price);
          $('#ProductPrice').text( unit_price );
        });
    }

  }

  function addCommas(nStr){
    if(isNaN(nStr)) return 'NaN';
    nStr += '';
    x = nStr.split('.');
    x1 = x[0];
    x2 = x.length > 1 ? '.' + x[1] : '';
    var rgx = /(\d+)(\d{3})/;
    while (rgx.test(x1)) {
        x1 = x1.replace(rgx, '$1' + ',' + '$2');
    }
    return '$'+x1 + x2;
  }

  function setBSO(opt){
    try{ console.log('selected:',opt);
      if(opt.indexOf("Banner") == -1){
      	$("div[data-option-name='banner-size-options']").hide();
        $("[name='properties[Banner Size Options]']").prop('disabled', 'disabled');
      }else{
      	$("div[data-option-name='banner-size-options']").show();
        $("[name='properties[Banner Size Options]']").removeAttr('disabled');
      }

    }catch(e){ e.meassage; }
  }

  function setPP(opt){
  	if($(opt).val() == 'No'){
          $("[data-option-name='price-point']").hide();
          $("[name='properties[Price Point]']").removeAttr('required');
    }
    else{
      $("[data-option-name='price-point']").show();
      $("[name='properties[Price Point]']").prop({'required': 'required', 'patterns': '[\\d]+\.?[\\d]?'}).attr({'onchanges': 'formatThis(this);', 'oninputs': 'this.value = this.value.match(/[\\d\.$/]+/);'});
    }
  }

  function formatThis(elem){
    var arr = elem.value.split('/'); //console.log(arr);
    if(arr.length == 1){
    	elem.value = parseFloat(arr[0]).toFixed(2);
      	return;
    }else{
      arr.forEach(function(item, index){
          if(item.indexOf('$') != -1){
            arr[index] = "$"+parseFloat(item.split('$')[1] || 0).toFixed(2);
          }else
            arr[index] = parseFloat(item || 0).toFixed(2);
      });

      elem.value = arr.join('/'); //.match(/([\d.]+)(\/?){1}(\$?){1}([\d.]+?)/);
      return;
    }
  }

  function addCartClass(){
    if (typeof(Storage) !== "undefined") {
      sessionStorage.PrintATC = 1; //console.log(sessionStorage.PrintATC);
    }
  	$('#AddToCart2').addClass('btn--ajax-disabled disabled');
    return true;
  }

  function logSession(obj){
    freez();
    $.when(data = $.getJSON('/cart.js')).done(function(){ 
      if(data.responseJSON.items.length < {{ max_allowed_item_count }}){
        if($('#AddToCart').is(':enabled')){
          obj.previousElementSibling.click();
          defreez();
        }
      }else{
        show_message4('{{ max_cart_count_message }}', false, false);
      }
    });
  }

</script>

<style>
  #productSelect-option-0{display:none;}

  {% if custom_available == false %}
  	#productSelect-option-0,label[for = "productSelect-option-0"]{display:block;}
  {% endif %}

  [data-option-name = 'window-2-width'], [data-option-name = 'window-3-width'], [data-option-name = 'window-4-width'], [data-option-name = 'window-5-width'], [data-option-name = 'window-6-width'],
  [data-option-name = 'window-2-height'], [data-option-name = 'window-3-height'], [data-option-name = 'window-4-height'], [data-option-name = 'window-5-height'], [data-option-name = 'window-6-height'], [data-option-name^= 'window-'][data-option-name$= '-width']:not([data-option-name = 'window-1-width']), [data-option-name^= 'window-'][data-option-name$= '-height']:not([data-option-name = 'window-1-height']), [data-option-name = "logo-upload"]{
   		display: none;
/*    		max-width: 50% !important; */
   }

  .product-customizer-option-description{
    font-size: 11px;
    font-weight: bold;
  }
</style>

<script type="text/javascript">
  console.log(prod = {{product | json}});
</script>
