{% if customer  %}

  {% assign Role_User = 'general.Role.User' | t %}
  {% assign Role_Printer = 'general.Role.Printer' | t %}
  {% assign Role_Manager = 'general.Role.Manager' | t %}
  {% assign Role_ASM = 'general.Role.ASM' | t %}
  {% assign Role_Admin = 'general.Role.Admin' | t %}

  {% assign region_NorthEast = "general.Region_Tags.NorthEast" | t %}
  {% assign region_SouthEast = "general.Region_Tags.SouthEast" | t %}
  {% assign region_California = "general.Region_Tags.California" | t %}
  {% assign region_South = "general.Region_Tags.South" | t %}
  {% assign region_Mountain = "general.Region_Tags.Mountain" | t %}
  {% assign region_MidAtlantic = "general.Region_Tags.MidAtlantic" | t %}
  {% assign region_MidWest = "general.Region_Tags.MidWest" | t %}
  {% assign region_GreatLakes = "general.Region_Tags.GreatLakes" | t %}
  {% assign region_External = "general.Region_Tags.External" | t %}

  {% if customer.tags contains region_NorthEast %}
    {% assign customer_region_tag = region_NorthEast %}
  {% elsif customer.tags contains region_SouthEast %}
    {% assign customer_region_tag = region_SouthEast %}
  {% elsif customer.tags contains region_California %}
    {% assign customer_region_tag = region_California %}
  {% elsif customer.tags contains region_South %}
    {% assign customer_region_tag = region_South %}
  {% elsif customer.tags contains region_Mountain %}
    {% assign customer_region_tag = region_Mountain %}
  {% elsif customer.tags contains region_MidAtlantic %}
    {% assign customer_region_tag = region_MidAtlantic %}
  {% elsif customer.tags contains region_MidWest %}
    {% assign customer_region_tag = region_MidWest %}
  {% elsif customer.tags contains region_GreatLakes %}
    {% assign customer_region_tag = region_GreatLakes %}
  {% endif %}

{% endif %}

<div class="section-header section-header--large printModeExclude">
  <h1 class="section-header__title">{{ 'customer.account.title' | t }}</h1>
</div>

<div class="grid printModeExclude">
  <div class="grid__item two-thirds">
    <div class="grid">
      <div class="grid__item one-half small--one-whole">
        <p><a href="/account?view=summary-list"><button type="button" class="btn btn--primary1"><i class="fa fa-caret-left"></i> Return to Order Summary</button></a></p>
      </div>
      <div class="grid__item  one-half small--one-whole text-right">
         <button id="printOrder" styles="margin-right:20px;" type="button" class="btn btn--primary1" onclick="windowPrint();" title="Print this order"><i class="fa fa-print"></i> Print this Order</button>
         <button id="prevOrderBtn" type="button" class="btn btn--primary1 hide" onclick="eval(this.getAttribute('onclickf'));" title="previous order"><i class="fa fa-arrow-left"></i></button>
         <button id="nextOrderBtn" type="button" class="btn btn--primary1 hide" onclick="eval(this.getAttribute('onclickf'));" title="next order"><i class="fa fa-arrow-right"></i></button>
      </div>
    </div>
  </div>
</div>

<br>

<div id="address-hidden" class="one-whole hide"></div>

<div id="id01" class="grid" style="display:none;">

  <div class="grid__item two-thirds medium-down--one-whole print-one-whole" style="background-color:white;">
    <div id="id02" class="printModeExclude">

      <h2 class="h3 printModeInclude1 order_name_h2" ><b>Order #{% raw %}{{ order_name }}{% endraw %}</b> </h2>
      <p class="" style="display:inline-block;"><b class="printModeExclude">Placed on :</b> {% raw %}{{ order_date }}{% endraw %}</p>  	
    
      
      <div id="cancelled" class="errors" style="display:none;">
        <p class="h5">Cancelled at : {% raw %}{{ cancelled_at }}{% endraw %}</p>
        <p>Cancelled reason : {% raw %}{{ cancelled_at }}{% endraw %}</p>
      </div>
	</div>
    {% comment %}
    <div class="table-wrap">
      <table class="full">
        <thead>
          <tr>
            <th>{{ 'customer.order.product' | t }}</th>
            <th>{{ 'customer.order.sku' | t }}</th>
            <th>{{ 'customer.order.price' | t }}</th>
            <th class="text-right">{{ 'customer.order.quantity' | t }}</th>
            <th class="text-right">{{ 'customer.order.total' | t }}</th>
          </tr>
        </thead>
        <tbody>
          {% for line_item in order.line_items %}
          <tr id="{{ line_item.key }}">
            <td>
              {{ line_item.title | link_to: line_item.product.url }}
              {% if line_item.fulfillment %}
                <div class="note">
                  {% assign created_at = line_item.fulfillment.created_at | date: "%b %d" %}
                  {{ 'customer.order.fulfilled_at' | t: date: created_at }}
                  {% if line_item.fulfillment.tracking_number %}
                    <a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
                  {% endif %}
                </div>
              {% endif %}
            </td>
            <td>{{ line_item.sku }}</td>
            <td>{{ line_item.price | money }}</td>
            <td class="text-right">{{ line_item.quantity }}</td>
            <td class="text-right">{{ line_item.quantity | times: line_item.price | money }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">{{ 'customer.order.subtotal' | t }}</td>
            <td class="text-right">{{ order.subtotal_price | money }}</td>
          </tr>

          {% for discount in order.discounts %}
            <tr class="order_summary discount">
              <td colspan="4">{{ discount.code }} {{ 'customer.order.discount' | t }}</td>
              <td class="text-right">{{ discount.savings | money }}</td>
            </tr>
          {% endfor %}

          {% for shipping_method in order.shipping_methods %}
          <tr>
            <td colspan="4">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</td>
            <td class="text-right">{{ shipping_method.price | money }}</td>
          </tr>
          {% endfor %}

          {% for tax_line in order.tax_lines %}
            <tr>
              <td colspan="4">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
              <td class="text-right">{{ tax_line.price | money }}</td>
            </tr>
          {% endfor %}

          <tr>
            <td colspan="4"><strong>{{ 'customer.order.total' | t }}</strong></td>
            <td class="text-right"><strong>{{ order.total_price | money }} {{ order.currency }}</strong></td>
          </tr>
        </tfoot>
      </table>
    </div> {% endcomment %}
    
    <div id="" class="table-wrap1">
      <table class="responsive-table w3-table w3-bordered w3-striped full1">
        <thead>
          <tr class="w3-text-white" style="background-color: {{ settings.color_topbar_bg }}">
            <th>{{ 'customer.order.product' | t }}</th>
            <th>{{ 'customer.order.sku' | t }}</th>
            <th class="text-right">{{ 'customer.order.price' | t }}</th>
            <th class="text-right">Total Qty.</th>
            <th class="text-right">{{ 'customer.order.total' | t }}</th>
          </tr>
        </thead>
        <tbody id="lineItem">
          
          <tr w3-repeat="line_items">
            <td>
              
              <div class="row">
                <div class="w3-col s4">
                  <img src="{{ 'ajax-loader.gif' |asset_url }}" srcs="{% raw %}{{ product_thumb_url }}{% endraw %}" style="max-width:100px; cursor:zoom-in;" class="js-toggle-previewImg-modal zoom-lightbox1" data-mfp-src="{% raw %}{{ product_image_url }}{% endraw %}">
                </div>
                <div class="w3-col s8">
                  {% raw %}{{ title }}{% endraw %}
                  <div id="properties_{% raw %}{{ line_item_No }}{% endraw %}" class="properties-wrapper">
                    <b>Properties:</b>
                    <div class="note">
                      <p w3-repeat="properties">{% raw %}{{ property_name }}{% endraw %} : {% raw %}{{ property_value }}{% endraw %}</p>
                    </div>
                  </div>
                </div>
              </div>
              
            </td>
            <td>{% raw %}{{ sku }}{% endraw %}</td>
            <td class="text-right">{% raw %}{{ price }}{% endraw %}</td>
            <td class="text-right">{% raw %}{{ quantity }}{% endraw %}</td>
            <td class="text-right">{% raw %}{{ total }}{% endraw %}</td>
          </tr>
          
        </tbody>
        
        <tbody id="discountCodes" style="display:none;">
          <tr w3-repeat="discount_codes" class="order_summary discount">
            <td colspan="4">{{ 'customer.order.discount' | t }} <b>{% raw %}{{ code }}{% endraw %}</b></td>
            <td class="text-right">-${% raw %}{{ amount }}{% endraw %}</td>
          </tr>
        </tbody>
        
        <tbody>  
          <tr id="subTotal">
            <td colspan="4">{{ 'customer.order.subtotal' | t }}</td>
            <td class="text-right">${% raw %}{{ sub_total }}{% endraw %}</td>
          </tr>
        </tbody>
        
        <tbody id="shippingPrice" style="display:none;">  
          <tr w3-repeat="shipping_lines">
            <td colspan="4">{{ 'customer.order.shipping' | t }} <b>{% raw %}({{ title }}){% endraw %}</b> <span id="trackNo-wrap" style="display:none;"> &nbsp;&nbsp;&nbsp;<b>Tracking No. : </b> <span id="trackNo"></span></span></td>
            <td class="text-right">${% raw %}{{ price }}{% endraw %}</td>
          </tr>
        </tbody>

        <tfoot>
          <tr id="taxPrice" style="display:none;">
            <td colspan="4">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
            <td class="text-right">{{ tax_line.price | money }}</td>
          </tr>

          <tr id="grandTotal">
            <td colspan="4"><strong>{{ 'customer.order.total' | t }}</strong></td>
            <td class="text-right"><strong>${% raw %}{{ total }}{% endraw %} {{ order.currency }}</strong></td>
          </tr>
          
        </tfoot>
      </table>
      
      
    </div>

  </div>

  <div id="address" class="grid__item one-third medium-down--one-whole">

    <div class="print-w3-half printModeExclude">
      <h2 class="h3"><b class="printModeExclude">{{ 'customer.order.billing_address' | t }}</b><b class="printModeInclude hide">Order By</b></h2>

  <!--     <p><strong>{{ 'customer.order.payment_status' | t }}:</strong> {% raw %}{{ payment_status }}{% endraw %}</p> -->

      <div id="billing_address">
      <span class="h5 name"></span>

      <p>
        <span class="email"></span>
        <span class="company printModeExclude"></span>

        <span class="address1 printModeExclude"></span>
        <span class="address2 printModeExclude"></span>

        <span class="city printModeExclude"></span>
        <span class="province printModeExclude"></span>

        <span class="zip printModeExclude"></span>
        <span class="country printModeExclude"></span>
        <span class="phone printModeExclude"></span>

      </p>
    </div>
   </div>
      
    <div id="order_names" class="w3-row print-w3-half">
      <h2>Order Group Names</h2>
      <div w3-repeat="order_group_names" class="w3-col s4">
        <a printer="{% raw %}{{ printer }}{% endraw %}" style="color:{{ settings.color_topbar_bg }}; font-weight:bold;" href="/pages/order?id={% raw %}{{ shopify_order_id }}{% endraw %}">{% raw %}{{ name }}{% endraw %}</a>
      </div>
    </div>
  </div>

  {% if customer.tags contains Role_ASM %}
   
<!--    <div id="assign-printer-wrapper" class="grid__item one-third medium-down--one-whole print-shop-block">
    <label for="assign-printer">Assign Order to Vendor</label>
   	<select id="assign-printer" onchange="changePrintShop(this);">
     <option selected disabled>Select Vendor</option>
    </select>
   </div> -->
  {% elsif customer.tags contains Role_Printer %}
<!--   <div  class="grid__item one-third medium-down--one-whole print-shop-block">
    <div id="shipping_details">
      <label for="fulfillment">Cancel Fulfillment</label>
      <select id="fulfillment" onchange="if(this.value == 'unfulfilled'){ cancelFulfillment(); }">
          <option value="fulfilled">Fulfilled</option>
          <option value="unfulfilled">Unfulfilled</option>
      </select>
    </div>
    <button id="update-fulfillment" class="js-toggle-update-modal1 updateBtn btn" style="display:none; min-width:350px;" title="Update this order" status="" onclick="addToModal(this);" order_id="" >Update Fulfillment</button>
  </div> -->
  {% endif %}
  
</div>


{{ "https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js" | script_tag }}

{{ 'html2canvas.js' | asset_url | script_tag }}

<script type="text/javascript">
  {% if customer.tags contains Role_Printer %}
  var printer_order = false;
  {% endif %}
  var url = document.URL;
  var order_id = '';
  var order_name = '';
  var order_data = [];
  var printer_id = '';
  var cemail = "{{ customer.email }}"
  var patt = new RegExp("id\=\\d+");
  var res = patt.test(url); //console.log(order_id);
  var btnState = null;
  
  var bemail = '';
  
//   $(document).ready(function(){
  	if(res){
       order_id = url.split('id\=')[1].split('&')[0];
       fetch_Order(order_id, true, null);
    }
    else window.location.assign('{{ shop.url }}/account');
//   });
  
  
  
//   var printer_values    = null;
//   var selectList = document.getElementById("assign-printer");    
//   var order_tags = null;

                              
                              
  function mfpInit(){
  	$('.js-toggle-previewImg-modal').magnificPopup({
        type: 'image',
        mainClass: 'mfp-fade1',
      	removalDelay: 500,
        closeOnBgClick: false,
        closeBtnInside: false,
        closeOnContentClick: false,
//         tClose: password.strings.pageClose,
        removalDelay: 500,
      	tLoading: '<i class="fa fa-refresh w3-spin w3-text-black"></i>',
      	preloader: true,
        callbacks: {
          beforeOpen: function() {
            this.st.image.markup = this.st.image.markup.replace('mfp-figure', 'mfp-figure mfp-with-anim');
                this.st.mainClass = 'mfp-zoom-out';
          },
          close: function(){
          }
        }
      });
  }
  
  
  
  function fetch_Order(order_ids, first, state){
    btnState = state;
    order_id = order_ids;
    $('.prop-hide-style').remove();
    freez();
    var data = {order_id: order_ids, cemail: "{{ customer.email }}", ctoken: "{{ customer.id  | hmac_sha1: shop.domain }}" };
                
  	 $.ajax({
          url: '/apps/pepsi-print/collection_response/{% if customer.tags contains Role_Printer %}get_printer_job_view_details.json{% elsif customer.tags contains Role_ASM %}get_asm_group_list_details.json{% endif  %}',
          type: 'GET',
          data: data,
          dataType: 'json',
                success: function(data){
//             	console.log(JSON.stringify(data)); 
                if(data.status == 'ok' && data.order != undefined){
                  {% if customer.tags contains Role_Printer %}
//                   if(data.order.printer_id == {{ customer.id }})
//                       printer_order = true;
//                   else{
//                       show_message4('Order not assigned to you or Assignment has been cancelled.',false);
//                       setTimeout(function(){ window.location.assign('/account'); }, 3000);
//                   }
//                   if(printer_order){% endif %}
                    $(document).ready(function(){
                      History.Adapter.bind(window, 'statechange', function(){ console.log('state outside:', btnState);
                        if(btnState == null){ console.log('state inside:', btnState);
                          order_id = History.getState().url.split('id=')[1]||''; 
                          if(order_id.length > 0)
                            fetch_Order(order_id, null, false);
                          else{
                          	$(window).unbind('statechange');
                            window.reload();
                          }
                        }
                      });
//                       dataHide(data);
                      $.when(dataHide(data)).done($.when(createThumbImg(data)).done(showOrderData(data))).done($('a[printer^="Printer:"]').css('color','#aaa'));
                    });
                  
                  if(first == null){console.log('pushed:', order_id);
                    if(btnState == true)
                      History.pushState({ url: document.location.href }, document.title, "?id="+order_id);
                    else
                      History.replaceState({ url: document.location.href }, document.title, "?id="+order_id);
//                     dataHide(data);
                    $.when(dataHide(data)).done($.when(createThumbImg(data)).done(showOrderData(data))).done($('a[printer^="Printer:"]').css('color','#aaa'));
                    btnState = null;
                  }
  //                 data = createThumbImg(data);
                }else{
                  show_message4(data.message,false);
//                   setTimeout(function(){ window.location.assign('{{ shop.url }}/account'); }, 3000);
                }
                
                
          },
          error: function(){
            show_message4(data.message,false);
          }
          
	 });
  }
  
  function showOrderData(data){
    			order_name = data.order.order_name;            
    
                if(data.order.cancelled_at.length > 0){ $('#cancelled').show(); $('#shipping_details, #update-fulfillment, #assign-printer-wrapper').hide(); }
                setTimeout(w3DisplayData("id02", data.order),100);
                setTimeout(w3DisplayData("address", data.order),200); 
                setTimeout(w3DisplayData("lineItem", data.order),400); 
                setTimeout(w3DisplayData("subTotal", data.order),500);
                setTimeout(w3DisplayData("grandTotal", data.order),600);
//     			setTimeout(w3DisplayData("discountCodes", data.order),700);
//                 setTimeout(w3DisplayData("shippingPrice", data.order),800);
// 				setTimeout(w3DisplayData("shipping_address", data.order.shipping_address),750);
    
    			
    			data.order.line_items.forEach(showProperties);
    			
    			
                function showProperties(item, index){ //console.log(item['product_id']);
					setTimeout( w3DisplayData("properties_"+item['line_item_No'], item), 900+100*index);
                }
    			
    			$('#billing_address .name').text(data.order.billing_address.name);
    			if(data.order.customer.email != null){ $('#billing_address .email').html(data.order.customer.email); }
    			bemail = data.order.customer.email;
    			if(data.order.billing_address.company != null){ $('#billing_address .company').html(data.order.billing_address.company); }
                if(data.order.billing_address.address1){ $('#billing_address .address1').html('<br>'+data.order.billing_address.address1); }
                if(data.order.billing_address.address2){ $('#billing_address .address2').text(', '+data.order.billing_address.address2); }
                if(data.order.billing_address.city){ $('#billing_address .city').html('<br>'+data.order.billing_address.city); }
                if(data.order.billing_address.province){ $('#billing_address .province').text(', '+data.order.billing_address.province); }
                if(data.order.billing_address.zip){ $('#billing_address .zip').text(', '+data.order.billing_address.zip); }
                if(data.order.billing_address.country){ $('#billing_address .country').html('<br>'+data.order.billing_address.country); }
                if(data.order.billing_address.phone){ $('#billing_address .phone').html('<br>'+data.order.billing_address.phone); }
    			
//     			var shipping_name = '';
//     			if(data.order.shipping_address.first_name){shipping_name = data.order.shipping_address.first_name}
//     			if(data.order.shipping_address.last_name){shipping_name = shipping_name +' '+data.order.shipping_address.last_name}
//     			$('#shipping_address .name').text( shipping_name );
//                 if(data.order.shipping_address.email != null){ $('#shipping_address .email').html(data.order.shipping_address.email); }
//     			if(data.order.shipping_address.company != null){ $('#shipping_address .company').html('<br>'+data.order.shipping_address.company); }
//                 if(data.order.shipping_address.address1){ $('#shipping_address .address1').html('<br>'+data.order.shipping_address.address1); }
//                 if(data.order.shipping_address.address2){ $('#shipping_address .address2').text(data.order.shipping_address.address2); }
//                 if(data.order.shipping_address.city){ $('#shipping_address .city').html('<br>'+data.order.shipping_address.city); }
//                 if(data.order.shipping_address.province != null){ $('#shipping_address .province').text(', '+data.order.shipping_address.province); }
//                 if(data.order.shipping_address.zip){ $('#shipping_address .zip').text(', '+data.order.shipping_address.zip); }
//                 if(data.order.shipping_address.country){ $('#shipping_address .country').html('<br>'+data.order.shipping_address.country); }
//                 if(data.order.shipping_address.phone){ $('#shipping_address .phone').html('<br>'+data.order.shipping_address.phone); }
    
//     			if(data.order.fulfillments[0] != null){
//     				if(data.order.fulfillments[0].created_at){ $('.note .created_at').html(data.order.fulfillments[0].created_at); }
//                 	if(data.order.fulfillments[0].updated){ $('.note .updated_at').html(data.order.fulfillments[0].updated); }
// 					if(data.order.fulfillments[0].tracking_url){ $('#note a').attr('href',data.order.fulfillments[0].tracking_url); }else $('.note a').removeAttr('href');
//     				if(data.order.fulfillments[0].tracking_company){ $('#note a').html(data.order.fulfillments[0].tracking_company); }
//     				if(data.order.fulfillments[0].tracking_number){ $('#note a').html($('#note a').html()+' #'+data.order.fulfillments[0].tracking_number); }
//     				if(data.order.fulfillments[0].status == 'success'){ $('.fulfilled').show(); }
//                   	$('#trackNo').html(' <a target="_blank" href="'+data.order.fulfillments[0].tracking_url+'">'+data.order.fulfillments[0].tracking_number+'</a>').parent().show();
//     			}
    
                $('img[srcs]').each(function(index, item){
                  $(item).attr('src', $(item).attr('srcs'));
                });
    			
//     			if(data.order.discount_codes[0] != null ){ $('#discountCodes').show(); }
    
//     			if(data.order.notes != null ){ 
// //                   $('#note .note_text').text(data.notes).show();
// //                     console.log('note:', data.order.notes);
//                     orderMsg = JSON.parse(data.order.notes.replace(/=>/g, ':'));
//                   	if((orderMsg.order_msg||'').length > 0)
//                       $.when(prepareMsg(orderMsg, function(data){
//                         w3DisplayData('orderNotes', data);
						
//                       })).done(function(){ $('#orderNotes').show(0); });{% unless customer.tags contains Role_ASM or customer.tags contains Role_Printer %}
//                     else
//                       $('#orderBtn').hide(0);{% endunless %}
//                 }else
//                   $('#orderNotes').hide(0);
                  
//     			if(data.order.shipping_lines != null ){ $('#shippingPrice').show(); }
    
                try{
                  if(data.order.previous_order_id){
                    $('#prevOrderBtn').attr('onclickf', 'fetch_Order("'+data.order.previous_order_id+'",null, false)').removeAttr('disabled');
                  }else
                    $('#prevOrderBtn').prop('disabled','disabled');
                  if(data.order.next_order_id){
                    $('#nextOrderBtn').attr('onclickf', 'fetch_Order("'+data.order.next_order_id+'",null, true)').removeAttr('disabled');
             	 }else
                    $('#nextOrderBtn').prop('disabled','disabled');
                }catch(e){ console.log(e.message); }    			
    
    			{% if customer.tags contains Role_ASM %}
				printer_id = data.order.printer_id;
                if('fulfilled' == data.order.fulfillment_status){$('select').prop('disabled','disabled').css('cursor','not-allowed');}
    			{% elsif customer.tags contains Role_Printer %}
                  if('fulfilled' == data.order.fulfillment_status){
                    $('#fulfillment option:eq(0)').prop("selected", "selected");
                  }else{
                    $('#fulfillment option:eq(1)').prop("selected", "selected").parent().prop("disabled", "disabled").css('cursor','not-allowed');
                    $('#shipping_details').hide();
                    $('#update-fulfillment').attr('order_id', data.order.id).show();
                  }
    				
                  if(data.order.cancelled_at.length > 0){ $('#shipping_details, #update-fulfillment').hide(); }
    			{% endif %}
    
    			mfpInit();			
    
            	$.unblockUI(); 
    
    			order_data = data;
    			
    			$('#id01').show(); 
  }
  
  
  function createThumbImg(data){ console.log('thumb_called');
  	var i; 
    var img_url;
    var lastIndex;
    var myArray = data['order']['line_items'];
    for (i = 0; i < myArray.length; i++) {

      img_url = data['order']['line_items'][i]["product_image_url"];
      if(img_url != null){
        lastIndex = img_url.lastIndexOf('.');
        data['order']['line_items'][i]["product_thumb_url"] = img_url.substr(0, lastIndex)+'_150x'+img_url.substr(lastIndex);
      }else
        data['order']['line_items'][i]["product_thumb_url"] = 'http://placeholdit.imgix.net/~text?txtsize=35&bg=ddd&txtclr=aaa&txt=No%20Image&w=150&h=200&txttrack=0';
    } 
//     console.log(JSON.stringify(data));
//     return(data);
//        showOrderData(data);
  }

  function dataHide(data){
  	var i; 
    var x;
    var str;
    var total = 0;
    var file_name = '';
    var anchorPre = '';
    var anchorPost = '';
    var nullCount = 0;
    var myArray = data.order.line_items;  //console.log(JSON.stringify(myArray));
    for (i = 0; i < myArray.length; i++) {
      str = myArray[i]["title"].replace().replace(' / Default','').replace(' / Region:NorthEast','').replace(' / Region:SouthEast','').replace(' / Region:California','').replace(' / Region:S0uth','').replace(' / Region:Mountain','').replace(' / Region:MidAtlantic','').replace(' / Region:MidWest','').replace(' / Region:GreatLakes','');
      myArray[i]["title"] = str;
      myArray[i]["line_item_No"] = i;
//       data['order']['properties_'+myArray[i]['product_id']] = myArray[i]['properties'];
      myArray2 = myArray[i]['properties']; nullCount = 0; //console.log(JSON.stringify(myArray2));
      for (x = 0; x < myArray2.length; x++) { //console.log(JSON.stringify(myArray2[x]));
        if((myArray2[x]['property_value'] || '').length == 0 || myArray2[x]['property_name'] == 'Parent ID'){
//         	delete myArray2[x]; 
          	$('head').append('<style class="prop-hide-style">#properties_'+myArray[i]['line_item_No']+'{ display:none; }</style>');
            nullCount++;
        }
        else if(myArray2[x]['property_name'].indexOf("_") != -1 && myArray2[x]['property_value'].indexOf(".") != -1){
        	file_name = myArray2[x]['property_value'];
//           	delete myArray2[x];	
          	$('head').append('<style class="prop-hide-style">#properties_'+myArray[i]['line_item_No']+'{ display:none; }</style>');
            nullCount++;
        }
        else if(myArray2[x]['property_value'].indexOf("/uploads/") != -1){
          if(myArray2[x]['property_value'].toLowerCase().indexOf(".jpg") != -1 ||
             myArray2[x]['property_value'].toLowerCase().indexOf(".jpeg") != -1 ||
             myArray2[x]['property_value'].toLowerCase().indexOf(".png") != -1 ||
             myArray2[x]['property_value'].toLowerCase().indexOf(".gif") != -1 ){
          	anchorPre = "<a class='js-toggle-previewImg-modal zoom-lightbox1' title='View' href='' data-mfp-src='"+myArray2[x]["property_value"]+"'>"
            anchorPost = "</a> &nbsp; <a target='_blank' title='Download' href='"+myArray2[x]["property_value"]+"'><i class='fa fa-download'></a>"
        	myArray2[x]['property_value'] = anchorPre + file_name + anchorPost;
          }else{
          	anchorPre = "<a target='_blank' href='"+myArray2[x]["property_value"]+"'>"
            anchorPost = "</a>"
        	myArray2[x]['property_value'] = anchorPre + file_name + anchorPost;
          }
        }
      } //if(myArray[i]['properties'].length == nullCount){ $('head').append('<style>#properties_'+myArray[i]['line_item_No']+'{ display:none; }</style>'); }
      //else{ $('head').append('<style>#properties_'+myArray[i]['line_item_No']+' p:nth-last-child(1){ display:none; }</style>'); }
    } 
//     data = removeEmpty(data);
//     console.log(JSON.stringify(data));
//     return(data);
//     $.when(createThumbImg(data)).done(showOrderData(data));
//     createThumbImg(data);
  }
  
  function removeEmpty(obj) {
    Object.keys(obj).forEach(function(key) {
      if (obj[key] && typeof obj[key] === 'object') removeEmpty(obj[key])
      else if (obj[key] == null) delete obj[key]
    });
    return obj;
  };
  
  var doc = new jsPDF();
  var specialElementHandlers = {
      '#editor': function (element, renderer) {
          return true;
      }
  };
  
  var element = $('html'); //$('#id01 .grid__item'); // global variable
  var getCanvas; // global variable
 
 function html2Img() { 
   	   $(".printModeExclude").hide();		
   
       html2canvas(element, {
         onrendered: function (canvas) {
//              imgURL = canvas.toDataURL("image/png");
           data = canvas.toDataURL('image/jpeg'); //.slice('data:image/jpeg;base64,'.length);
           // Convert the data to binary form
           printOrder2PDF(data); //atob(data));
//            console.log(data);
         },
         useCORS: true,
         onclone: function(doc){
			$(".printModeExclude").show();
           
          }
       });

  }
  
  function printOrder2PDF(imgData){
    doc.setFont('helvetica');
//   	doc.fromHTML($('#id01 .grid__item').html(), 15, 15, {
//         'width': 500,
//             'elementHandlers': specialElementHandlers
//     });
    doc.addImage(imgData, 'JPEG', 0, 10,200, 200);
    var date = new Date();
    doc.save(order_name+'-print-at-'+date.getTime()+'.pdf');
  }
  
  function windowPrint(){
    $.when( 
      $('{% unless customer.tags contains Role_Printer %}header .grid--full:not(:nth-of-type(1)),{% endunless %} .header-bar, .printModeExclude:visible, footer').hide().toggleClass('visible'),
      $('.site-header__logo img').css('margin','0 0'),
      $('.site-header__logo').toggleClass('w3-col s3').after('<div class="w3-col s9 w3-padding-left after_logo_div"></div>'),
      $('.after_logo_div').html('<div class="w3-col s4 w3-padding-left after_logo_div"><p><b>Order By:</b> '+order_data.order.billing_address.name+'</p></div>'
       +'<div class="w3-col s4 w3-padding-left after_logo_div" style="height:'+'px;"><p><b>Order Date:</b> '+order_data.order.order_date.split('{{ 'now' | date: "%Y" }}')[0]+' {{ 'now' | date: "%Y" }}'+'</p></div>'                        
       ),
//       $('.after_logo_div').append('<br><h4>Order by: </h4>'+$('#billing_address .name').text()+', '+$('#billing_address .email').text()+' | <h4>Order Vendor: </h4>'+($('#assign-printer option:selected').text() == 'Select Vendor') ? 'Not Assigned' : $('#assign-printer option:selected').text() ),
//       $('.fulfillment_block2').html(' | '+$('.fulfillment_block').html()),
      $('#address-hidden, #id01').css({ 'position':'relative', 'bottom':'80px'}),
//       $('#id01, #id02').find('.grid__item:nth-of-type(1)').toggleClass('w3-padding-0').first().css('margin','0'),
      $('.printModeInclude').toggleClass('hide'),
      $('.print-one-whole').toggleClass('w3-right one-whole two-thirds'),
      $('#address').toggleClass('hide'),
      $('#address-hidden').html($('#address').html().replace(/ s4/g,' s2')+'<br><br>').toggleClass('hide') //.find('.print-w3-half').toggleClass('grid__item one-half w3-padding-0')
    ).done(function(){ 
    	window.print();
    });
    {% comment %}{% endcomment %}
    $('{% unless customer.tags contains Role_Printer %}header .grid--full:not(:nth-of-type(1)),{% endunless %} .header-bar, .printModeExclude.visible, footer').show().toggleClass('visible');
    $('.site-header__logo img').css('margin','0 auto');
    $('.site-header__logo').toggleClass('w3-col s3');
    $('.after_logo_div').remove();
    $('#address-hidden, #id01').css({'position':'', 'bottom':''});
    
//     $('#id01, #id02').find('.grid__item:nth-of-type(1)').toggleClass('w3-padding-0').first().css('margin','');
    $('.printModeInclude').toggleClass('hide');
    $('.print-one-whole').toggleClass('w3-right one-whole two-thirds');
    $('#address').toggleClass('hide');
    $('#address-hidden').html('').toggleClass('hide').find('.print-w3-half').toggleClass('grid__item one-half w3-padding-0')
    
  }
</script> 