{% layout none%}

{% include 'customer-account-common-code' with 'theme-layout-code' %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>Catalog</title>
      	{% if customer.tags contains Role_User or customer.tags contains Role_Manager %}
          <meta content="0; url={{shop.secure_url}}/collections/{{ customer_region_tag | remove: 'Region:' | downcase | append: '-products?sort_by=created-descending' | replace:'s0uth','south' }}" http-equiv="refresh" />
      	{% elsif customer.tags contains Role_ASM %}
          <meta content="0; url={{shop.secure_url}}/collections/{{ customer_region_tag | remove: 'Region:' | downcase | append: '-my-products?sort_by=created-descending' | replace:'s0uth','south' }}" http-equiv="refresh" />
      	{% elsif customer.tags contains Role_Admin %}
          <meta content="0; url={{shop.secure_url}}/collections/{{ customer_region_tag | remove: 'Region:' | downcase | append: 'all?sort_by=created-descending' | replace:'s0uth','south' }}" http-equiv="refresh" />
      	{% endif %}
	</head>
	<body>

	</body>
</html>
